<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h3> edit restaurant here </h3>

    <form action="/admin/edit-restaurant-post" method="POST" enctype="multipart/form-data">
        <p>Image max size: 5MB</p>
        <div>
            <label> Id </label>
            <input type="text" id="id" name="id" value="<%= restaurant._id %>">
        </div>

        <div>
            <label> Title </label>
            <input type="text" id="title" name="title" value="<%= restaurant.title %>">
        </div>

        <div>
            <label> Price </label>
            <input type="text" id="price" name="price" value="<%= restaurant.price %>">
        </div>

        <div>
            <label> Description </label>
            <input type="text" id="description" name="description" value="<%= restaurant.description %>">
        </div>

        <div>
            <label> Image </label>
            <input type="file" id="imageUrl" name="image">
            <input hidden type="text" id="imageCheck" name="imageCheck" value="<%= restaurant.imageUrl %>">
        </div>

        <button class="btn" type="submit">Submit Changes</button>
    </form>
</body>
</html>
