<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
</head>
<body>

    <%- include('../snippets/html_nav_menu_admin.ejs') %>

    <main>
        <!-- <h1>My Restaurants</h1>
        <p> List of all the restaurants...</p> -->
        <% if (prods.length > 0) { %>
        <div class="grid">
        <% for (let restaurant of restaurants) { %>
            <article class="card restaurant-item">
                <header class="card__header">
                    <h1 class="restaurant"><%= product.title %></h1>
                </header>
                <p><%= restaurant._id %></p>

                <div class="card__image">
                    <img src="/<%= restaurant.imageUrl %>" alt="<%= restaurant.title %>"> <!-- uses slash to avoid /admin in imageUrl --> 
                </div>
                
                <div class="card__content">
                    <h2 class="restaurant">$<%= product.price %></h2>
                    <p class="restaurant"><%= product.description %></p>
                </div>
                
                <div class="card__actions">
                    <button><a href="/admin/edit-restaurant/<%= restaurant._id %>">Edit</a></button>
                    
                    <form action="/admin/delete-restaurant/<%= restaurant._id %>" method="POST">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </div>
            </article>
        <% } %>
    </div>
    <% } else { %>
        <h1> No Restaurants found</h1>
    <% } %>
    </main>
</body>
</html>