<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Admin Reviews</title>
    <script>
        function displayEditReview(number)
        {
            console.log(number);

            var d = document.getElementById("review#" + number);
            var edit = document.getElementById("edit-review#" + number);
          
            d.hidden = true;
            edit.hidden = false;

        }

        function undisplayEditReview(number)
        {
            console.log(number);

            var d = document.getElementById("review#" + number);
            var edit = document.getElementById("edit-review#" + number);
          
            d.hidden = false;
            edit.hidden = true;

        }
    </script>
</head>
<body>
    <%- include('../snippets/html_nav_menu_admin.ejs') %>

    <h3 style="margin-top: 10px; margin-bottom: 5px; text-align: center;">Total Reviews: <%=reviews.length %></h3>

    <% for(var i = 0; i < reviews.length; i++) { %>
        <div id="review#<%=i + 1 %>" style="margin: auto; margin-bottom: 10px; background-color: orange; padding: 10px; width: 400px;">    
        <button style="display: block;" onclick="displayEditReview('<%=i + 1%>')">Edit</button><br />
        
            <p><%=reviews[i]._id %></p>
            <p><%=reviews[i].reviewObject.date %></p>
            <p><%=reviews[i].restaurant %></p>
            <p><%=reviews[i].reviewObject.rating %></p>
            <p><%=reviews[i].user %></p>
            <p><%=reviews[i].reviewObject.items %></p>
            <p><%=reviews[i].reviewObject.comment %></p>
        </div>

        <div hidden id="edit-review#<%=i + 1%>" style="margin: auto; margin-bottom: 10px; background-color: orange; padding: 10px; width: 400px;">
            <button style="display: block;" onclick="undisplayEditReview('<%=i + 1%>')">Cancel</button><br />

            <form action="/admin/edit-reviews" method="POST">
                <input name="id" value="<%=reviews[i]._id %>" style="width: 100%"></input><br />
                <input name="date" value="<%=reviews[i].reviewObject.date %>" style="width: 100%"></input><br />
                <input name="restaurant" value="<%=reviews[i].restaurant %>" style="width: 100%"></input><br />
                <input name="rating" value="<%=reviews[i].reviewObject.rating %>" style="width: 100%"></input><br />
                <input name="user" value="<%=reviews[i].user %>" style="width: 100%"></input><br />
                <input name="items" value="<%=reviews[i].reviewObject.items %>" style="width: 100%"></input><br />
                <textarea name="comment" style="min-height: 125px; min-width: 99.5%; max-width: 99.6%;"><%=reviews[i].reviewObject.comment %></textarea><br />
                <button style="display: block; margin: auto; margin-top: 10px; width: 50%;">Submit</button>
            </form>
        </div>
    <% } %>
</body>
</html>