<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <title>Admin Reviews</title>
    <script>
        // function displayEditReview(number)
        // {
        //     console.log(number);

        //     var d = document.getElementById("review#" + number);
        //     var edit = document.getElementById("edit-review#" + number);
          
        //     d.hidden = true;
        //     edit.hidden = false;

        // }

        // function undisplayEditReview(number)
        // {
        //     console.log(number);

        //     var d = document.getElementById("review#" + number);
        //     var edit = document.getElementById("edit-review#" + number);
          
        //     d.hidden = false;
        //     edit.hidden = true;

        // }

        function displayEditReview(number)
        {
            console.log(number);

            var d = document.getElementById("review#" + number);
            var edit = document.getElementById("edit-review#" + number);
          
            d.hidden = true;
            edit.hidden = false;

        }

        function undisplayEditReview(number)
        {
            console.log(number);

            var d = document.getElementById("review#" + number);
            var edit = document.getElementById("edit-review#" + number);
          
            d.hidden = false;
            edit.hidden = true;

        }

        function displayDeleteReview(number)
        {
            console.log(number);

            var d = document.getElementById("review#" + number);
            var edit = document.getElementById("delete-review#" + number);
          
            d.hidden = true;
            edit.hidden = false;

        }

        function undisplayDeleteReview(number)
        {
            console.log(number);

            var d = document.getElementById("review#" + number);
            var edit = document.getElementById("delete-review#" + number);
          
            d.hidden = false;
            edit.hidden = true;

        }

        function search(totalReviews)
        {
            var searchBoxInput = document.getElementById("searchBoxInput").value
            var totalReviewsText = document.getElementById("totalReviewsText");
            var searchString = String(searchBoxInput).toLowerCase();
            var reviewsArray = [];
            var searchFoundCount = 0;

            if(searchBoxInput != "")
            {
                for(var c = 1; c <= totalReviews; c++)
                {
                    var review = document.getElementById("review#" + c)
                    //console.log(menuItem);
                    //console.log(menuItem.parentNode);
                    //console.log(menuItemCategory);
    
                    if(review.innerHTML.toLowerCase().includes(searchString))
                    {
                        reviewsArray.push(review);
                        searchFoundCount++;
                        review.hidden = false;
                        review.style.opacity = "100%";
                    }
                    
                    else
                    {
                        review.hidden = true;
                    }        
                    
                    if(searchFoundCount == 1)
                    {
                        totalReviewsText.innerHTML = "Found: " + searchFoundCount + " Review";
                    }

                    else
                    {
                        totalReviewsText.innerHTML = "Found: " + searchFoundCount + " Reviews";
                    }
                }
            }

            else
            {
                for(var c = 1; c <= totalReviews; c++)
                {
                    var review = document.getElementById("review#" + c)
                    
                    reviewsArray.push(review);
                    review.hidden = false;
                    review.style.opacity = "100%";
                }

                totalReviewsText.innerHTML = "Total Reviews: " + totalReviews;
            }
        }

        function saveScrollPosition()
        {
            var y = window.scrollY;
            localStorage.setItem("scrollPositionY", y);
        }

        function loadSavedScrollPosition()
        {
            var positionY = localStorage.getItem("scrollPositionY");
            window.scrollTo(0, positionY)
        }
    </script>
</head>
<body style="background-color: lightgray;" onload="loadSavedScrollPosition()" onscroll="saveScrollPosition()">
    <%- include('../snippets/html_nav_menu_admin.ejs') %>

    <!-- <script>
        var navButtonAdminHome = document.getElementById("navButtonAdminReviews");
        navButtonAdminHome.style.backgroundColor = "lightgray";
    </script> -->
    
    <div id="searchBox" style="margin: 0px; margin-top: 25px; padding: 0px; text-align: center;">
        <input id="searchBoxInput" class="search-admin" style="margin-bottom: 25px; height: 38px;" placeholder="Search..." onkeyup="search('<%=reviews.length %>')"></input>
    </div>

    <h3 id="totalReviewsText" style="margin-top: 25px; margin-bottom: 15px; text-align: center;">Total Reviews: <%=reviews.length %></h3>

    <!-- <h3 style="margin-top: 10px; margin-bottom: 5px; text-align: center;">Total Reviews: <%=reviews.length %></h3> -->

    <% for(var i = 0; i < reviews.length; i++) { %>
        <!-- <div id="review#<%=i + 1 %>" style="margin: auto; margin-bottom: 10px; border: 1px solid black; background-color: #f7f9f9; padding: 10px; width: 400px;">    
        <button style="display: block;" onclick="displayEditReview('<%=i + 1%>')">Edit</button><br />
        
            <p><%=reviews[i]._id %></p>
            <p><%=reviews[i].reviewObject.date %></p>
            <p><%=reviews[i].restaurant %></p>
            <p><%=reviews[i].reviewObject.rating %></p>
            <p><%=reviews[i].user %></p>
            <p><%=reviews[i].reviewObject.items %></p>
            <p><%=reviews[i].reviewObject.comment %></p>
        </div> -->

        <!-- <div hidden id="edit-review#<%=i + 1%>" style="margin: auto; margin-bottom: 10px; border: 1px solid black; background-color: #f7f9f9; padding: 10px; width: 400px;">
            <button style="display: block;" onclick="undisplayEditReview('<%=i + 1%>')">Cancel</button><br />

            <form action="/admin/edit-reviews" method="POST">
                <input name="id" value="<%=reviews[i]._id %>" style="width: 100%"></input><br />
                <input name="date" value="<%=reviews[i].reviewObject.date %>" style="width: 100%"></input><br />
                <input name="restaurant" value="<%=reviews[i].restaurant %>" style="width: 100%"></input><br /><br />
                <p style="text-align: center;"><b>Review</b></p>
                <input name="rating" value="<%=reviews[i].reviewObject.rating %>" style="width: 100%"></input><br />
                <input name="user" value="<%=reviews[i].user %>" style="width: 100%"></input><br />
                <input name="items" value="<%=reviews[i].reviewObject.items %>" style="width: 100%"></input><br />
                <textarea name="comment" style="min-height: 75px; max-height: 225px; min-width: 404px; max-width: 404px; background-color: white"><%=reviews[i].reviewObject.comment %></textarea><br />
                <button style="display: block; margin: auto; margin-top: 10px; width: 50%;">Submit</button>
            </form>
        </div> -->

        <div id="review#<%=i + 1%>" class="admin-card">      
            <p style="margin-bottom: 4px; margin-left: 2px; margin-top: 9px;"><%=reviews[i]._id %></p>
            <p style="margin-bottom: 4px; margin-left: 2px;"><%=reviews[i].reviewObject.date %></p> 
            <p style="margin-bottom: 4px; margin-left: 2px;"><%=reviews[i].restaurant %></p>
            <p style="margin-bottom: 4px; margin-left: 2px;"><%=reviews[i].reviewObject.rating %></p>
            <p style="margin-bottom: -2px; margin-left: 2px;"><%=reviews[i].user %></p>
            <p style="margin-bottom: -2px; margin-left: 2px;"><%=reviews[i].reviewObject.items %></p>
            <p style="margin-bottom: -2px; margin-left: 2px;"><%=reviews[i].reviewObject.comment %></p>
            
            <div style="text-align: right;">
                <button class="admin-card-button" onclick="displayEditReview('<%=i + 1%>')" style="margin-top: 10px; margin-right: -5.5px;"><b>Edit</b></button>
                <button class="admin-card-button" onclick="displayDeleteReview('<%=i + 1%>')" style="background-color: red;"><b>Delete</b></button><br />
            </div>
        </div>

        <!-- edit -->
        <div class="admin-edit" hidden id="edit-review#<%=i + 1%>">
            <button class="admin-card-button" style="margin-bottom: 10px; margin-left: 10px; margin-top: 10px; margin-right: 303px;" onclick="undisplayEditReview('<%=i + 1%>')"><b>Cancel</b></button><br />

            <form action="/admin/edit-review" method="POST">
                <input class="input-admin" name="id" value="<%=reviews[i]._id %>"></input><br />
                <input  class="input-admin"name="date" value="<%=reviews[i].reviewObject.date %> %>"></input><br />
                <input class="input-admin" name="restaurant" value="<%=reviews[i].restaurant %>"></input><br />
                <input class="input-admin" name="rating" value="<%=reviews[i].reviewObject.rating %>"></input><br />
                <input class="input-admin" name="user" value="<%=reviews[i].user %>"></input><br />
                <input class="input-admin" name="items" value="<%=reviews[i].reviewObject.items %>"></input><br />
                <input class="input-admin" name="comment" value="<%=reviews[i].reviewObject.comment %>"></input><br />
                <button class="admin-card-button" style="display: block; margin: auto; margin-top: 11px; margin-bottom: 11px; width: 200px;"><b>Confirm Edit</b></button>
            </form>
        </div>

        <!-- delete -->
        <div class="admin-delete" hidden id="delete-review#<%=i + 1%>">
            <button class="admin-card-button" style="margin-bottom: 10px; margin-left: 10px; margin-top: 10px;" onclick="undisplayDeleteReview('<%=i + 1%>')"><b>Cancel</b></button><br />

            <form action="/admin/delete-review" method="POST">
                <input hidden name="id" value="<%=reviews[i]._id %>"></input>
                <button class="admin-card-button" style="display: block; margin: auto; margin-top: 124px; margin-bottom: 11px; width: 200px; background-color: red;"><b>Confirm Delete</b></button>
            </form>
        </div>
    <% } %>
</body>
</html>