<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <link rel="stylesheet" href="/css/portalRestaurant.css">
</head>
<a href="/portal"><nav id="NavBar"><p><b>Home</b></p></nav></a>
<body>
    <% var thisMonth = new Date().getMonth() %>
    <% var totalSales = 0 %>
    <% var totalSalesThisMonth = 0 %>
    <% var totalSalesMondays = 0 %>
    <% var totalSalesTuesdays = 0 %>
    <% var totalSalesWednesdays = 0 %>
    <% var totalSalesThursdays = 0 %>
    <% var totalSalesFridays = 0 %>
    <% var totalSalesSaturdays = 0 %>
    <% var totalSalesSundays = 0 %>
    <% var totalOrders = orders.length %>
    <% var totalCompleted = 0 %>
    <% var totalDeclined = 0 %>
    <% var totalDelivery = 0 %>
    <% var totalPickUp = 0 %>
    <% var customers = [] %>
    <h2 style="text-align: center;">Statistics</h2>
    
    <% for(var counter = 0; counter < orders.length; counter++) { %>
        <% var orderCustomer = orders[counter].user %>
        <% var orderTotalAmount = parseFloat((orders[counter].totalPrice.slice(1))); %>
        <% totalSales += orderTotalAmount %>
        <% var orderDate = Date.parse(orders[counter].date) %>
        <% var dateObject = new Date(orderDate) %>
        <% var orderDate = dateObject %>

        <% if(orders[counter].status == "completed") { %>
            <% totalCompleted++; %>
        <% } %>

        <% if(orders[counter].status == "declined") { %>
            <% totalDeclined++; %>
        <% } %>

        <% if(orders[counter].type == "delivery") { %>
            <% totalDelivery++; %>
        <% } %>

        <% if(orders[counter].type == "pick up") { %>
            <% totalPickUp++; %>
        <% } %>

        <% if (orderDate.getMonth() == thisMonth) { %>
            <% totalSalesThisMonth += orderTotalAmount %>
        <% } %>

        <!-- monday -->
        <% if (orderDate.getDay() == 1) { %>
            <% totalSalesMondays += orderTotalAmount %>
        <% } %>

        <!-- tuesday -->
        <% if (orderDate.getDay() == 2) { %>
            <% totalSalesTuesdays += orderTotalAmount %>
        <% } %>

        <!-- wednesday -->
        <% if (orderDate.getDay() == 3) { %>
            <% totalSalesWednesdays += orderTotalAmount %>
        <% } %>

        <!-- thursday -->
        <% if (orderDate.getDay() == 4) { %>
            <% totalSalesThursdays += orderTotalAmount %>
        <% } %>

        <!-- friday -->
        <% if (orderDate.getDay() == 5) { %>
            <% totalSalesFridays += orderTotalAmount %>
        <% } %>

        <!-- saturday-->
        <% if (orderDate.getDay() == 6) { %>
            <% totalSalesSaturdays += orderTotalAmount %>
        <% } %>

        <!-- sunday -->
        <% if (orderDate.getDay() == 0) { %>
            <% totalSalesSundays += orderTotalAmount %>
        <% } %>

        <% customers.push(orderCustomer) %>  
        
    <% } %> 

    <div id="" style="width: 450px; margin: auto;">
        <p style="text-align: center; text-decoration: underline; margin-bottom: 5px; padding-bottom: 0px;"><b>Sales</b></p>
            <p style="text-align: center; margin: 0px; padding: 0px;"><b>All Time:</b> $<%=totalSales %></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>This Month:</b> $<%=totalSalesThisMonth %></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>Mondays:</b> $<%=totalSalesMondays %></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>Tuesdays:</b> $<%=totalSalesTuesdays %></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>Wednesdays:</b> $<%=totalSalesWednesdays %></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>Thursdays:</b> $<%=totalSalesThursdays %></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>Fridays:</b> $<%=totalSalesFridays %></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>Saturdays:</b> $<%=totalSalesSaturdays %></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>Sundays:</b> $<%=totalSalesSundays %></p>
        <p style="text-align: center; text-decoration: underline; margin-bottom: 5px; padding-bottom: 0px;"><b>Orders</b></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>Total:</b> <%=totalOrders %></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>Completed:</b> <%=totalCompleted %></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>Declined:</b> <%=totalDeclined %></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>Delivery:</b> <%=totalDelivery %></p>
            <p style="text-align: center; margin: 0px; padding: 0px;""><b>Pick Up:</b> <%=totalPickUp %></p>
        <p style="text-align: center; text-decoration: underline; margin-bottom: 5px; padding-bottom: 0px;"><b>Customers</b></p>
        <% customersNoDuplicates = Array.from(new Set(customers)); %>
        <!-- <p style="text-align: center; margin: 0px; padding: 0px;"><b>Unique:</b> <%=customersNoDuplicates.length %></p> -->
        <p style="text-align: center; margin: 0px; padding: 0px;"><b>Total:</b> <%=customersNoDuplicates.length %></p>
    </div>
</body>
</html>