<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Menu</title>
        <link rel="stylesheet" href="/css/portalRestaurant.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
        <script>
            function collapseMenuEditCategory(id)
            {
                var categoryDiv = document.getElementById(id);
            }
            
            function deleteItem(item, category, itemNumber)
            {                
                var itemsElementCounter = document.getElementsByClassName("item");
                var itemCounterParagraph = document.getElementById("itemCounterParagraph");
                var getLocalStorage = localStorage.getItem("items");
                var a = [];
                var i = JSON.parse(getLocalStorage);
                var itemToLookFor = String(category).toLowerCase() + itemNumber;
                
                //push local storage items to array
                for(var c = 0; c < i.length; c++)
                {
                    a.push(i[c]);
                }

                //look for item
                if(getLocalStorage.includes(itemToLookFor))
                {
                    console.log("localStorage contains id");

                    //check what item
                    for(var c = 0; c < i.length; c++)
                    {            
                        //remove item from localstorage        
                        if(a[c].id.includes(itemToLookFor))
                        {
                            console.log("item " + c + " contains id");
                            a.splice(c, 1);
                            localStorage.setItem("items", JSON.stringify(a));
                            break;
                        }

                    }
                    
                }                
                
                //remove div
                document.getElementById(item).remove();
                
                //recount categories
                countCategories(category);
               
                //update items count
                itemCounterParagraph.innerHTML = "Items " + "(" + (itemsElementCounter.length) + ")";

                //update items input form
                setFormWithCorrectData();

            }

            function addItem(itemCategory)
            {
                var itemsInCategoryCount = countCategories(itemCategory);
                var itemName = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1);

                //expand category if collapsed
                var expand = document.getElementById("category" + itemCategory + "Body");
                expand.style.display = "block";
                expand.style.paddingTop = "25px";
                expand.style.paddingBottom = "50px";
                expand.style.backgroundColor = "royalblue";
         
                //create item div
                var div = document.createElement("div");
                div.id = itemName;
                div.className = "item " + String(itemCategory).toLowerCase();
                div.style.backgroundColor = "royalblue";
                div.style.paddingTop = "20px";

                //update items and category count
                var itemsElementCounter = document.getElementsByClassName("item");
                var categoryElementCounter = document.getElementsByClassName(String(itemCategory).toLowerCase());
                var itemCounterParagraph = document.getElementById("itemCounterParagraph");
                var categoryCounterParagraph = document.getElementById("categoryCounterParagraph" + itemCategory);
                itemCounterParagraph.innerHTML = "Items " + "(" + (itemsElementCounter.length + 1) + ")";
                categoryCounterParagraph.innerHTML = "<b>" + itemCategory + " (" + (categoryElementCounter.length + 1) + ")</b>";

                //create elements
                var inputPosition = document.createElement("input");
                var inputId = document.createElement("input");
                var inputCategory = document.createElement("input");
                var inputTitle = document.createElement("input");
                var inputPrice = document.createElement("input");
                var inputDescription = document.createElement("input");
                var buttonRemove = document.createElement("button");
                
                //position
                inputPosition.id = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1) + "-input-position";
                inputPosition.name = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1) + "-position";
                inputPosition.placeholder = "position";
                inputPosition.value = (itemsInCategoryCount + 1);
                inputPosition.className = "itemInput";
                inputPosition.onkeyup = function() {setItemLocalStorage("item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1))};
                inputPosition.style.display = "none";
                
                //id
                inputId.id = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1) + "-input-id";
                inputId.name = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1) + "-id";
                inputId.placeholder = "id";
                inputId.value = String(itemCategory).toLowerCase() + (itemsInCategoryCount + 1);
                inputId.className = "itemInput";

                //category
                inputCategory.id = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1) + "-input-category";
                inputCategory.name = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1) + "-category";
                inputCategory.placeholder = "category";
                inputCategory.value = String(itemCategory).toLowerCase();
                inputCategory.className = "itemInput";

                //title
                inputTitle.id = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1) + "-input-title";
                inputTitle.name = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1) + "-title";
                inputTitle.placeholder = "title";
                inputTitle.value = String(itemCategory).toLowerCase() + " item " + (itemsInCategoryCount + 1);;
                inputTitle.className = "itemInput";
                inputTitle.onkeyup = function() {setItemLocalStorage("item-" + itemCategory + "#" + (itemsInCategoryCount + 1))};
                
                //price
                inputPrice.id = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1) + "-input-price";
                inputPrice.name = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1) + "-price";
                inputPrice.placeholder = "price";
                inputPrice.value = 10;
                inputPrice.className = "itemInput";
                inputPrice.onkeyup = function() {setItemLocalStorage("item-" +  itemCategory + "#" + (itemsInCategoryCount + 1))};
                
                //description
                inputDescription.id = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1) + "-input-description";    
                inputDescription.name = "item-" + String(itemCategory).toLowerCase() + "#" + (itemsInCategoryCount + 1) + "-description";    
                inputDescription.placeholder = "description";
                inputDescription.className = "itemInput";
                inputDescription.onkeyup = function() {setItemLocalStorage("item-" + itemCategory + "#" + (itemsInCategoryCount + 1))};
                
                //values
                var sliceThis = itemCategory.toString();
                var slicedCategory = sliceThis.slice(0, (sliceThis.length - 1));
                if(sliceThis[(sliceThis.length - 1)] == "s")
                {
                    inputDescription.value = "description of " + slicedCategory.toLowerCase() + " " + (itemsInCategoryCount + 1);;
                }

                else
                {
                    inputDescription.value = "description of " + itemCategory.toLowerCase() + " " + (itemsInCategoryCount + 1);;
                }
                        
                //disabled
                inputId.disabled = true;
                inputCategory.disabled = true;

                //hidden
                inputId.style.display = "none";
                inputCategory.style.display = "none";
                                
                //remove item on click text
                buttonRemove.innerHTML = "Remove";
                buttonRemove.onclick = function() {deleteItem(itemName, itemCategory, (itemsInCategoryCount + 1))};
                buttonRemove.className = "buttonRemoveItem"

                //appends
                document.getElementById("category" + itemCategory + "Body").appendChild(div)
                div.appendChild(inputPosition);
                div.appendChild(inputId);
                div.appendChild(inputCategory);
                div.appendChild(inputTitle);
                div.appendChild(inputPrice);
                div.appendChild(inputDescription);
                div.appendChild(buttonRemove);

                //set item to local storage
                setItemLocalStorage("item-" + itemCategory.toLowerCase() + "#" + (itemsInCategoryCount + 1));

                //update items input form
                setFormWithCorrectData();
            }

            function addCategory()
            {
                var promptAnswer = prompt("type desired name for category");

                //validation
                if(promptAnswer == null || promptAnswer == "" || promptAnswer == " ")
                {
                    //do nothing
                }

                if(promptAnswer.includes(" "))
                {
                    //do nothing
                }

                else
                {
                    var categories = document.getElementById("menuEditRestaurantCategory");
                    var menuItemsDiv = document.getElementById("menuEditRestaurantItems");
                    var formTest = document.getElementById("laskdssassdad");
                    var getTotalNumberOfCategories = countCategoriesInCategories();
                    var promptAnswerUnformatted = promptAnswer.toLowerCase();
                    
                    //make sure white spaced is handled
                    var promptAnswerWhiteSpaceHandled = "";
                    var t = promptAnswer.split(" ");

                    for(var c = 0; c < t.length; c++)
                    {
                        if(c != t.length - 1)
                        {
                            promptAnswerWhiteSpaceHandled += (t[c].toString().charAt(0).toUpperCase() + t[c].toString().slice(1)) + "-";
                        }

                        else
                        {
                            promptAnswerWhiteSpaceHandled += (t[c].toString().charAt(0).toUpperCase() + t[c].toString().slice(1));
                        }

                    }

                    //further handling of white space
                    t = t.toString().replace(/,/g, "")
                    promptAnswer = promptAnswerWhiteSpaceHandled;
                    var promptAnswerFormatted = promptAnswer.toLowerCase();
                    var promptAnswerFirstLetterUpperCase = promptAnswer.charAt(0).toUpperCase() + promptAnswer.slice(1);

                    //create div
                    var div = document.createElement("div");
                    div.id="category#" + (getTotalNumberOfCategories + 1);

                    //create input
                    var input = document.createElement("input");
                    input.id = "categoryInput#" + (getTotalNumberOfCategories + 1);
                    input.className = "categoryInput";
                    input.value = promptAnswerUnformatted.toLowerCase();
                    input.onkeyup = function() {
                        setCategoryToLocalStorage(input.value)
                        renameCategoryEverywhere((getTotalNumberOfCategories + 1));
                    };
                    input.disabled = true;

                    //create bold
                    var bold1 = document.createElement("b");
                    bold1.innerHTML = (getTotalNumberOfCategories + 1);
                    bold1.style = "margin-left: 4px;";
                    
                    var bold3 = document.createElement("b");
                    bold3.id = "categoryInput#" + (getTotalNumberOfCategories + 1) + "-position";
                    bold3.name = promptAnswer;
                    bold3.value = (getTotalNumberOfCategories + 1);
                    bold3.className = "categoryArrows categoryUp"
                    bold3.innerHTML = "▲";
                    bold3.style = "margin-left: 4px;";
                    bold3.onclick = function() {changePositionCategories(this.value, (this.value - 1), this.name)};

                    //create category div
                    var categoryDiv = document.createElement("div");
                    var split = promptAnswer.split(" ");
                    
                    for(var c = 0; c < split.length; c++)
                    {
                        split[c] = split[c].charAt(0).toUpperCase() + split[c].slice(1);
                    }

                    var formattedString = split.toString().replace(/,/g, '');

                    categoryDiv.id = "category" + formattedString;
                    categoryDiv.className = "menu-edit-category";
                    categoryDiv.style.display = "block";
                    categoryDiv.style.margin = "auto";
                    categoryDiv.style.border = "2px solid black";

                    //categoryHeader
                    var categoryHeaderBold = document.createElement("b");   
                    var categoryHeaderLabel1 = document.createElement("label");
                    var categoryHeaderLabel2 = document.createElement("label");
                    var categoryHeaderLabel3 = document.createElement("label");
                    var categoryHeaderLabel4 = document.createElement("label");
                    categoryHeaderBold.innerHTML = (getTotalNumberOfCategories + 1) + " ";
                    categoryHeaderLabel1.innerHTML = "[Collapse] ";
                    categoryHeaderLabel3.innerHTML = "<b>" + promptAnswer + " (0)</b>";
                    categoryHeaderLabel3.id = "categoryCounterParagraph" + promptAnswerFirstLetterUpperCase;
                    categoryHeaderLabel4.innerHTML = " [Add Item]";
                    categoryHeaderLabel4.onclick = function() {addItem(promptAnswerFirstLetterUpperCase)};

                    //categoryHeaderInput
                    var categoryHeaderInput1 = document.createElement("input");
                    categoryHeaderInput1.id = "categoryInput#" + (getTotalNumberOfCategories + 1) + "-disabled";
                    categoryHeaderInput1.disabled = true;
                    categoryHeaderInput1.hidden = true;

                    //categoryHeaderDiv
                    var categoryHeaderDiv = document.createElement("div");
                    categoryHeaderDiv.id = "category" + promptAnswerFirstLetterUpperCase + "Header";
                    categoryHeaderDiv.className = "menu-edit-category";
                    categoryHeaderDiv.style = "margin: auto; padding-top: 5px; padding-bottom: 5px; background-color: royalblue;";

                    //categoryBody
                    var categoryBodyDiv = document.createElement("div");
                    categoryBodyDiv.id = "category" + promptAnswerFirstLetterUpperCase + "Body";
                    categoryBodyDiv.className = "item";
                    categoryBodyDiv.style.display = "block";
                    categoryBodyDiv.style.margin = "auto";
        
                    //label
                    var label = document.createElement("label");
                    label.innerHTML = " X ";
                    label.style = "margin-left: 0px;";
                    label.onclick = function() {deleteCategory((getTotalNumberOfCategories + 1), formattedString)};
                        
                    //appends
                    categoryHeaderDiv.appendChild(categoryHeaderLabel1);
                    categoryHeaderDiv.appendChild(categoryHeaderInput1);
                    categoryHeaderDiv.appendChild(categoryHeaderLabel3);
                    categoryHeaderDiv.appendChild(categoryHeaderLabel4);
                    div.appendChild(label);    
                    div.appendChild(input);
                    div.appendChild(bold1);
                    div.appendChild(bold3);
                    categories.appendChild(div);
                    categoryDiv.appendChild(categoryHeaderDiv);
                    categoryDiv.appendChild(categoryBodyDiv);
                    formTest.append(categoryDiv);

                    //bug fix
                    document.getElementById(categoryHeaderInput1.id).value = promptAnswerUnformatted.toLowerCase();
                    
                    //set category to local storage
                    setCategoryToLocalStorage(promptAnswer.toLowerCase());

                    //update categories input form
                    setFormWithCorrectData();

                    //refresh categories list to load all arrows
                    changePositionCategories(null, null, null);

                    //update categoriesCount
                    document.getElementById("menuEditCategories").innerHTML = "Categories (" + (getTotalNumberOfCategories + 1) + ")";
                }
            }

            function countCategories(c)
            {
                var category = document.getElementById("categoryCounterParagraph" + c.charAt(0).toUpperCase() + c.slice(1));
                var count = document.getElementsByClassName(String(c).toLowerCase()).length;
                var categoryFirstLetterUpperCase = c.charAt(0).toUpperCase() + c.slice(1);

                if(count != null && count != 0)
                {
                    category.innerHTML = "<b>" + categoryFirstLetterUpperCase + " (" + count + ")" + "</b>";
                    return count;
                }
                
                else
                {
                    category.innerHTML = "<b>" + categoryFirstLetterUpperCase + " (" + 0 + ")" + "</b>";
                    return 0;
                }

            }

            function countCategoriesForSpecificItem(position, id, category)
            {
                var inputPosition = document.getElementById(position);
                var inputId = document.getElementById(id);
                var count = document.getElementsByClassName(String(category).toLowerCase()).length;
                
                inputPosition.value = count;
                inputPosition.name = "item-" + category + "#" + count + "-position";
                inputId.value = category + count;
            }

            function countCategoriesInCategories()
            {
                var count = document.getElementsByClassName("categoryInput");

                return count.length;
            }

            function collapseDiv(id)
            {
                var div = document.getElementById(id);
                
                if(div.style.display == "block")
                {
                    div.style.display = "none";
                }

                else if(div.style.display = "none")
                {
                    div.style.display = "block";
                    div.style.margin = "auto";
                    div.style.paddingTop = "30px";
                    div.style.paddingBottom = "50px";
                    div.style.backgroundColor = "royalblue";
                }
            }

            function deleteCategory(number, id)
            {
                id = String(id);
                var formattedString = "category" + (id.charAt(0).toUpperCase() + id.slice(1));
                
                //ask user
                var p = prompt("This will delete the category " + id + " and all it's items, type Remove " + String(id).toUpperCase() + " if you wanna proceed");
                
                if(p == "Remove " + String(id).toUpperCase())
                {
                    document.getElementById("category#" + number).remove();
                    document.getElementById(formattedString).remove();

                    //remove category from local storage
                    var getLocalStorageCategories = localStorage.getItem("categories");
                    var a = [];
                    var i = JSON.parse(getLocalStorageCategories);
                    var itemToLookFor = id.toLowerCase();
                    
                    for(var c = 0; c < i.length; c++)
                    {
                        a.push(i[c]);
                    }

                    if(getLocalStorageCategories.includes(itemToLookFor))
                    {
                        //check what item
                        for(var c = 0; c < i.length; c++)
                        {            
                            //remove item from localstorage        
                            if(a[c].categoryName.includes(itemToLookFor))
                            {
                                a.splice(c, 1);
                                localStorage.setItem("categories", JSON.stringify(a));
                                break;
                            }

                        }
                        
                    }

                    //remove items with the category
                    var getLocalStorageItems = localStorage.getItem("items");
                    var a = [];
                    var b = [];
                    var i = JSON.parse(getLocalStorageItems);
                    var itemToLookFor = id.toLowerCase();
                    
                    for(var c = 0; c < i.length; c++)
                    {
                        a.push(i[c]);
                    }

                    if(getLocalStorageItems.includes(itemToLookFor))
                    {
                        //check what item                   
                        for(var counter = 0; counter <= a.length - 1; counter++)
                        {            
                            //remove item from localstorage
                            if(a[counter].category == itemToLookFor)
                            {
                                //do nothing
                            }

                            else
                            {
                                b.push(a[counter]);
                            }
                            
                        }

                    }  
                    
                    localStorage.setItem("items", JSON.stringify(b));
                }

                else
                {
                    //do nothing
                }
                
                //update category count
                var c = countCategoriesInCategories();
                document.getElementById("menuEditCategories").innerHTML = "Categories (" + c + ")";
                
                //update item count
                var i = document.getElementsByClassName("item");
                document.getElementById("itemCounterParagraph").innerHTML = "Items (" + c + ")"
                
                //update categories input form
                setFormWithCorrectData();

                //submit form
                document.getElementById("formMenuEditData").submit();
            }

            function clearLocalStorage()
            {
                localStorage.setItem("categories", null);
                localStorage.setItem("items", null);
            }

            function clearLocalStorageCategories()
            {
                localStorage.setItem("categories", null);
            }

            function clearLocalStorageItems()
            {
                localStorage.setItem("items", null);
            }

            function setImgToLocalStorage()
            {
                var d = document.getElementById("inputImg");

                localStorage.setItem("img", JSON.stringify(d.value));

                setFormWithCorrectData();
            }

            function setPhoneToLocalStorage()
            {
                var d = document.getElementById("inputPhone");

                localStorage.setItem("phone", JSON.stringify(d.value));

                setFormWithCorrectData();
            }

            function setAddressToLocalStorage()
            {
                var d = document.getElementById("inputAddress");

                localStorage.setItem("address", JSON.stringify(d.value));

                setFormWithCorrectData();
            }

            function setDescriptionToLocalStorage()
            {
                var d = document.getElementById("inputDescription");

                localStorage.setItem("description", JSON.stringify(d.value));

                setFormWithCorrectData();
            }

            function setHoursToLocalStorage()
            {
                var monday = document.getElementById("inputHoursMonday");
                var tuesday = document.getElementById("inputHoursTuesday");
                var wednesday = document.getElementById("inputHoursWednesday");
                var thursday = document.getElementById("inputHoursThursday");
                var friday = document.getElementById("inputHoursFriday");
                var saturday = document.getElementById("inputHoursSaturday");
                var sunday = document.getElementById("inputHoursSunday");

                var arrayHours = [];
                arrayHours.push({day: "Monday", time: monday.value});
                arrayHours.push({day: "Tuesday", time: tuesday.value});
                arrayHours.push({day: "Wednesday", time: wednesday.value});
                arrayHours.push({day: "Thursday", time: thursday.value});
                arrayHours.push({day: "Friday", time: friday.value});
                arrayHours.push({day: "Saturday", time: saturday.value});
                arrayHours.push({day: "Sunday", time: sunday.value});

                localStorage.setItem("hours", JSON.stringify(arrayHours));
                
                setFormWithCorrectData();
            }

            function setTypesToLocalStorage()
            {
                var d = document.getElementById("inputType");

                localStorage.setItem("types", JSON.stringify(d.value));
                
                setFormWithCorrectData();
            }

            function setCategoryToLocalStorage(category)
            {
                var getLocalStorage = localStorage.getItem("categories");
                var a = [];
                
                if(getLocalStorage != "null")
                {
                    var i = JSON.parse(getLocalStorage);

                    for(var c = 0; c < i.length; c++)
                    {
                        a.push(i[c]);
                    }

                    a.push({position: (c + 1), categoryName: category});

                    localStorage.setItem("categories", JSON.stringify(a));
                }
                
                if(getLocalStorage == "null")
                {
                    a.push({position: 1, categoryName: category});
                    localStorage.setItem("categories", JSON.stringify(a));
                }

            }

            function setItemLocalStorage(id)
            {
                id = id.toLowerCase();
                var positionInputValue = document.getElementById(id + "-input-position").value;
                var idInputValue = document.getElementById(id + "-input-id").value;
                var categoryInputValue = document.getElementById(id + "-input-category").value;
                var titleInputValue = document.getElementById(id + "-input-title").value;
                var priceInputValue = document.getElementById(id + "-input-price").value;
                var descriptionInputValue = document.getElementById(id + "-input-description").value;
                
                //get items from local storage
                var getLocalStorage = localStorage.getItem("items");
                var object = {
                    position: positionInputValue,
                    id: idInputValue,
                    category: categoryInputValue,
                    title: titleInputValue,
                    price: priceInputValue,
                    description: descriptionInputValue
                }
                var a = [];
                
                //fill array
                if(getLocalStorage != "null")
                {
                    var i = JSON.parse(getLocalStorage);
                    
                    for(var c = 0; c < i.length; c++)
                    {
                        a.push(i[c]);
                    }

                    if(getLocalStorage.includes(idInputValue))
                    {
                        //check what item
                        for(var c = 0; c < i.length; c++)
                        {                    
                            if(a[c].id.includes(idInputValue))
                            {
                                console.log("item " + c + " contains id");
                                a[c] = object;
                            }
                        }
                    }
                        
                    else
                    {
                        a.push(object);
                    }
                    
                    localStorage.setItem("items", JSON.stringify(a));
                }
                
                if(getLocalStorage == "null")
                {
                    a.push(object);
                    localStorage.setItem("items", JSON.stringify(a));
                }

                //update categories input form
                setFormWithCorrectData()

            }

            function renameCategoryEverywhere(categoryIdNumber)
            {                
                var d = document.getElementById("categoryInput#" + categoryIdNumber);
                var k = document.getElementsByClassName(d.value);
                var getTotalNumberOfCategories = countCategoriesInCategories();
                var c = document.getElementById("categoryInput#" + categoryIdNumber);
                var i = document.getElementById("categoryInput#" + categoryIdNumber + "-disabled");
                
                i.value = c.value;
            }

            function setFormWithCorrectData()
            {
                //local storage
                var img = localStorage.getItem("img");
                var phone = localStorage.getItem("phone");
                var address = localStorage.getItem("address");
                var description = localStorage.getItem("description");
                var hours = localStorage.getItem("hours");
                var types = localStorage.getItem("types");
                var categories = localStorage.getItem("categories");
                var items = localStorage.getItem("items");

                //form inputs
                var inputFormImg = document.getElementById("inputAllImg");
                var inputFormPhone = document.getElementById("inputAllPhone");
                var inputFormAddress = document.getElementById("inputAllAddress");
                var inputFormDescription = document.getElementById("inputAllDescription");
                var inputFormHours = document.getElementById("inputAllHours");
                var inputFormTypes = document.getElementById("inputAllTypes");
                var inputFormCategories = document.getElementById("inputAllCategories");
                var inputFormItems = document.getElementById("inputAllItems");

                if(inputFormImg != null)
                {
                    document.getElementById("inputAllImg").value = img;
                }

                if(inputFormPhone != null)
                {
                    document.getElementById("inputAllPhone").value = phone;
                }

                if(inputFormAddress != null)
                {
                    document.getElementById("inputAllAddress").value = address;
                }

                if(inputFormDescription != null)
                {
                    document.getElementById("inputAllDescription").value = description;
                }

                if(inputFormHours != null)
                {
                    document.getElementById("inputAllHours").value = hours;
                }

                if(inputFormTypes != null)
                {
                    document.getElementById("inputAllTypes").value = types;
                }
                
                if(inputFormCategories != null)
                {
                    document.getElementById("inputAllCategories").value = categories;
                }

                if(inputFormItems != null)
                {
                    document.getElementById("inputAllItems").value = items;
                }
       
            }

            function changePositionCategories(startPos, newPos, cName)
            {
                clearLocalStorageCategories();

                newPos = parseInt(newPos);
                var categories = document.getElementsByClassName("categoryInput");
                var categoriesLength = categories.length;
                var categoriesArray = [];
                var categoriesDiv = document.getElementById("menuEditRestaurantCategory");
                var itemsDiv = document.getElementById("menuEditRestaurantItems");

                if(startPos == categories.length)
                {
                    console.log("c");
                }

                for(var c = 1; c <= categoriesLength; c++)
                {
                    var position = document.getElementById("categoryInput#" + (c) + "-position");
                    categoriesArray[c] = {categoryName: (categories[c - 1].value), position: (c)};
                }

                for(var i = 1; i <= categoriesLength; i++)
                {
                    if(categoriesArray[i].categoryName == cName)
                    {
                        categoriesArray[i] = categoriesArray[newPos];
                        categoriesArray[i].position = (i);
                        categoriesArray[newPos] = {categoryName: cName, position: newPos};
                    }
                }
            
                for(var s = 1; s <= categoriesLength; s++)
                {
                    var category = document.getElementById("category#" + s);
                    category.remove();
                }
                
                for(var p = 1; p <= categoriesLength; p++)
                {
                    var categoryName = categoriesArray[p].categoryName;
                    var categoryPosition = categoriesArray[p].position;

                    //create elements
                    var div = document.createElement("div");    
                    div.id = "category#" + p;
                    div.style.backgroundColor = "royalblue";
                    div.style.paddingTop = "10px";
                    div.style.paddingBottom = "10px";
                    div.style.border = "1px solid black";
                    
                    //create label
                    var label = document.createElement("label");
                    label.id = "categoryInput#" + p + "-delete";
                    label.style.marginLeft = "7px";
                    label.innerHTML = "<button>Remove</button>";

                    //create input
                    var input1 = document.createElement("input");
                    input1.id = "categoryInput#" + p;
                    input1.className = "categoryInput";
                    input1.value = categoryName;
                    input1.disabled = true;

                    var input2 = document.createElement("input");
                    input2.id = "categoryInput#" + p + "-position";
                    input2.type = "number";
                    input2.value = "";
                    input2.min = 1;
                    input2.max = categoriesLength;
                    input2.style = "margin-left: 4px; width: 15px;";
                    
                    //create bold
                    var bold1 = document.createElement("b");
                    bold1.innerHTML = p;
                    bold1.style = "margin-left: 9px; margin-right: 9px;";
                    
                    var bold2 = document.createElement("b");
                    bold2.id = "categoryInput#" + p + "-position";
                    bold2.name = categoryName;
                    bold2.value = p;
                    bold2.className = "categoryArrows categoryDown"
                    bold2.innerHTML = "<button> Down </button>";
                    bold2.style = "width: 50px; margin-left: 4px;";
                    bold2.onclick = function() {changePositionCategories(this.value, (this.value + 1), this.name)};

                    var bold3 = document.createElement("b");
                    bold3.id = "categoryInput#" + p + "-position";
                    bold3.name = categoryName;
                    bold3.value = p;
                    bold3.className = "categoryArrows categoryUp"
                    bold3.innerHTML = "<button style='margin-left: 4px; width: 50px;'> Up </button>";
                    bold3.style = "";
                    bold3.onclick = function() {changePositionCategories(this.value, (this.value - 1), this.name)};

                    //create br
                    var br = document.createElement("br");
                    
                    //apppends
                    div.appendChild(label);
                    div.appendChild(bold1);
                    div.appendChild(input1);

                    if(p == 1)
                    {
                        div.appendChild(bold2);
                    }
                    else if(p == categoriesLength)
                    {
                        div.appendChild(bold3);
                    }
                    else
                    {
                        bold2.className = "categoryArrows";
                        bold3.className = "categoryArrows";

                        div.appendChild(bold2);
                        div.appendChild(bold3);
                    }

                    div.appendChild(br);
                    categoriesDiv.appendChild(div);
                    categoriesDiv.style.display = "block";
                    categoriesDiv.style.margin = "auto";

                    //bugfix
                    var d = document.getElementById("categoryInput#" + p + "-position");
                    d.value = p;
                    d.name = categoryName; //using d.name is a work around to set categoryName
                    d.onchange = function() {changePositionCategories(newPos, this.value, this.name)};                  

                    var d = document.getElementById("categoryInput#" + p + "-delete");
                    d.value = p;                  
                    d.name = categoryName; //using x.name is a work around to set categoryName
                    d.onclick = function() {deleteCategory(this.value, this.name)};

                    //update items array
                    var categoryNameWithFirstLetterUpperCase = (categoryName.charAt(0).toUpperCase() + categoryName.slice(1));
                    var d = document.getElementById("category" + categoryNameWithFirstLetterUpperCase);
                    
                    if(d != null)
                    {
                        d.remove();
                    }

                    //append category
                    var h = document.getElementById("menuEditRestaurantItems");
                    h.appendChild(d);

                    //set to local storage
                    setCategoryToLocalStorage(categoryName);
                }

                setFormWithCorrectData();                
            }

            function editMenuSubmitChanges()
            {
                if (confirm("Press OK to confirm changes")) 
                {
                    txt = "You pressed OK!";
                    document.getElementById("formMenuEditData").submit();
                } 
    
                else 
                {
                    txt = "You pressed Cancel!";
                }

            }

            function saveScrollPosition()
            {
                var y = window.scrollY;
                localStorage.setItem("scrollPositionY", y);
            }

            function loadSavedScrollPosition()
            {
                var positionY = localStorage.getItem("scrollPositionY");
                window.scrollTo(0, positionY)
            }
        </script>
    </head>
    <script>clearLocalStorage()</script>
    <a href="/restaurantPortal"><nav id="NavBar"><p><b>Home</b></p></nav></a>
    <body id="body-menu-edit" onload="loadSavedScrollPosition()" onscroll="saveScrollPosition()">
        
        <!-- hours -->
        <div id="menuEditRestaurantHours" onclick="collapseMenuEditCategory(this.id)">
            <p class="menuEditCategoryParagraph"><b>Hours</b></p>
            <% for(var c = 0; c < restaurant.hours.length; c++) { %>
                <% if(c == 0) { %><div class="menu-edit-hours"><b style="margin-left: 20px;">Monday: </b> <input id="inputHoursMonday" maxlength="30" value="<%=restaurant.hours[c].time %>" onkeyup="setHoursToLocalStorage()" style="margin-right: 21px;"></input><br /></div> <% } %>
                <% if(c == 1) { %><div class="menu-edit-hours"><b style="margin-left: 21px;">Tuesday: </b> <input id="inputHoursTuesday" maxlength="30" value="<%=restaurant.hours[c].time %>" onkeyup="setHoursToLocalStorage()" style="margin-right: 25px;"></input><br /></div> <% } %>
                <% if(c == 2) { %><div class="menu-edit-hours"><b style="margin-left: -2px;">Wednesday: </b> <input id="inputHoursWednesday" maxlength="30" value="<%=restaurant.hours[c].time %>" onkeyup="setHoursToLocalStorage()" style="margin-right: 27px;"></input><br /></div> <% } %>
                <% if(c == 3) { %><div class="menu-edit-hours"><b style="margin-left: 10px;">Thursday: </b> <input id="inputHoursThursday" maxlength="30" value="<%=restaurant.hours[c].time %>" onkeyup="setHoursToLocalStorage()" style="margin-right: 23px;"></input><br /></div> <% } %>
                <% if(c == 4) { %><div class="menu-edit-hours"><b style="margin-left: 31px;">Friday: </b> <input id="inputHoursFriday" maxlength="30" value="<%=restaurant.hours[c].time %>" onkeyup="setHoursToLocalStorage()" style="margin-right: 20px;"></input><br /></div> <% } %>
                <% if(c == 5) { %><div class="menu-edit-hours"><b style="margin-left: 13px;">Saturday: </b> <input id="inputHoursSaturday" maxlength="30" value="<%=restaurant.hours[c].time %>" onkeyup="setHoursToLocalStorage()" style="margin-right: 23px;"></input><br /></div> <% } %>
                <% if(c == 6) { %><div class="menu-edit-hours"><b style="margin-left: 23.5px;">Sunday: </b> <input id="inputHoursSunday" maxlength="30" value="<%=restaurant.hours[c].time %>" onkeyup="setHoursToLocalStorage()" style="margin-right: 23px;"></input><br /></div> <% } %>
            <% } %>
            <script>setHoursToLocalStorage()</script>
        </div>
        
        <!-- Description -->
        <div id="menuEditRestaurantDescription" onclick="collapseMenuEditCategory(this.id)">
            <p class="menuEditCategoryParagraph"><b>Description</b></p>
            <textarea id="inputDescription" onkeyup="setDescriptionToLocalStorage()" maxlength="250"><%=restaurant.description %></textarea>
            <script>setDescriptionToLocalStorage()</script>
        </div>

        <!-- Type -->
        <div id="menuEditRestaurantType" onclick="collapseMenuEditCategory(this.id)">
            <p class="menuEditCategoryParagraph"><b>Type</b></p>
            <input id="inputType" value="<%=restaurant.type %>" onkeyup="setTypesToLocalStorage()" maxlength="250"></input>
            <script>setTypesToLocalStorage()</script>
        </div>
        
        <!-- Image -->
        <div id="menuEditRestaurantImageUrl" onclick="collapseMenuEditCategory(this.id)">
            <p class="menuEditCategoryParagraph"><b>Img Url</b></p>
            <input id="inputImg" value="<%=restaurant.imageUrl %>" onkeyup="setImgToLocalStorage()"></input>
            <script>setImgToLocalStorage()</script>
        </div>
        
        <!-- Phone -->
        <div id="menuEditRestaurantPhone" onclick="collapseMenuEditCategory(this.id)">
            <p class="menuEditCategoryParagraph"><b>Phone</b></p>
            <input id="inputPhone" value="<%=restaurant.phone %>" onkeyup="setPhoneToLocalStorage()" maxlength="30"></input>
            <script>setPhoneToLocalStorage()</script>
        </div>
        
        <!-- Adress -->
        <div id="menuEditRestaurantAdress" onclick="collapseMenuEditCategory(this.id)">
            <p class="menuEditCategoryParagraph"><b>Address</b></p>
            <input id="inputAddress" value="<%=restaurant.address %>" onkeyup="setAddressToLocalStorage()" maxlength="50"></input>
            <script>setAddressToLocalStorage()</script>
        </div>
        
        <!-- Categories -->
        <b><p id="menuEditCategories" class="menuEditCategoryParagraph" style="margin-top: 50px;">Categories (<%=restaurant.menuCategories.length %>)</p></b>
        <label onclick="addCategory()"><button  id="menu-edit-button-addCategory" style="height: 30px; border-radius: 0%;">Add Category</button></label>
        <div id="menuEditRestaurantCategory" onclick="collapseMenuEditCategory(this.id)" style="margin: auto; text-align: left;">
            <% for(var c = 0; c < restaurant.menuCategories.length; c++) { %>
                <div id="category#<%=c + 1 %>" style="margin: auto; padding-top: 10px; padding-bottom: 10px; border: 1px solid black;  background-color: royalblue;">
                    <% if(c != restaurant.menuCategories.length - 1 && c != 0) { %>
                        <button id="categoryInput#<%=c + 1%>-delete" style="margin-left: 7px;" onclick="deleteCategory('<%=c + 1 %>', '<%=restaurant.menuCategories[c].categoryName %>')">Remove</button>
                    <% } else if(c == restaurant.menuCategories.length - 1) { %>
                        <button id="categoryInput#<%=c + 1%>-delete" style="margin-left: 7px;" onclick="deleteCategory('<%=c + 1 %>', '<%=restaurant.menuCategories[c].categoryName %>')">Remove</button>
                    <% } else { %>
                        <button id="categoryInput#<%=c + 1%>-delete" style="margin-left: 7px;" onclick="deleteCategory('<%=c + 1 %>', '<%=restaurant.menuCategories[c].categoryName %>')">Remove</button>
                    <% } %>

                    <b style="padding-left: 5px; padding-right: 5px;"><%=c + 1 %></b>
                    <input disabled id="categoryInput#<%=c + 1 %>" class="categoryInput" value="<%=restaurant.menuCategories[c].categoryName %>"></input>

                    <% if(c == 0) { %>
                        <button id="categoryInput#<%=c + 1 %>-position" class="categoryArrowDown categoryArrows" value="<%=restaurant.menuCategories[c].position %>" onclick="changePositionCategories('<%=c + 1 %>', '<%=c + 2 %>', '<%=restaurant.menuCategories[c].categoryName %>')">Down</button>
                    <% } else if(c == restaurant.menuCategories.length - 1) { %>
                        <button id="categoryInput#<%=c + 1 %>-position" class="categoryArrowUp categoryArrows" value="<%=restaurant.menuCategories[c].position %>" onclick="changePositionCategories('<%=c + 1 %>', '<%=c + 0 %>', '<%=restaurant.menuCategories[c].categoryName %>')">Up</button>
                    <% } else { %>
                        <button id="categoryInput#<%=c + 1 %>-position" class="categoryArrows categoryArrowDownMobile" value="<%=restaurant.menuCategories[c].position %>" onclick="changePositionCategories('<%=c + 1 %>', '<%=c + 2 %>', '<%=restaurant.menuCategories[c].categoryName %>')">Down</button>
                        <button id="categoryInput#<%=c + 1 %>-position" class="categoryArrows categoryArrowUpMobile" value="<%=restaurant.menuCategories[c].position %>" onclick="changePositionCategories('<%=c + 1 %>', '<%=c + 0 %>', '<%=restaurant.menuCategories[c].categoryName %>')">Up</button>
                    <% } %>

                    <br />

                    <script>setCategoryToLocalStorage('<%=restaurant.menuCategories[c].categoryName %>')</script>

                </div>
            <% } %>
            </div>
    
            <% var restaurantMenuItemsLength = null %>
            
            <% if(restaurant.menuItems == null) { %>
                <% restaurantMenuItemsLength = 0; %>
            <% } else { %>
                <% restaurantMenuItemsLength = restaurant.menuItems.length %>
            <% } %>
            
        <!-- Items -->
        <div id="menuEditRestaurantItems" onclick="collapseMenuEditCategory(this.id)" style="margin-top: 50px;">
            <!-- form start -->
            <form id="laskdssassdad">
    
                <% var itemsCount = restaurantMenuItemsLength %>
                <% var categoryCount = restaurant.menuCategories[c] %>
                    <p class="menuEditCategoryParagraph" style="margin-bottom: 5px; padding-bottom: 0px;"><b id="itemCounterParagraph"> Items (<%=itemsCount %>)</b></p>
                    
                    <% for(var c = 0; c < restaurant.menuCategories.length; c++) { %>
                        <% var category = restaurant.menuCategories[c].categoryName %>
                        <% var categoryFirstLetterUpperCase = category.charAt(0).toUpperCase() + category.slice(1); %>
                        
                        <div id="category<%=categoryFirstLetterUpperCase %>" class="menu-edit-category" style="margin: auto; margin-bottom: 25px; border: 2px solid;">
                            
                            <div id="category<%=categoryFirstLetterUpperCase %>Header" style="margin: auto; padding-top: 5px; padding-bottom: 5px; background-color: royalblue;">
                                <label onclick="collapseDiv('category<%=categoryFirstLetterUpperCase %>Body')"> [Collapse]</label>
                                <input hidden id="categoryInput#<%=c + 1 %>-disabled" disabled value="<%=restaurant.menuCategories[c].categoryName %>"></input>
                                <label id="categoryCounterParagraph<%=categoryFirstLetterUpperCase %>" value="<%=c + 1%>"> <b><%=restaurant.menuCategories[c].categoryName %></b> () </label>
                                <label onclick="addItem('<%=categoryFirstLetterUpperCase %>')"> [Add Item] </label>
                            </div>
                            
                            <div id="category<%=categoryFirstLetterUpperCase %>Body" style="display: none;">
                                <% for(var x = 0; x < restaurantMenuItemsLength; x++) { %>
                                
                                <% if(restaurant.menuCategories[c].categoryName == restaurant.menuItems[x].category)  { %>
                                    <div id="item-<%=restaurant.menuCategories[c].categoryName %>#<%=restaurant.menuItems[x].position %>" class="item <%=restaurant.menuCategories[c].categoryName %>">

                                        <br />

                                        <% var item = "item-" + restaurant.menuItems[x].category + "#" + restaurant.menuItems[x].position %>
                                        <% var itemId = restaurant.menuItems[x].category %>
                                        <% var itemCategory = restaurant.menuItems[x].category %>
                                        <% var itemInputPosition = "item-" + restaurant.menuCategories[c].categoryName + "#" + restaurant.menuItems[x].position + "-input-position" %>
                                        <% var itemInputId = "item-" + restaurant.menuCategories[c].categoryName + "#" + restaurant.menuItems[x].position + "-input-id" %>
                                        <% var itemInputCategory = "item-" + restaurant.menuCategories[c].categoryName + "#" + restaurant.menuItems[x].position + "-input-category" %>
                                        <% var itemInputTitle = "item-" + restaurant.menuCategories[c].categoryName + "#" + restaurant.menuItems[x].position + "-input-title" %>
                                        <% var itemInputPrice = "item-" + restaurant.menuCategories[c].categoryName + "#" + restaurant.menuItems[x].position + "-input-price" %>
                                        <% var itemInputDescription = "item-" + restaurant.menuCategories[c].categoryName + "#" + restaurant.menuItems[x].position + "-input-description" %>
                                        
                                        <input id="<%=itemInputId %>" name="" disabled value="<%=itemId %>" placeholder="id" class="itemInput" style="display: none;"></input>
                                        <input id="<%=itemInputCategory %>" name="" disabled value="<%=itemCategory %>" class="itemInput" style="display: none;"></input>
                                        <input id="<%=itemInputPosition %>" name="" disabled onkeyup="setItemLocalStorage('<%=item %>')" placeholder="position" class="itemInput" style="display: none;"></input>
                                        
                                        <input id="<%=itemInputTitle %>" name="" onkeyup="setItemLocalStorage('<%=item %>')" value="<%=restaurant.menuItems[x].title %>" class="itemInput" maxlength="25"></input>
                                        <input id="<%=itemInputPrice %>" name=""  onchange="setItemLocalStorage('<%=item %>')" value="<%=restaurant.menuItems[x].price %>" class="itemInput" maxlength="10"></input>
                                        <input id="<%=itemInputDescription %>" name="" onkeyup="setItemLocalStorage('<%=item %>')" value="<%=restaurant.menuItems[x].description %>" class="itemInput" maxlength="255"></input>

                                        <button onclick="deleteItem('<%=item  %>', '<%=restaurant.menuCategories[c].categoryName %>', '<%=restaurant.menuItems[x].position %>')" class="itemInput buttonRemoveItem"> Remove </button>
                                        
                                        <script>
                                            countCategoriesForSpecificItem('item-<%=restaurant.menuCategories[c].categoryName %>#<%=restaurant.menuItems[x].position %>-input-position', 'item-<%=restaurant.menuCategories[c].categoryName %>#<%=restaurant.menuItems[x].position %>-input-id', '<%=restaurant.menuCategories[c].categoryName %>');
                                            setItemLocalStorage('<%=item %>');
                                        </script>
                                    </div>
                                <% } else { %>
                                    
                                <% } %>
                                <% } %>
                            </div>

                            <script>countCategories("<%=categoryFirstLetterUpperCase %>");</script>
                                
                        </div>
                    <% } %>
                    
                </form>
                <!-- form end -->
                
            </div>

        <!-- hidden -->
        <form hidden id="formMenuEditData" action="/restaurantPortal/updateMenu" method="POST">
            <input id="inputAllImg" name="inputAllImg" value="img"></input><br />
            <input id="inputAllPhone" name="inputAllPhone" value="phone"></input><br />
            <input id="inputAllAddress" name="inputAllAddress" value="address"></input><br />
            <input id="inputAllDescription" name="inputAllDescription" value="description"></input><br />
            <input id="inputAllHours" name="inputAllHours" value="hours"></input><br />
            <input id="inputAllTypes" name="inputAllTypes" value="types"></input><br />
            <input id="inputAllCategories" name="inputAllCategories" value=""></input><br />   
            <input id="inputAllItems" name="inputAllItems" value=""></input><br />
            <button>Button</button>   
        </form>

        <script>setFormWithCorrectData();</script>
        
    </body>
    <nav id="NavBarEdit" onclick="editMenuSubmitChanges()"><p><b>Confirm Edit</b></p></nav>
</html>