<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef Orders</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/portalRestaurant.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <script>

        function orderCompleted(buttonValue, orderId)
        {
            document.getElementById("updateOrderCompletionTime#" + buttonValue).submit();
        }

        function saveScrollPosition()
        {
            var y = window.scrollY;
            localStorage.setItem("scrollPositionY", y);
        }

        function loadSavedScrollPosition()
        {
            var positionY = localStorage.getItem("scrollPositionY");
            window.scrollTo(0, positionY)
        }

        function refreshPage()
        {
            location.reload()
        }
        
        setInterval(refreshPage, 60000);
        
    </script>
</head>
<a href="/restaurantPortal"><nav id="NavBar"><p><b>Home</b></p></nav></a>
<body onload="loadSavedScrollPosition()" onscroll="saveScrollPosition()" style="background-color: lightgray;">
    
    <!-- total orders -->
    <header id="confirmOrderHeader">
        <h2 id="confirmOrderTitle" style="margin: 0px; margin-top: 25px; margin-bottom: 25px; padding: 0px;">Confirmed Orders: <%=orders.length %></h2>
    </header>

    <!-- order -->
    <% for(var c = orders.length - 1; c >= 0; c--) { %>
    <div id="customerOrder#<%=c %>" class="customerOrder" data-value="<%=c %>">
        <p style="text-align: left; margin-top: 5px;">id: <%=orders[c]._id %></p>
        <p style="text-align: left;">ordered: <%=orders[c].placedAt %></p>
        <p style="text-align: left;">accepted: <%=orders[c].confirmedAt %></p>
        <p style="text-align: left;">estimated time: <%=orders[c].estimatedCompletionTime %> min</p>
        <p style="text-align: left;">address: <%=orders[c].customerAddress %></p>
        <p style="text-align: left;">phone: <%=orders[c].customerPhone %></p>
        <p style="text-align: left;">total price: <%=orders[c].totalPrice %></p>
        
        <p style="text-align: center; margin-top: 25px;"><%=orders[c].customerName %></p>
        <p><%=orders[c].type %></p>
        
        <% for(var x = 0; x < orders[c].products.items.length; x++) { %>
            <p style="font-weight: bold;"><%= orders[c].products.items[x].name %> (<%= orders[c].products.items[x].quantity %>)</p>
        <% } %>

        <p><%=orders[c].customerComment %></p>

        <br />

        <div style="text-align: center;">
            <form id="updateOrderCompletionTime#<%=c %>" action="/restaurantPortal/order-update" method="POST">
                <input hidden id="inputOrderId#<%=c %>" name="orderId" value='<%=orders[c]._id %>'></input>
                <input hidden id="inputOrderTime#<%=c %>" name="estimatedTime" value="<%=orders[c].estimatedCompletionTime %>"></input>
                <input hidden id="inputOrderStatus#<%=c %>" name="status" value="completed"></input>
                <button id="completeCustomerOrder#<%=c %>" class="completeCustomerOrder" type="button" onclick="orderCompleted('<%=c %>', '<%= orders[c]._id %>')" style="height: 30px; width: 100%; border: none; border-top: 1px solid black; background-color: green; font-weight: bold;">&#10003; mark as completed</button>
            </form>
        </div>
    </div>

    <% } %>
</html>