<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/portalRestaurant.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <title>Reviews</title>
</head>
<a href="/restaurantPortal"><nav id="NavBar"><p><b>Home</b></p></nav></a>
<body id="" style="background-color: lightgray;">

    <!-- total reviews -->
    <h2 style="margin-top: 25px; margin-bottom: 25px; text-align: center;">Total Reviews (<%=reviews.length %>)</h2>

    <!-- review -->
    <% for(var counter = 0; counter < reviews.length; counter++) { %>
        <div id="customer-review#<%=counter + 1%>" class="customerReview" style="border: 1px solid black; background-color: #f7f9f9; margin: auto; margin-bottom: 25px; padding: 5px;">
            <% var date = reviews[counter].reviewObject.date %>
            <p style="text-align: center; margin: 0px; margin-top: 5px; padding: 0px;"><%=date.toString().slice(0, 24) %></p>
            
            <br />
            
            <p style="text-align: center; margin: 0px; padding: 0px;"><b><%=reviews[counter].reviewObject.rating %></b></p>
            <p style="text-align: center; margin: 0px; padding: 0px;"><b></b> <%=reviews[counter].reviewObject.name %></p>
            
            <br />

            <% var x = reviews[counter].reviewObject.items %>
            <% var stringSplit = x.split(","); %>

            <% for(var x = 0; x < stringSplit.length; x++) { %>
                <p style="text-align: center; margin: 0px; padding: 0px;"><b><%=stringSplit[x] %></b></p> 
            <% } %>
        
            <br />

            <% if(reviews[counter].reviewObject.comment != null) { %>
                <p style="text-align: center; margin: 0px; margin-bottom: 5px; padding: 0px;"><b>comment</b><br /> <%=reviews[counter].reviewObject.comment %></p>
            <% } %>
        </div>
    <% } %> 
</body>
</html>