<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/portalRestaurant.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <title>Reviews</title>
</head>
<a href="/restaurantPortal"><nav id="NavBar"><p><b>Home</b></p></nav></a>
<body id="" style="background-color: lightgray;">

    <!-- total reviews -->
    <h2 style="margin-top: 25px; margin-bottom: 25px; text-align: center;">Total Reviews (<%=reviews.length %>)</h2>

    <!-- review -->
    <% for(var counter = 0; counter < reviews.length; counter++) { %>
        <div id="customer-review#<%=counter + 1%>" class="customerReview" style="border: 1px solid black; background-color: #f7f9f9; margin: auto; margin-bottom: 25px;">
            <p style="text-align: center; margin: 0px; padding: 0px; padding-bottom: 5px; padding-top: 5px; background-color: lightgray;"><b>Rating </b> <%=reviews[counter].reviewObject.rating %> </p>
            
            <br />

            <% var date = reviews[counter].reviewObject.date %>
            <p style="text-align: center; margin: 0px; padding: 0px;"><%=reviews[counter].reviewObject.name %> - <%=date.toString().slice(4, 15) %></p>
        
            <br />

            <% if(reviews[counter].reviewObject.comment != null) { %>
                <p style="text-align: center; margin: 0px; margin-bottom: 5px; padding: 0px;"><b>Comment</b><br /> <%=reviews[counter].reviewObject.comment %></p>
            <% } %>

            <br />
            
        </div>
    <% } %> 
</body>
</html>