<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/mobile.css">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <title>Statistics</title>
</head>

<style>
    /*** elements ***/
    body { background-color: #3c41d6; }
    
    .category { }
    .categoryTitle{ margin: 20px 0px 0px 0px; font-size: 20px; font-weight: bold; text-shadow: 1px 1px black; color: white; }
    .categoryItem { text-shadow: 1px 1px black; color: white; }

    #stats { display: block; width: 400px; margin: auto; text-align: center; }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        #stats { height: 70vh; width: 90vw; }
    }
</style>

<body>
    <!-- nav menu -->
    <%- include('nav-menu-admin.ejs') %>

    <!-- title -->
    <!-- <h3>Statistics</h3> -->

    <!-- variables -->
    <% var thisMonth = new Date().getMonth() %>
    <% var totalSales = 0 %>
    <% var totalSalesThisMonth = 0 %>
    <% var totalSalesMondays = 0 %>
    <% var totalSalesTuesdays = 0 %>
    <% var totalSalesWednesdays = 0 %>
    <% var totalSalesThursdays = 0 %>
    <% var totalSalesFridays = 0 %>
    <% var totalSalesSaturdays = 0 %>
    <% var totalSalesSundays = 0 %>
    <% var totalOrders = orders.length %>
    <% var totalCompleted = 0 %>
    <% var totalDeclined = 0 %>
    <% var totalDelivery = 0 %>
    <% var totalPickUp = 0 %>
    <% var totalRestaurants = restaurants.length; %>
    <% var totalUsers = users.length %>
    <% var loggedInUsers = 0 %>
    <% var customers = [] %>
    <% var totalReviews = reviews.length %>
    
    <!-- set orders -->
    <% for(var counter = 0; counter < orders.length; counter++) { %>
        <!-- variables -->
        <% var orderCustomer = orders[counter].user %>
        <% var orderTotalAmount = parseFloat((orders[counter].totalPrice.slice(1))); %>
        <% var orderDate = Date.parse(orders[counter].date) %>
        <% var dateObject = new Date(orderDate) %>
        <% var orderDate = dateObject %>

        <!-- total sales -->
        <% totalSales += orderTotalAmount %>

        <!-- status -->
        <% if(orders[counter].status == "completed") { %> <% totalCompleted++; %> <% } %>
        <% if(orders[counter].status == "declined") { %> <% totalDeclined++; %> <% } %>

        <!-- type -->
        <% if(orders[counter].type == "delivery") { %> <% totalDelivery++; %> <% } %>
        <% if(orders[counter].type == "pick up") { %> <% totalPickUp++; %> <% } %>

        <!-- this month -->
        <% if (orderDate.getMonth() == thisMonth) { %> <% totalSalesThisMonth += orderTotalAmount %> <% } %>

        <!-- weekdays -->
        <% if (orderDate.getDay() == 1) { %> <% totalSalesMondays += orderTotalAmount %> <% } %>
        <% if (orderDate.getDay() == 2) { %> <% totalSalesTuesdays += orderTotalAmount %> <% } %>
        <% if (orderDate.getDay() == 3) { %> <% totalSalesWednesdays += orderTotalAmount %> <% } %>
        <% if (orderDate.getDay() == 4) { %> <% totalSalesThursdays += orderTotalAmount %> <% } %>
        <% if (orderDate.getDay() == 5) { %> <% totalSalesFridays += orderTotalAmount %> <% } %>
        <% if (orderDate.getDay() == 6) { %> <% totalSalesSaturdays += orderTotalAmount %> <% } %>
        <% if (orderDate.getDay() == 0) { %> <% totalSalesSundays += orderTotalAmount %> <% } %>

        <!-- customer -->
        <% customers.push(orderCustomer) %>  
    <% } %>
    
    <!-- set users -->
    <% for(var counter = 0; counter < users.length; counter++) { %>
        <% if(users[counter].isLoggedIn == true) { %>
            <% loggedInUsers++ %>
        <% } %>
    <% } %>

    <div id="stats">
        <!-- sales -->
        <p class="categoryTitle">Sales</p>
        <div class="category">
            <p class="categoryItem">All Time: $<%=totalSales %></p>
            <p class="categoryItem">This Month: $<%=totalSalesThisMonth %></p>
            <p class="categoryItem">Mondays: $<%=totalSalesMondays %></p>
            <p class="categoryItem">Tuesdays: $<%=totalSalesTuesdays %></p>
            <p class="categoryItem">Wednesdays: $<%=totalSalesWednesdays %></p>
            <p class="categoryItem">Thursdays: $<%=totalSalesThursdays %></p>
            <p class="categoryItem">Fridays: $<%=totalSalesFridays %></p>
            <p class="categoryItem">Saturdays: $<%=totalSalesSaturdays %></p>
            <p class="categoryItem">Sundays: $<%=totalSalesSundays %></p>
        </div>
        
        <!-- orders -->
        <p class="categoryTitle">Orders</p>
        <div class="category">
            <p class="categoryItem">Total: <%=totalOrders %></p>
            <p class="categoryItem">Completed: <%=totalCompleted %></p>
            <p class="categoryItem">Declined: <%=totalDeclined %></p>
            <p class="categoryItem">Delivery: <%=totalDelivery %></p>
            <p class="categoryItem">Pick Up: <%=totalPickUp %></p>
        </div>
        
        <!-- restaurants -->
        <p class="categoryTitle">Restaurants</p>
        <div class="category">
            <p class="categoryItem">Total: <%=totalRestaurants %></p>
        </div>
        
        <!-- users -->
        <p class="categoryTitle">Users</p>
        <div class="category">
            <p class="categoryItem">Total: <%=totalUsers %></p>
            <p class="categoryItem">Logged In: <%=loggedInUsers %></p>
        </div>

        <!-- reviews -->
        <p class="categoryTitle">Reviews</p>
        <div class="category">
            <p class="categoryItem">Total: <%=totalReviews %></p>
        </div>
    </div>
</html>