<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <title>Home</title>
    <script>
         function displayEditAdminPost(number)
        {
            console.log(number);

            var d = document.getElementById("adminPost#" + number);
            var edit = document.getElementById("edit-adminPost#" + number);
          
            d.hidden = true;
            edit.hidden = false;

        }

        function undisplayEditAdminPost(number)
        {
            console.log(number);

            var d = document.getElementById("adminPost#" + number);
            var edit = document.getElementById("edit-adminPost#" + number);
          
            d.hidden = false;
            edit.hidden = true;

        }

        function displayDeleteAdminPost(number)
        {
            console.log(number);

            var d = document.getElementById("adminPost#" + number);
            var edit = document.getElementById("delete-adminPost#" + number);
          
            d.hidden = true;
            edit.hidden = false;

        }

        function undisplayDeleteAdminPost(number)
        {
            console.log(number);

            var d = document.getElementById("adminPost#" + number);
            var edit = document.getElementById("delete-adminPost#" + number);
          
            d.hidden = false;
            edit.hidden = true;

        }

        function search(totalAdminPosts)
        {
            var searchBoxInput = document.getElementById("searchBoxInput").value
            var totalAdminPostsText = document.getElementById("totalAdminPostsText");
            var searchString = String(searchBoxInput).toLowerCase();
            var adminPostsArray = [];
            var searchFoundCount = 0;

            if(searchBoxInput != "")
            {
                for(var c = 1; c <= totalAdminPosts; c++)
                {
                    var adminPost = document.getElementById("adminPost#" + c)
    
                    if(adminPost.innerHTML.toLowerCase().includes(searchString))
                    {
                        adminPostsArray.push(adminPost);
                        searchFoundCount++;
                        adminPost.hidden = false;
                        adminPost.style.opacity = "100%";
                    }
                    
                    else
                    {
                        adminPost.hidden = true;
                    }        
                    
                    if(searchFoundCount == 1)
                    {
                        totalAdminPostsText.innerHTML = "Found: " + searchFoundCount + " Post";
                    }

                    else
                    {
                        totalAdminPostsText.innerHTML = "Found: " + searchFoundCount + " Posts";
                    }
                }
            }

            else
            {
                for(var c = 1; c <= totalAdminPosts; c++)
                {
                    var adminPost = document.getElementById("adminPost#" + c)
                    
                    adminPostsArray.push(adminPost);
                    adminPost.hidden = false;
                    adminPost.style.opacity = "100%";
                }

                totalAdminPostsText.innerHTML = "Total Posts: " + totalAdminPosts;
            }
        }

        function saveScrollPosition()
        {
            var y = window.scrollY;
            localStorage.setItem("scrollPositionY", y);
        }

        function loadSavedScrollPosition()
        {
            var positionY = localStorage.getItem("scrollPositionY");
            window.scrollTo(0, positionY)
        }
    </script>
</head>
<body style="background-color: lightgray;" onload="loadSavedScrollPosition()" onscroll="saveScrollPosition()"></body>
    <%- include('./snippets/html_nav_menu_admin.ejs') %>

    <div style="margin: auto; text-align: center;">

        <!-- post news -->
        <div id="adminPostNews">
            <h2 style="margin: 0px; margin-top: 25px; margin-bottom: 5px; padding: 0px;">Post News</h2>
            
            <% var adminPostsCount = adminPosts.length + 1%>

            <div id="adminPostNewsPost">
                <form action="/admin/post-newsPost" method="POST">
                    <input hidden name="type" value="post"></input>
                    <input hidden name="postId" value="<%=adminPostsCount %>"></input>
                    <input hidden name="date" value="<%=new Date() %>"></input>
                    <input id="adminPostNews-title-input" name="title" placeholder="Title" style="border: 1px solid black; border-bottom: 0px; font-size: 20px;"></input><br />
                    <textarea id="adminPostNews-textarea" name="text" style="margin-bottom: -5px; min-height: 150px; max-height: 500px; border: 1px solid black;" placeholder="Placeholder Text"></textarea>
                    <button id ="adminPostNews-submit-button" type="submit" style="padding: 0px; height: 25px; border: 0; background-color: #f7f9f9; border: 1px solid black;"><b>Confirm Post</b></button>
                </form>
            </div>

        <!-- search box -->
        <div id="searchBox" style="margin: 0px; margin-top: 25px; padding: 0px; text-align: center;">
            <input id="searchBoxInput" class="search-admin" style="margin-bottom: 25px; height: 38px;" placeholder="Search..." onkeyup="search('<%=adminPosts.length %>')"></input>
        </div>

        <!-- total posts -->
        <h3 id="totalAdminPostsText" style="margin-top: 25px; margin-bottom: 15px; text-align: center;">Total Posts: <%=adminPosts.length %></h3>

        <!-- posts -->
        <% for(var i = adminPosts.length - 1; i >= 0; i--) { %>
            <div id="adminPost#<%=i + 1%>" class="admin-card">
                <p style="margin-bottom: 25px; margin-left: 2px; text-align: left;"><b>#<%=adminPosts[i].postId %></b> <%=adminPosts[i].date.substring(0, 24) %></p>
                <p style="margin-bottom: 4px; margin-left: 2px;"><b><%=adminPosts[i].title %></b></p>
                <p style="margin-bottom: 4px; margin-left: 2px;"><%=adminPosts[i].text %></p>
                
                <div style="text-align: right;">
                    <button class="admin-card-button" onclick="displayEditAdminPost('<%=i + 1%>')" style="margin-top: 25px; margin-right: -5.5px;"><b>Edit</b></button>
                    <button class="admin-card-button" onclick="displayDeleteAdminPost('<%=i + 1%>')" style="background-color: red;"><b>Delete</b></button><br />
                </div>
            </div>

            <!-- edit -->
            <div class="admin-edit" hidden id="edit-adminPost#<%=i + 1%>">
                <button id="admin-cancel-button" class="admin-card-button" onclick="undisplayEditAdminPost('<%=i + 1%>')"><b>Cancel</b></button><br />

                <form action="/admin/edit-NewsPost" method="POST">
                    <input class="input-admin" name="id" value="<%=adminPosts[i]._id %>"></input><br />
                    <input  class="input-admin"name="postId" value="<%=adminPosts[i].postId %>"></input><br />
                    <input class="input-admin" name="date" value="<%=adminPosts[i].date %>"></input><br />
                    <input class="input-admin" name="title" value="<%=adminPosts[i].title %>"></input><br />
                    <input class="input-admin" name="text" value="<%=adminPosts[i].text %>"></input><br />
                    <button class="admin-card-button" style="display: block; margin: auto; margin-top: 11px; margin-bottom: 11px; width: 200px;"><b>Confirm Edit</b></button>
                </form>
            </div>

            <!-- delete -->
            <div class="admin-delete" hidden id="delete-adminPost#<%=i + 1%>">
                <button class="admin-card-button" style="margin-bottom: 10px; margin-left: 10px; margin-top: 10px;" onclick="undisplayDeleteAdminPost('<%=i + 1%>')"><b>Cancel</b></button><br />

                <form action="/admin/delete-NewsPost" method="POST">
                    <input hidden name="id" value="<%=adminPosts[i]._id %>"></input>
                    <button class="admin-card-button" style="display: block; margin: auto; margin-top: 124px; margin-bottom: 11px; width: 200px; background-color: red;"><b>Confirm Delete</b></button>
                </form>
            </div>
        <% } %>
    </div>
</body>
</html>