<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCHDajHZ7clx29MBJQ2omXfEprzsRw5n6Y&callback=GoogleMapsAdressAutocomplete" async defer></script>
    <title>Restaurants</title>
</head>

<script>
    function displayEditRestaurant(number)
    {
        //elements
        let restaurantCard = document.getElementById("restaurant#" + number)
        let editCard = document.getElementById("edit-restaurant#" + number)
        let cards = document.getElementsByClassName("admin-card")
        
        //set google maps autocomplete
        GoogleMapsAdressAutocomplete("inputAddress" + number)
                
        //undisplay all cards
        for(let i = 0; i < cards.length; i++)
        {
            cards[i].style.display = "none"
        }
        
        //update elements
        restaurantCard.hidden = true
        editCard.hidden = false
    }

    function undisplayEditRestaurant(number)
    {
        //elements
        let restaurantCard = document.getElementById("restaurant#" + number)
        let editCard = document.getElementById("edit-restaurant#" + number)
        let cards = document.getElementsByClassName("admin-card")
        
        //undisplay all cards
        for(let i = 0; i < cards.length; i++)
        {
            cards[i].style.display = "block"
        }
        
        //update elements
        restaurantCard.hidden = false
        editCard.hidden = true
    }

    function search(totalRestaurants)
    {
        //elements
        let searchBoxInput = document.getElementById("searchBoxInput").value
        let totalText = document.getElementById("totalText")
        let cards = document.getElementsByClassName("admin-card")
        let searchHits = 0

        //search box
        if(searchBoxInput == "")
        {
            //display all cards
            for(let i = 0; i < cards.length; i++)
            {
                cards[i].style.display = "block"
            }

            //set total restaurants
            totalText.innerText = totalRestaurants.toString() + " Restaurants"
        }
        else if(searchBoxInput != "")
        {
            //undisplay all cards
            for(let i = 0; i < cards.length; i++)
            {
                cards[i].style.display = "none"
            }

            //display search hit cards
            for(let i = 0; i < cards.length; i++)
            {
                if(cards[i].innerText.includes(searchBoxInput))
                {
                    cards[i].style.display = "block"
                    searchHits++
                }
            }

            //set total restaurants
            totalText.innerText = searchHits.toString() + " Restaurants"
        }
    }

    function GoogleMapsAdressAutocomplete(id) 
    {
        //variables
        let input = document.getElementById(id)
        let autocomplete = new google.maps.places.Autocomplete(input)
        let infowindow = new google.maps.InfoWindow()

        //set listener
        autocomplete.addListener('place_changed', function() 
        {
            infowindow.close()
            let place = autocomplete.getPlace()
            
            if (!place.geometry) 
            {
                return window.alert("Address not found")
            }
        
            let address = ''
            
            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address)
        })
    }
</script>

<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { height: 0px; width: 0px; }

    /*** elements ***/
    html { height: 100vh; width: 100vw; background-size: cover; background-repeat: no-repeat; }
    body { background-color: #3c41d6; margin: 0px; padding: 0px; overflow: hidden; font-family: Arial, Helvetica, sans-serif; }
    button { color: black; }
    button:focus { outline: none; }
    p { margin: 0px; }
    h3 { margin: 0px; }
    input { width: 100%; font-family: Arial, Helvetica, sans-serif; color: white; border: 0px solid black; background-color: black; }
    input[type=number]::-webkit-inner-spin-button { opacity: 1 }
    input::placeholder { color: white; }
    input:focus { outline: none; }

    /*** classes ***/
    .admin-edit { width: auto; padding: 0px 10px 0px 10px; margin: auto; user-select: none; border: 1px solid black; background-color: white; }
    .admin-card
    {
        margin: auto; 
        padding: 10px; 
        user-select: none;
        font-weight: bold;
        border-bottom: 1px solid black; 
        background-color: white;
    }
    .admin-card-button
    {
        display: inline-block;
        width: 119px;
        margin: 30px 0px 30px 0px;
        padding: 12px 0px 12px 0px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border: 0px solid black;
        background-color: transparent; 
    }
    .cardText { margin: 0px; }
    .input-admin { width: 360px; margin-left: 7px; padding: 10px 0px 10px 7px; font-weight: bold; font-size: 16px; }
    .label-admin { display: block; padding: 20px 0px 0px 7px; }
    
    /*** ids ***/
    #searchBox { width: 391px; margin: auto; border: 0px solid black; }
    #searchBoxInput 
    { 
        height: 40px; 
        padding-left: 7px; 
        font-size: 16px; 
        font-weight: bold; 
        font-family: Arial, Helvetica, sans-serif; 
        color: white; 
        background-color: black; 
    }
    #totalText { margin: 20px 0px 20px 0px; font-size: 20px; text-align: center; text-shadow: 1px 1px black; user-select: none; color: white; }
    #orders { width: 400px; margin: auto; }
    #cardButtons { margin: 20px 0px 0px 0px;}
    #restaurantTitle { margin: 0px 0px 10px 0px; font-size: 20px; font-weight: bold; }
    #restaurants { height: 80vh; width: 400px; margin: auto; overflow-y: scroll; }
    #formDelete { display: inline; }
    #formEdit { display: inline; }
    #cancelButton { }
    #editButton { margin-left: 7px; background-color: lightgreen; }
    #deleteButton { background-color: red; }
    #searchBoxInput::placeholder { color: white; }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        button:focus, button:hover { background-color: white; color: black; }

        .input-admin { width: 90%; }
        .admin-card-button { width: 30%; }
        .admin-card { width: 90vw; }
        .admin-edit { width: 95.5vw; }
        .input-admin { width: 80vw; }

        #searchBox { display: block; width: 90vw; margin: auto; margin-top: 10px; }
        #restaurants { height: 70vh; width: 90vw; }
        }
</style>

<body>
    <!-- nav menu -->
    <%- include('nav-menu-admin.ejs') %>
    
    <!-- search box -->
    <div id="searchBox">
        <input id="searchBoxInput" placeholder="Search..." onkeyup="search('<%=restaurants.length %>')"></input>
    </div>
    
    <!-- total restaurants -->
    <h3 id="totalText"><%=restaurants.length %> Restaurants</h3>

    <!-- restaurants -->
    <div id="restaurants">
        <% for(var i = 0; i < restaurants.length; i++) { %>
            <!-- restaurant email -->
            <div id="restaurant#<%=i + 1%>" class="admin-card" onclick="displayEditRestaurant('<%=i + 1%>')">      
                <p class="cardText"><%=restaurants[i].email %></p>
            </div>
    
            <!-- edit modal -->
            <div class="admin-edit" hidden id="edit-restaurant#<%=i + 1%>">
                <form id="formEdit" action="/admin/edit-restaurant" method="POST">
                    <input hidden class="input-admin" name="id" value="<%=restaurants[i]._id %>"></input>
                    <label class="label-admin">Email</label>
                    <input class="input-admin" name="email" value="<%=restaurants[i].email %>"></input>
                    <label class="label-admin">Title</label>
                    <input class="input-admin" name="title" value="<%=restaurants[i].title %>"></input>
                    <label class="label-admin">Owner</label>
                    <input class="input-admin" name="owner" value="<%=restaurants[i].owner %>"></input>
                    <label class="label-admin">Address</label>
                    <input id="inputAddress<%=i + 1%>" class="input-admin" name="address" value="<%=restaurants[i].address %>"></input>
                    <!-- edit -->
                    <button id="editButton" class="admin-card-button">Update</button>
                </form>

                <!-- cancel -->
                <button id="cancelButton" class="admin-card-button" onclick="undisplayEditRestaurant('<%=i + 1%>')">Cancel</button>

                <!-- delete -->
                <form id="formDelete" action="/admin/delete-restaurant" method="POST">
                    <input hidden name="restaurantId" value="<%=restaurants[i]._id %>"></input>
                    <button id="deleteButton"  class="admin-card-button">Delete</button>
                </form>
            </div>
        <% } %>
    </div>

    <!-- google maps API -->
    <div hidden id="map"></div>
</body>
</html>