<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/mobile.css">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <title>Reviews</title>
</head>

<script>
    function displayEditReview(number)
    {
        //elements
        let reviewCard = document.getElementById("review#" + number);
        let editCard = document.getElementById("edit-review#" + number);
        let cards = document.getElementsByClassName("admin-card")
        
        //undisplay all cards
        for(let i = 0; i < cards.length; i++)
        {
            cards[i].style.display = "none"
        }
        
        //update elements
        reviewCard.hidden = true;
        editCard.hidden = false;
    }

    function undisplayEditReview(number)
    {
        //elements
        let reviewCard = document.getElementById("review#" + number);
        let editCard = document.getElementById("edit-review#" + number);
        let cards = document.getElementsByClassName("admin-card")
        
        //undisplay all cards
        for(let i = 0; i < cards.length; i++)
        {
            cards[i].style.display = "block"
        }
        
        //update elements
        reviewCard.hidden = false;
        editCard.hidden = true;
    }

    function search(totalReviews)
    {
        //elements
        let searchBoxInput = document.getElementById("searchBoxInput").value
        let totalText = document.getElementById("totalText");
        let cards = document.getElementsByClassName("admin-card")
        let searchHits = 0

        //search box
        if(searchBoxInput == "")
        {
            //display all cards
            for(let i = 0; i < cards.length; i++)
            {
                cards[i].style.display = "block"
            }

            //set total reviews
            totalText.innerText = totalReviews.toString() + " Reviews"
        }
        else if(searchBoxInput != "")
        {
            //undisplay all cards
            for(let i = 0; i < cards.length; i++)
            {
                cards[i].style.display = "none"
            }

            //display search hit cards
            for(let i = 0; i < cards.length; i++)
            {
                if(cards[i].innerText.includes(searchBoxInput))
                {
                    cards[i].style.display = "block"
                    searchHits++
                }
            }

            //set total reviews
            totalText.innerText = searchHits.toString() + " Reviews"
        }
    }
</script>

<style>
    /*** elements ***/
    body { background-color: #3c41d6; }
    input { color: white; border: 0px solid black; background-color: black; }

    /*** classes ***/
    .admin-edit { width: auto; padding: 0px 10px 0px 10px; margin: auto; user-select: none; border: 1px solid black; background-color: white; }
    .admin-card
    {
        margin: auto; 
        padding: 10px; 
        user-select: none;
        font-weight: bold;
        border-bottom: 1px solid black; 
        background-color: white;
    }
    .admin-card-button
    {
        display: inline-block;
        width: 119px;
        margin: 30px 0px 30px 0px;
        padding: 12px 0px 12px 0px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border: 0px solid black;
        background-color: transparent; 
    }
    .cardText { margin: 0px; }
    .input-admin { width: 360px; margin-left: 7px; padding: 10px 0px 10px 7px; font-weight: bold; font-size: 16px; }
    .label-admin { display: block; padding: 20px 0px 0px 7px; }
    
    /*** ids ***/
    #searchBox { width: 400px; margin: auto; border: 0px solid black; }
    #searchBoxInput { height: 40px; font-weight: normal; color: white; background-color: black; }
    #totalText { margin: 20px 0px 20px 0px; font-size: 20px; text-align: center; text-shadow: 1px 1px black; user-select: none; color: white; }
    #orders { width: 400px; margin: auto; }
    #cardButtons { margin: 20px 0px 0px 0px;}
    #restaurantTitle { margin: 0px 0px 10px 0px; font-size: 20px; font-weight: bold; }
    #reviews { height: 80vh; width: 400px; margin: auto; overflow-y: scroll; }
    #formDelete { display: inline; }
    #formEdit { display: inline; }
    #cancelButton { }
    #editButton { margin-left: 7px; background-color: lightgreen; }
    #deleteButton { background-color: red; }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        .input-admin { width: 90%; }
        .input-label { width: 90%; }
        .admin-card-button { width: 30%; }

        #searchBox { display: block; width: 90vw; margin: auto; margin-top: 10px; }
        #reviews { height: 70vh; width: 90vw; }
    }
</style>

<body>
    <!-- nav menu -->
    <%- include('nav-menu-admin.ejs') %>
    
    <!-- search box -->
    <div id="searchBox">
        <input id="searchBoxInput" placeholder="Search..." onkeyup="search('<%=reviews.length %>')"></input>
    </div>

    <!-- total reviews -->
    <h3 id="totalText"><%=reviews.length %> Reviews</h3>

    <!-- reviews -->
    <div id="reviews">
        <% for(var i = 0; i < reviews.length; i++) { %>
            <div id="review#<%=i + 1%>" class="admin-card" onclick="displayEditReview('<%=i + 1%>')">      
                <p class="cardText"><%=reviews[i].user %></p>
                <p class="cardText"><%=reviews[i].restaurant %></p>
                <p class="cardText"><%=reviews[i].reviewObject.comment %></p>
            </div>
    
            <!-- edit card -->
            <div class="admin-edit" hidden id="edit-review#<%=i + 1%>">
                <!-- edit -->
                <form id="formEdit" action="/admin/edit-review" method="POST">
                    <input class="input-admin" hidden name="id" value="<%=reviews[i]._id %>"></input>
                    <input class="input-admin" hidden name="date" value="<%=reviews[i].reviewObject.date %> %>"></input>
                    <input class="input-admin" hidden name="items" value="<%=reviews[i].reviewObject.items %>"></input>
                    <label class="label-admin">User</label>
                    <input class="input-admin" name="user" value="<%=reviews[i].user %>" maxlength="100"></input>
                    <label class="label-admin">Restaurant</label>
                    <input class="input-admin" name="restaurant" value="<%=reviews[i].restaurant %>" maxlength="100"></input>
                    <label class="label-admin">Rating</label>
                    <input class="input-admin" name="rating" value="<%=reviews[i].reviewObject.rating %>" maxlength="1"></input>
                    <label class="label-admin">Comments</label>
                    <input class="input-admin" name="comment" value="<%=reviews[i].reviewObject.comment %>" maxlength="100"></input>
                    <button id="editButton" class="admin-card-button">Confirm</button>
                </form>
                
                <button id="cancelButton" class="admin-card-button" onclick="undisplayEditReview('<%=i + 1%>')">Cancel</button>
    
                <!-- delete -->
                <form id="formDelete" action="/admin/delete-review" method="POST">
                    <input hidden name="id" value="<%=reviews[i]._id %>"></input>
                    <button id="deleteButton" class="admin-card-button"><b>Delete</b></button>
                </form>
            </div>
        <% } %>
    </div>
</body>
</html>