<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <title>Statistics</title>
</head>

<script>
    function refreshPage()
    {
        location.reload()
    }

    function showStats(type)
    {
        //elements
        let restaurantSales = document.getElementById("restaurantSales")
        let restaurantOrders = document.getElementById("restaurantOrders")
        let restaurantCustomers = document.getElementById("restaurantCustomers")
        let restaurantReviews = document.getElementById("restaurantReviews")
        let buttonSales = document.getElementById("buttonSales")
        let buttonOrders = document.getElementById("buttonOrders")
        let buttonCustomers = document.getElementById("buttonCustomers")
        let buttonReviews = document.getElementById("buttonReviews")

        //update elements
        restaurantSales.style.display = "none"
        restaurantOrders.style.display = "none"
        restaurantCustomers.style.display = "none"
        restaurantReviews.style.display = "none"
        buttonSales.style.opacity = "0.4"
        buttonOrders.style.opacity = "0.4"
        buttonCustomers.style.opacity = "0.4"
        buttonReviews.style.opacity = "0.4"

        //check type
        if(type == "sales")
        {
            restaurantSales.style.display = "block"
            buttonSales.style.opacity = "1"

            localStorage.setItem("restaurant-stats", "sales")
        }
        else if(type == "orders")
        {
            restaurantOrders.style.display = "block"
            buttonOrders.style.opacity = "1"

            localStorage.setItem("restaurant-stats", "orders")
        }
        else if(type == "customers")
        {
            restaurantCustomers.style.display = "block"
            buttonCustomers.style.opacity = "1"

            localStorage.setItem("restaurant-stats", "customers")
        }
        else if(type == "reviews")
        {
            restaurantReviews.style.display = "block"
            buttonReviews.style.opacity = "1"

            localStorage.setItem("restaurant-stats", "reviews")
        }
    }

    function selectStatsType()
    {
        //elements
        let buttonSales = document.getElementById("buttonSales")
        let buttonOrders = document.getElementById("buttonOrders")
        let buttonCustomers = document.getElementById("buttonCustomers")
        let buttonReviews = document.getElementById("buttonReviews")
        
        //get local storage
        selectedCategory = localStorage.getItem("restaurant-stats")
        
        //display selected category
        if(selectedCategory == "sales") { showStats('sales'); buttonSales.scrollIntoView() }
        else if(selectedCategory == "orders") { showStats('orders'); buttonOrders.scrollIntoView() }
        else if(selectedCategory == "customers") { showStats('customers'); buttonCustomers.scrollIntoView() }
        else if(selectedCategory == "reviews") { showStats('reviews'); buttonReviews.scrollIntoView() }
    }

    //set refresh interval
    setInterval(refreshPage, 60000)
</script>

<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { height: 0px; width: 7px; }
    #selectOrderType::-webkit-scrollbar { height: 8px; width: 0px; }
    ::-webkit-scrollbar-track { background: transparent; }
    ::-webkit-scrollbar-thumb { background: black; }
    ::-webkit-scrollbar-thumb:hover {} 


    /*** elements ***/
    body { background-color: #3c41d6; margin: 0px; padding: 0px; }
    p { font-family: Arial, Helvetica, sans-serif; }
    h3 { font-family: Arial, Helvetica, sans-serif; }
    h2 { font-family: Arial, Helvetica, sans-serif; }
    b { font-family: Arial, Helvetica, sans-serif; }
    a { text-decoration: none; color: black; }
    input { font-family: Arial, Helvetica, sans-serif; }
    input[type=number]::-webkit-inner-spin-button { opacity: 1 }
    input { width: 392px; }

    /*** classes ***/
    .categoryTitle 
    { 
        margin: 0px; 
        /* margin-top: 20px;  */
        padding: 0px; 
        text-align: left; 
        text-decoration: none;
        font-size: 24px; 
        font-weight: bold; 
        /* user-select: none; */
        text-shadow: 1px 1px black;
        color: white; 
    }
    .categoryItem 
    { 
        margin: 0px; 
        padding: 0px; 
        text-align: left; 
        font-weight: normal;
        font-size: 18px; 
        /* user-select: none; */
        text-shadow: 1px 1px black;
        color: white; 
    }
    .selectStatsButton
    {
        min-width: 120px; 
        margin: 0px; 
        padding: 12px; 
        font-size: 16px;
        opacity: 0.4;
        font-weight: bold;
        border: 1px solid black;
        background-color: white;
    }
    .statsCategory { display: none; }
    .review 
    { 
        margin: 0px; 
        padding: 10px; 
        border: 1px solid black;
        border-bottom: 2px solid black; 
        background-color: white; 
    }
    .reviewItem { margin: 0px; padding: 0px; }

    /*** ids ***/
    #NavBar
    {
        margin: 0px;
        padding: 0px;
        color: black;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* #title { margin: 0px; padding: 0px; text-align: center; color: white; } */
    #salesTotal { margin-bottom: 14px; text-align: center; color: white; }
    #NavBar { margin: 0px; padding: 10px 0px 10px 7px; color: white; background-color: #3c41d6; }
    #buttonSales { opacity: 1; }
    #selectOrderType 
    { 
        width: 449px; 
        margin: auto; 
        margin-top: 12px; 
        margin-bottom: 20px; 
        text-align: center; 
        user-select: none; 
        display: flex; 
        overflow-x: scroll;
    }
    #restaurantStatistics { max-width: 449px; height: 82vh; margin: auto; margin-bottom: 20px; overflow-y: scroll; }
    #restaurantSales { display: block; }
    #restaurantReviews { overflow-y: scroll; }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        ::-webkit-scrollbar { display: none; }
        ::-webkit-scrollbar { height: 0px; width: 0px; }

        button:focus, button:hover { background-color: white; color: black; }

        .restaurantReview { margin-top: 0px; margin-bottom: 5px; width: 90vw; }
        .item { width: 100%; }

        #restaurantStatistics { width: 89vw; height: 75vh; }
        #selectOrderType { width: 90vw; }
    }
</style>

<body onload="selectStatsType()">
    <!-- nav menu -->
    <%- include('nav-menu-portal.ejs') %>

    <!-- categories -->
    <div id="selectOrderType">
        <button id="buttonSales" class="selectStatsButton" onclick="showStats('sales')">Sales</button>
        <button id="buttonOrders" class="selectStatsButton" onclick="showStats('orders')">Orders</button>
        <button id="buttonCustomers" class="selectStatsButton" onclick="showStats('customers')">Customers</button>
        <button id="buttonReviews" class="selectStatsButton" onclick="showStats('reviews')">Reviews</button>
    </div>

    <!-- variables -->
    <% var thisMonth = new Date().getMonth() %>
    <% var totalSales = 0 %>
    <% var totalSalesThisMonth = 0 %>
    <% var totalSalesJanuary = 0 %>
    <% var totalSalesFebruary = 0 %>
    <% var totalSalesMars = 0 %>
    <% var totalSalesApril = 0 %>
    <% var totalSalesMay = 0 %>
    <% var totalSalesJune = 0 %>
    <% var totalSalesJuly = 0 %>
    <% var totalSalesAugust = 0 %>
    <% var totalSalesSeptember = 0 %>
    <% var totalSalesOctober = 0 %>
    <% var totalSalesNovember = 0 %>
    <% var totalSalesDecember = 0 %>
    <% var totalSalesMondays = 0 %>
    <% var totalSalesTuesdays = 0 %>
    <% var totalSalesWednesdays = 0 %>
    <% var totalSalesThursdays = 0 %>
    <% var totalSalesFridays = 0 %>
    <% var totalSalesSaturdays = 0 %>
    <% var totalSalesSundays = 0 %>
    <% var totalOrders = orders.length %>
    <% var totalCompleted = 0 %>
    <% var totalDeclined = 0 %>
    <% var totalDelivery = 0 %>
    <% var totalPickUp = 0 %>
    <% var customers = [] %>

    <!-- title -->
    <!-- <h2 id="title">Statistics</h2> -->
    
    <!-- set menu items -->
    <% var menuItems = [] %>
    <% for (let i in restaurant.menuItems) { %>
        <% menuItems.push({"id": restaurant.menuItems[i].id, "title": restaurant.menuItems[i].title, "price": restaurant.menuItems[i].price, "count": 0}) %>
        <% } %>
        
    <!-- calculate stats -->
    <% for(var counter = 0; counter < orders.length; counter++) { %>
        <% var orderCustomer = orders[counter].user %>
        <% var orderTotalAmount = parseFloat((orders[counter].totalPrice.slice(1))); %>
        <% totalSales += orderTotalAmount %>
        <% var orderDate = Date.parse(orders[counter].date) %>
        <% var dateObject = new Date(orderDate) %>
        <% var orderDate = dateObject %>
        
        <% for (let i in orders[counter].products.items) { %>
        <!-- <p><%=JSON.stringify(orders[counter].products.items[i]) %></p> -->
        <% let n = orders[counter].products.items[i].name %>
        <% let q = orders[counter].products.items[i].quantity %>
            <% for (let x in menuItems) { %>
                <% if (n == menuItems[x].title) { %>
                    <% menuItems[x].count += q %>
                <% } %>
            <% } %>
        <% } %>

        <!-- orders -->
        <% if(orders[counter].status == "completed") { %> <% totalCompleted++; %> <% } %>
        <% if(orders[counter].status == "declined") { %> <% totalDeclined++; %> <% } %>
        <% if(orders[counter].type == "delivery") { %> <% totalDelivery++; %> <% } %>
        <% if(orders[counter].type == "pick up") { %> <% totalPickUp++; %> <% } %>
        
        <!-- sales this month -->
        <!-- <% if (orderDate.getMonth() == thisMonth) { %> <% totalSalesThisMonth += orderTotalAmount %> <% } %> -->

        <!-- sales weekdays -->
        <% if (orderDate.getDay() == 1) { %> <% totalSalesMondays += orderTotalAmount %> <% } %>
        <% if (orderDate.getDay() == 2) { %> <% totalSalesTuesdays += orderTotalAmount %> <% } %>
        <% if (orderDate.getDay() == 3) { %> <% totalSalesWednesdays += orderTotalAmount %> <% } %> 
        <% if (orderDate.getDay() == 4) { %> <% totalSalesThursdays += orderTotalAmount %> <% } %>
        <% if (orderDate.getDay() == 5) { %> <% totalSalesFridays += orderTotalAmount %> <% } %> 
        <% if (orderDate.getDay() == 6) { %> <% totalSalesSaturdays += orderTotalAmount %> <% } %>
        <% if (orderDate.getDay() == 0) { %> <% totalSalesSundays += orderTotalAmount %> <% } %>

        <!-- sales months -->
        <% if (orderDate.getMonth() == 0) { %> <% totalSalesJanuary += orderTotalAmount %> <% } %>
        <% if (orderDate.getMonth() == 1) { %> <% totalSalesFebruary+= orderTotalAmount %> <% } %>
        <% if (orderDate.getMonth() == 2) { %> <% totalSalesMars += orderTotalAmount %> <% } %> 
        <% if (orderDate.getMonth() == 3) { %> <% totalSalesApril += orderTotalAmount %> <% } %>
        <% if (orderDate.getMonth() == 4) { %> <% totalSalesMay+= orderTotalAmount %> <% } %> 
        <% if (orderDate.getMonth() == 5) { %> <% totalSalesJune += orderTotalAmount %> <% } %>
        <% if (orderDate.getMonth() == 6) { %> <% totalSalesJuly += orderTotalAmount %> <% } %>
        <% if (orderDate.getMonth() == 7) { %> <% totalSalesAugust += orderTotalAmount %> <% } %>
        <% if (orderDate.getMonth() == 8) { %> <% totalSalesSeptember += orderTotalAmount %> <% } %>
        <% if (orderDate.getMonth() == 9) { %> <% totalSalesOctober += orderTotalAmount %> <% } %>
        <% if (orderDate.getMonth() == 10) { %> <% totalSalesNovember += orderTotalAmount %> <% } %>
        <% if (orderDate.getMonth() == 11) { %> <% totalSalesDecember += orderTotalAmount %> <% } %>

        <!-- unique customers -->
        <% customers.push(orderCustomer) %>  
        
    <% } %> 

    <div id="restaurantStatistics">
        <!-- sales -->
        <div id="restaurantSales" class="statsCategory">
            <h3 id="salesTotal" class="categoryTitle">Total = $<%=totalSales %></h3>
            <!-- <p style="text-align: center; text-decoration: underline; margin-bottom: 5px; padding-bottom: 0px;"><b>Sales Months All Time</b></p> -->
            
            <h3 class="categoryTitle">Weekdays</h3>
            <p class="categoryItem">Mondays · $<%=totalSalesMondays %></p>
            <p class="categoryItem">Tuesdays · $<%=totalSalesTuesdays %></p>
            <p class="categoryItem">Wednesdays · $<%=totalSalesWednesdays %></p>
            <p class="categoryItem">Thursdays · $<%=totalSalesThursdays %></p>
            <p class="categoryItem">Fridays · $<%=totalSalesFridays %></p>
            <p class="categoryItem">Saturdays · $<%=totalSalesSaturdays %></p>
            <p class="categoryItem">Sundays · $<%=totalSalesSundays %></p>
            
            <br />

            <h3 class="categoryTitle">Months</h3>
            <p class="categoryItem">January · $<%=totalSalesJanuary%></p>
            <p class="categoryItem">February · $<%=totalSalesFebruary%></p>
            <p class="categoryItem">Mars · $<%=totalSalesMars %></p>
            <p class="categoryItem">April · $<%=totalSalesApril %></p>
            <p class="categoryItem">May · $<%=totalSalesMay %></p>
            <p class="categoryItem">June · $<%=totalSalesJune %></p>
            <p class="categoryItem">July · $<%=totalSalesJuly %></p>
            <p class="categoryItem">August · $<%=totalSalesAugust %></p>
            <p class="categoryItem">September · $<%=totalSalesSeptember %></p>
            <p class="categoryItem">October · $<%=totalSalesOctober %></p>
            <p class="categoryItem">November · $<%=totalSalesNovember %></p>
            <p class="categoryItem">December · $<%=totalSalesDecember %></p>
            
            <br />

            <h3 class="categoryTitle">Items</h3>
            <% for (let i in menuItems.sort((a, b) => { if(a.count < b.count) return 1; if(a.count > b.count) return -1; return 0; })) { %>
                <p class="categoryItem"><%=menuItems[i].count %> · <%=menuItems[i].title %> · $<%=menuItems[i].price * menuItems[i].count%></p>
            <% } %>
            
            <!-- <p style="text-align: center; text-decoration: underline; margin-bottom: 5px; padding-bottom: 0px;"><b>Sales Weekdays All Time</b></p> -->
        </div>

        <!-- orders -->
        <div id="restaurantOrders" class="statsCategory">
            <p class="categoryItem">Total · <%=totalOrders %></p>
            <p class="categoryItem">Completed · <%=totalCompleted %></p>
            <p class="categoryItem">Declined · <%=totalDeclined %></p>
            <p class="categoryItem">Delivery · <%=totalDelivery %></p>
            <p class="categoryItem">Pick Up · <%=totalPickUp %></p>
        </div>
        
        <!-- customers -->
        <div id="restaurantCustomers" class="statsCategory">
            <% customersNoDuplicates = Array.from(new Set(customers)); %>
            <p class="categoryItem">Total Unique · <%=customersNoDuplicates.length %></p>
        </div>
        
        <!-- reviews -->
        <div id="restaurantReviews" class="statsCategory">
            <% for (let i in reviews) { %>
                <div class="review">
                    <% for (let c = 0; c < reviews[i].reviewObject.rating; c++) { %>
                        <span>★</span>
                    <% } %>
                    <p class="reviewItem"><%=reviews[i].reviewObject.name %></p>
                    <p class="reviewItem"><%=reviews[i].reviewObject.comment %></p>
                    <p class="reviewItem"><%=reviews[i].reviewObject.date.toString().substring(3, 15) %></p>
                    <!-- <p class="reviewItem"><%=JSON.stringify(reviews[i].reviewObject.items) %></p> -->
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>