<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="/css/portalRestaurant.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
</head>

<script>
    function editProfileCredentials()
    {
        let profileCredentials = document.getElementById("profileCredentials");
        let editProfileCredentials = document.getElementById("editProfileCredentials");

        if(profileCredentials.style.display == "block" || editProfileCredentials == "none")
        {
            profileCredentials.style.display = "none";  
            editProfileCredentials.style.display = "block";  
        }
        else
        {
            profileCredentials.style.display = "block";
            editProfileCredentials.style.display = "none";
        }
    }
</script>

<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { height: 0px; width: 0px; }

    /*** elements ***/
    body { background-color: #3c41d6; }

    /*** classes ***/
    .statusItem { margin: 0px; padding: 10px 0px 10px 0px; border-bottom: 1px solid black; }
    .categoryTitle { margin: 20px 0px 0px 0px; padding: 0px; font-weight: normal; font-size: 20px; text-shadow: 1px 1px black; color: white; }
    .credential { margin: 0px; padding: 0px; }
    .optionButton { width: 100%; padding: 10px 0px 10px 0px; font-weight: bold; font-size: 16px; border: 0px solid black; border-bottom: 1px solid black; }

    /*** ids ***/
    #NavBar { margin: 0px; padding: 10px 0px 0px 0px; padding-left: 7px; color: white; background-color: #3c41d6; }
    #categoryStatus { text-align: center; }
    #settings { margin: auto; width: 400px; }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        #settings { width: 90vw; }
    }
</style>

<body>
    <a href="/restaurantPortal"><nav id="NavBar"><b>❮</b></nav></a>

    <div id="settings">
        <!-- status -->
        <p class="categoryTitle">Status</p>
        <div id="categoryStatus" class="category">
            <% if(restaurant.menuOnline == false) { %>
                <p class="statusItem" style="background-color: red;"><b>restaurant</b> is closed</p>
            <% } %>
                
            <% if(restaurant.menuOnline == true) { %>
                <p class="statusItem" style="background-color: green;"><b>restaurant</b> is open</p>
            <% } %>

            <% if(restaurant.menuListed == false) { %>
                <p class="statusItem" style="background-color: red;"><b>restaurant</b> is inactive</p>
            <% } %>
            
            <% if(restaurant.menuListed == true) { %>
                <p class="statusItem" style="background-color: green;"><b>restaurant</b> is active</p>
            <% } %>
    
        </div>

        <!-- credentials -->
        <!-- <p class="categoryTitle">Credentials</p>
        <div id="profileCredentials" class="category" style="display: block;">
            <p class="credential">email: <%=email %></p>
            <p class="credential">name: <%=name %></p>
            <p class="credential">phone: <%=phone %></p>
            <p class="credential">address: <%=address %></p>
            <p class="credential">city: <%=restaurant.city %></p>
        </div> -->

        <!-- options -->
        <p class="categoryTitle">Options</p>
        <div id="categoryOptions" class="category">
            <form action="/restaurantPortal/welcomeMessage" method="POST">
                <!-- <% if(restaurant.welcomeMessage == false) { %>
                    <input hidden name="welcomeMessage" value=true></input>
                    <button class="profile-buttons">show welcome message</button><br />
                <% } %> -->
                <!-- <% if(restaurant.welcomeMessage == true) { %>
                    <input hidden name="welcomeMessage" value=false></input>
                    <button class="profile-buttons optionButton">dont show welcome message</button><br />
                <% } %> -->
            </form>
        </div>
        
        <!-- open/close restaurant -->        
        <form action="/restaurantPortal/menuOnline" method="POST">
            <% if(restaurant.menuOnline == false) { %>
                <input hidden name="menuOnline" value="true"></input>
                <button class="profile-buttons optionButton">open restaurant</button><br />
            <% } %>
                
            <% if(restaurant.menuOnline == true) { %>
                <input hidden name="menuOnline" value="false"></input>
                <button class="profile-buttons optionButton">close restaurant</button><br />
            <% } %>
        </form>
        
        <!-- activate/deactivate restaurant -->
        <form action="/restaurantPortal/menuListed" method="POST">
            <% if(restaurant.menuListed == false) { %>
                <input hidden name="menuListed" value=true></input>
                <button class="profile-buttons optionButton">activate restaurant</button><br />
            <% } %>
            
            <% if(restaurant.menuListed == true) { %>
                <input hidden name="menuListed" value=false></input>
                <button class="profile-buttons optionButton">deactivate restaurant</button><br />
            <% } %>
        </form>

        <!-- edit credentials -->
        <!-- <div id="editProfileCredentials" style="display: none">
            <form action="" method="POST" onkeydown="return event.key != 'Enter';">
                <input hidden value="<%=email %>" name="oldEmail"></input>
                <input hidden value="<%=email %>" name="newEmail" placeholder="email"></input>
                <b>name: </b><input value="<%=name %>" name="name" placeholder="name"></input>
                <br/>
                <b>phone: </b><input value="<%=phone %>" name="phone" placeholder="phone"></input>
                <br/>
                <b>adress: </b><input id="searchInput" value="<%=address %>">
                <input hidden id="userAddress" value="<%=address %>" name="address" placeholder="address"></input>
                <br/>
                <b>city: </b><input id="" value="<%=restaurant.city %>">
                <input hidden id="userCity" value="<%=restaurant.city %>" name="city" placeholder="city"></input>
                <br/>
                <button class="profile-buttons" type="submit" onclick="">confirm</button>
            </form>
            
            <button class="profile-buttons"  onclick="editProfileCredentials()">decline</button>
        </div> -->
    </div>
</body>
</html>