<!-- user/restuarants.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <link rel="manifest" href="/pwa/manifest.json">
    <script src="/pwa/service-worker.js"></script>
    <title>Restaurants</title>
</head>

<script>
    function displayRestaurantReviews(menuItemNumber)
    {
        //elements
        let review = document.getElementById("restaurantsRestaurantReview#" + menuItemNumber)
        let item = document.getElementById("restaurantMenuItem#" + menuItemNumber)
        
        //update elements
        if(review.style.display == "none")
        {
            review.style = "overflow-y: auto"
            review.style.display = "block"
        }
        else if(review.style.display == "block")
        {
            review.style.display = "none"
            item.style.marginBottom = "0px"
        }
    }

    function setRestaurantNumberOfReviews(restaurantNumber, value)
    {
        //elements
        let restaurantReviewHeader = document.getElementById("restaurantReviewHeader#" + restaurantNumber)
        let restaurantReviewHeaderMobile = document.getElementById("restaurantReviewHeaderMobile#" + restaurantNumber)

        //update elements
        if(value == 0)
        {
            restaurantReviewHeader.innerHTML = "0 Reviews"
            restaurantReviewHeader.onclick = ""
            restaurantReviewHeaderMobile.innerHTML = "0 Reviews"
            restaurantReviewHeaderMobile.onclick = ""
        }
        else
        {
            restaurantReviewHeader.innerHTML = value + " Reviews"
            restaurantReviewHeaderMobile.innerHTML = value + " Reviews"
        }
    }

    function setRestaurantRating(restaurantNumber, rating)
    {
        //elements
        let checkIfNaN = isNaN(parseFloat(rating))
        let restaurantRating = document.getElementById("restaurantRating#" + restaurantNumber)

        //update elements
        if(checkIfNaN == false)
        {
            rating = Number(rating).toFixed(1)
            restaurantRating.innerHTML = rating + " ★"
            restaurantRating.hidden = false
        }
        else
        {
            restaurantRating.innerHTML = ""
            restaurantRating.hidden = false
        }
    }

    function searchBoxRestaurants(totalMenuItems)
    {
        //variables
        let searchBoxInput = document.getElementById("searchBoxInput").value
        let searchString = String(searchBoxInput).toLowerCase()
        let countItems = 0

        //update elements
        for(let c = 1; c <= totalMenuItems; c++)
        {
            let menuItem = document.getElementById("restaurantMenuItem#" + c)
            let menuItemSearchText = document.getElementById("restaurantMenuItemSearchText#" + c)

            if(menuItemSearchText.innerHTML.toLowerCase().includes(searchString))
            {
                menuItem.style.display = "block"
                countItems++
            }
            else
            {
                menuItem.style.display = "none"
            }
        }
    }
</script>

<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { height: 0px; width: 0px; }


    /*** elements ***/
    html { height: 100vh; width: 100vw; background-size: cover; background-repeat: no-repeat; }
    body { height: 100vh; margin: 0px; padding: 0px; overflow: hidden; font-family: Arial, Helvetica, sans-serif; background-color: #3c41d6; }
    h1 { margin: 0px; }
    h3 { margin: 0px; }
    p { margin: 0px; }
    img { height: 50px; width: 50px; }
    input { width: 100%; font-family: arial; }
    input[type=number]::-webkit-inner-spin-button { opacity: 1 }
    input::placeholder { color: white; }
    input:focus { outline: none; }


    /*** classes ***/
    .restaurantMenuItem { margin-top: 30px; background-color: #f7f9f9; }
    .restaurantReview 
    { 
        width: auto; 
        margin: 0px; 
        padding: 10px; 
        text-align: left; 
        overflow-x: scroll; 
        white-space: nowrap;
        user-select: none;
        border-bottom: 1px solid black; 
        background-color: lightgray; 
    }
    .restaurantReviewModal 
    { 
        max-height: 300px; 
        width: 699px; 
        margin: auto; 
        border: 0px solid black; 
        border-left: 1px solid black; 
        border-right: 1px solid black;
    }
    .restaurantReviewHeader { width: max-content; margin: -43px 0px 0px 233px; padding: 10px; user-select: none; }
    .restaurantMenuItem img { margin: 0xp; padding: 0px; height: 196px; width: 100%; }
    .restaurantCity { margin: 0px; padding: 0px; }
    .restaurantTitle { margin: 0px; padding: 0px; }
    .restaurantType { margin: 0px; padding: 0px; }
    .restaurantRating { margin: 0px; padding: 0px; }
    .restaurant-backgroundImage { display: block; }
    .restaurant-backgroundImage-mobile { display: none; }
    .restaurantReview
    {
        margin: auto;
        background-color: #f7f9f9;
        text-align: left;
        width: 100%;
    }
    .restaurantMenuItem 
    { 
        display: block; 
        width: 697px; 
        margin: auto; 
        margin-top: 20px; 
        padding: 0px;
        border: 2px solid black; 
        background-color: white; 
    }
    .restaurantMenuItemText
    {
        margin: 0px;
        margin-top: 3px;
        margin-right: 2px;
        margin-left: 6px;
        padding: 0px;
        height: 149px;
        width: 454px;
        text-align: left;
    }
    .restaurantMenuItemImg
    {
        display: inline-block;
        margin: 0px;
        padding: 0px;
        vertical-align: top;
        height: 197px;
        width: 228px;
        border-right: 1px solid black;
        background-color: black;
    }
    

    /*** ids ***/
    #searchBoxInput { height: 40px; font-weight: bold; font-size: 16px; color: white; border: 0px solid black; background-color: black; }
    #grid-restaurants { height: 88vh; overflow-y: scroll; text-align: center; }
    #searchBoxRestaurants input { display: block; margin: auto; width: 698px; text-align: center; }
    #titleClosedRestaurants { margin-top: 24px; font-size: 26px; text-shadow: 1px 1px black; opacity: 40%; color: red; }
    #body-restaurants { width: 100vw; overflow-y: scroll; overflow-x: none; }
    #searchBoxInput::placeholder { color: white; }
    

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        .restaurantMenuItemText { width: 90%; padding: 0px; }
        .restaurantMenuItem { margin: 24px 0px 0px 0px; width: 100%; border: 0px solid black; }
        .restaurantMenuItemText
        {
            display: block;
            height: 130px;
            width: 100%;
            min-height: 136px;
            max-height: 136px;
            margin: 0px;
            padding: 0px;
            text-align: center;
            color: black;
            border: 0px solid black;
            background-color: transparent;
        }
        .restaurantReviewHeaderMobile { margin: 0px; padding: 10px 0px 10px 0px; background-color: transparent; }
        .restaurantReviewModal { width: 100%; background-color: black; }
        .restaurant-backgroundImage-mobile { display: block; border: 1px solid black; background-size: cover;}
        .restaurantTitle { margin: 10px 0px 0px 0px; }
        .restaurantMenuItemImg { display: block; }
        .restaurantMenuItemImg { display: none; }
        .restaurantReview { margin: 0px; width: 90vw; }
        .restaurantReviewModal::-webkit-scrollbar { display: none; }
        .restaurant-backgroundImage { display: none; }

        #searchBoxRestaurants input { display: block; width: 89vw; margin: auto; margin-top: 10px; text-align: center; }
        #grid-restaurants { height: 82vh; width: 90vw; margin: auto; }
    }
</style>

<body id="body-restaurants">
    <!-- admin nav menu -->
    <% if(admin != null && admin == true) { %> 
        <%- include('nav-menu-admin.ejs') %>

    <!-- user nav menu -->
    <% } else if(loggedIn == true) { %>
        <%- include('nav-menu-user.ejs') %>

    <!-- anon nav menu -->
    <% } else { %> 
        <%- include('nav-menu-anon.ejs') %>
    <% } %>

    <!-- arrays -->
    <% var restaurantsOpen = [] %>
    <% var restaurantsClosed = [] %>
    <% var restaurantCities = [] %>

    <!-- add open restaurants to array -->
    <% for (let restaurant of restaurants) { %>
        <% if(restaurant.menuListed == true && restaurant.open == true) { %>
            <% restaurantsOpen.push(restaurant); %>
        <% } %>
    <% } %>

    <!-- add closed restaurants to array -->
    <% for (let restaurant of restaurants) { %>
        <% if(restaurant.menuListed == true && restaurant.open == false) { %>
            <% restaurantsClosed.push(restaurant); %>
        <% } %>
    <% } %>

    <!-- search box -->
    <div id="searchBoxRestaurants" onkeyup="searchBoxRestaurants('<%=restaurants.length - 1 %>')">
        <input id="searchBoxInput" placeholder="Search..."></input>
    </div>

    <div id="grid-restaurants" class="grid">
        <% counter = 0 %>
        
        <!-- open restaurants -->
        <div id="openRestaurants">
            <% if (restaurantsOpen.length > 0) { %>
                <% for (let restaurant of restaurantsOpen) { %>
                    <% counter++ %>
    
                    <!-- restaurant -->
                    <div id="restaurantMenuItem#<%=counter %>" class="restaurantMenuItem">
                        <!-- restaurant profile image -->
                        <div id="restaurant-backgroundImage#<%=counter %>" class="restaurant-backgroundImage">
                            <a style="text-decoration: none; color: black;" href="/restaurant/<%= restaurant.url %>">
                                <div class="restaurantMenuItemImg">
                                    <img src="<%=restaurant.imageUrl %>">
                                </div>                  
                                
                                <!-- restaurant info -->
                                <div class="restaurantMenuItemText" style="display: inline-block;">
                                    <h1 class="restaurantTitle"><%=restaurant.title %></h1> <!-- title -->
                                    <h3 class="restaurantCity"><%=restaurant.city %></h3> <!-- location -->
                                    <h3 class="restaurantRating" hidden id="restaurantRating#<%=counter %>"></h3> <!-- rating -->
                                    <h3 class="restaurantType"><%=restaurant.type %></h3> <!-- type -->
                                </div>
                            </a>
                                
                                <h3 id="restaurantReviewHeader#<%=counter %>" class="restaurantReviewHeader" onclick="displayRestaurantReviews('<%=counter %>')">Reviews</h3>
                            </div>
                        </div>
                                    
                         <!-- restaurant profile image mobile -->
                         <div id="restaurant-backgroundImage-mobile<%=counter %>" class="restaurant-backgroundImage-mobile" style="background-image: url('<%=restaurant.imageUrl %>');">
                            <a style="text-decoration: none; color: black;" href="/restaurant/<%= restaurant.url %>">
                                <div class="restaurantMenuItemImg">
                                    <img src="<%=restaurant.imageUrl %>">
                                </div>                  
                                
                                <!-- restaurant info -->
                                <div class="restaurantMenuItemText">
                                    <h1 class="restaurantTitle"><%=restaurant.title %></h1> <!-- title -->
                                    <h3 class="restaurantCity"><%=restaurant.city %></h3> <!-- location -->
                                    <h3 class="restaurantRating" hidden id="restaurantRating#<%=counter %>"></h3> <!-- rating -->
                                    <h3 class="restaurantType"><%=restaurant.type %></h3> <!-- type -->
                                </div>
                            </a>
                                
                            <h3 id="restaurantReviewHeaderMobile#<%=counter %>" class="restaurantReviewHeaderMobile" onclick="displayRestaurantReviews('<%=counter %>')">Reviews</h3>
                        </div>
                    
                        <!-- reviews -->
                        <div id="restaurantsRestaurantReview#<%=counter %>" class="restaurantReviewModal" style="display: none;">
                            <% var sortArray = [] %>
                            <% var restaurantRating = null %>
                            
                            <% for(var i = 0; i < reviews.length; i++) { %>
                                <% if(reviews[i].restaurant == restaurant.url) { %>
                                    <% sortArray.push(reviews[i]); %>
                                    <% restaurantRating += parseInt(reviews[i].reviewObject.rating) %>
                                <% } %>
                            <% } %>
    
                            <% var rating = restaurantRating / parseInt(sortArray.length); %>                 
    
                            <script>
                                setRestaurantRating('<%=counter %>', '<%=rating %>');
                                setRestaurantNumberOfReviews('<%=counter %>', '<%=parseInt(sortArray.length) %>');
                            </script>
                                    
                            <% if(sortArray.length != 0) { %>
                                
                                <% for(var i = 0; i < sortArray.length; i++) { %>
                                    <div class="restaurantReview">
                                        <% var dateFormatted = sortArray[i].reviewObject.date %>
                                        <% var dateFormatted = dateFormatted.toString().split(" ") %>
                                        <% var dateFormatted = dateFormatted[1] + "-" + dateFormatted[2] + "-" + dateFormatted[3] %>
                     
                                        <p><b><%=sortArray[i].reviewObject.rating %> ★ </b> · <%=dateFormatted %> · <%=sortArray[i].reviewObject.name %> · <b><%=sortArray[i].reviewObject.comment %></b><span> &nbsp; </span></p>
                                    </div>                                
                                <% } %> 
                            
                            <% } else { %>
                                <div class="restaurantReview" style="text-align: center;"> 
                                    <h3>No reviews exist</h3>
                                </div>
                            <% } %>
                        </div>
    
                        <!-- search object -->
                        <p hidden id="restaurantMenuItemSearchText#<%=counter %>">
                            <%=restaurant.title %>
                            <%=restaurant.status %>
                            <%=restaurant.rating %>
                            <%=restaurant.type %>
                            <%=restaurant.city %>
                            <%=restaurant.description %>
                        </p>
                <% } %>
                <% } else { %>
                <% } %>
        </div>

        <!-- closed restaurants -->
        <h3 id="titleClosedRestaurants">Closed</h3>
        <div id="closedRestaurants">
            <% if (restaurantsClosed.length > 0) { %>
                <% for (let restaurant of restaurantsClosed) { %>
                    <% counter++ %>
    
                    <div id="restaurantMenuItem#<%=counter %>" class="restaurantMenuItem" style="opacity: 40%;">
                        <!-- restaurant profile image -->
                        <div id="restaurant-backgroundImage#<%=counter %>" class="restaurant-backgroundImage">
                            <a style="text-decoration: none; color: black" href="/restaurant/<%= restaurant.url %>">
                                <div class="restaurantMenuItemImg">
                                    <img src="<%= restaurant.imageUrl %>">
                                </div>
                        
                                <!-- restaurant info -->
                                <div class="restaurantMenuItemText" style="display: inline-block;">
                                    <h1 class="restaurantTitle"><%=restaurant.title %></h1> <!-- title -->
                                    <h3 class="restaurantCity"><%=restaurant.city %></h3> <!-- location -->
                                    <h3 class="restaurantRating" hidden id="restaurantRating#<%=counter %>"></h3> <!-- rating -->
                                    <h3 class="restaurantType"><%=restaurant.type %></h3> <!-- type -->
                                </div>
                             </a>
    
                            <h3 id="restaurantReviewHeader#<%=counter %>" class="restaurantReviewHeader" onclick="displayRestaurantReviews('<%=counter %>')">Reviews</h3>
                        </div>
                        
                         <!-- restaurant profile image mobile -->
                         <div id="restaurant-backgroundImage-mobile<%=counter %>" class="restaurant-backgroundImage-mobile" style="background-image: url('<%=restaurant.imageUrl %>');">
                            <a style="text-decoration: none; color: black;" href="/restaurant/<%= restaurant.url %>">
                               <div class="restaurantMenuItemImg">
                                   <img src="<%=restaurant.imageUrl %>">
                               </div>                  
                               
                               <!-- restaurant info -->
                               <div class="restaurantMenuItemText">
                                    <!-- <h3 style="color: rgb(214, 14, 14)">Closed</h3> -->
                                    <h1 class="restaurantTitle"><%=restaurant.title %></h1> <!-- title -->
                                    <h3 class="restaurantCity"><%=restaurant.city %></h3> <!-- location -->
                                    <h3 class="restaurantRating" hidden id="restaurantRating#<%=counter %>"></h3> <!-- rating -->
                                    <h3 class="restaurantType"><%=restaurant.type %></h3> <!-- type -->
                                </div>
                            </a>
                                
                            <h3 id="restaurantReviewHeaderMobile#<%=counter %>" class="restaurantReviewHeaderMobile" onclick="displayRestaurantReviews('<%=counter %>')">Reviews</h3>
                        </div>
    
                        <!-- reviews -->
                        <div id="restaurantsRestaurantReview#<%=counter %>" class="restaurantReviewModal" style="display: none;">
                            <% var sortArray = [] %>
                            <% var restaurantRating = null %>
                            
                            <% for(var i = 0; i < reviews.length; i++) { %>
                                <% if(reviews[i].restaurant == restaurant.url) { %>
                                    <% sortArray.push(reviews[i]); %>
                                    <% restaurantRating += parseInt(reviews[i].reviewObject.rating) %>
                                <% } %>
                            <% } %>
    
                            <% var rating = restaurantRating / parseInt(sortArray.length); %>                 
    
                            <script>
                                setRestaurantRating('<%=counter %>', '<%=rating %>');
                                setRestaurantNumberOfReviews('<%=counter %>', '<%=parseInt(sortArray.length) %>');
                            </script>
                                    
                            <% if(sortArray.length != 0) { %>
                                
                                <% for(var i = 0; i < sortArray.length; i++) { %>
                                    <div class="restaurantReview">
                                        <% var dateFormatted = sortArray[i].reviewObject.date %>
                                        <% var dateFormatted = dateFormatted.toString().split(" ") %>
                                        <% var dateFormatted = dateFormatted[2] + " " + dateFormatted[1] + " " + dateFormatted[3] %>
    
                                        <p><b><%=sortArray[i].reviewObject.rating %> ★ </b> · <%=dateFormatted %> · <%=sortArray[i].reviewObject.name %> · <b><%=sortArray[i].reviewObject.comment %></b><span> &nbsp; </span></p>
                                    </div>                                
                                <% } %> 
                            
                            <% } else { %>
                                <div class="restaurantReview" style="text-align: center;"> 
                                    <h3>No reviews exist</h3>
                                </div>
                            <% } %>
                        </div>
    
                        <!-- search object -->
                        <p hidden id="restaurantMenuItemSearchText#<%=counter %>">
                            <%=restaurant.status %>
                            <%=restaurant.title %>
                            <%=restaurant.rating %>
                            <%=restaurant.type %>
                            <%=restaurant.location %>
                            <%=restaurant.description %>
                        </p>
                    </div>
            <% } %>
            <% } else { %>
            <% } %>
        </div>
    </div>
</body>
</html>