<!-- user/profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
</head>

<script>
    function checkQueryParams()
    {
        let update = "<%=update %>";
        let errorText = document.getElementById("errorText");
        let editProfilePassword = document.getElementById("editProfilePassword");

        if(update == "oldpasswordincorrect")
        {
            errorText.style.paddingTop = "25px";
            errorText.style.color = "red";
            errorText.innerHTML = "<b>old password incorrect</b>";
            editProfilePassword.style.display = "block";
        }
        else if(update == "successful")
        {
            errorText.style.paddingTop = "25px";
            errorText.style.color = "green";
            errorText.innerHTML = "<b>password change successful</b>";
            editProfilePassword.style.display = "block";
        }
    }

    function editProfilePassword()
    {
        let editProfilePassword = document.getElementById("editProfilePassword");

        if(editProfilePassword.style.display == "none")
        {
            editProfilePassword.style.display = "block";  
        }
        else
        {
            editProfilePassword.style.display = "none";
        }
    }

    function editProfileCredentials()
    {
        let editProfileCredentials = document.getElementById("editProfileCredentials");

        if(editProfileCredentials.style.display == "none")
        {
            editProfileCredentials.style.display = "block";  
        }
        else
        {
            editProfileCredentials.style.display = "none";
        }
    }

    function passwordMatch()
    {
        let confirmButton = document.getElementById("confirmButton");
        let errorText = document.getElementById("errorText");
        let newPassword = document.getElementById("newPassword");
        let confirmPassword = document.getElementById("confirmPassword");
        
        if(newPassword.value != confirmPassword.value && confirmPassword.value != "")
        {
            errorText.style.paddingTop = "25px";
            errorText.innerHTML = "<b>passwords dont match</b>";
            errorText.style.color = "red";
            confirmButton.hidden = true;
        }
        else if(newPassword.value == confirmPassword.value && confirmPassword.value != "")
        {
            errorText.style.paddingTop = "25px";
            errorText.innerHTML = "<b>passwords match</b>";
            errorText.style.color = "green";
            confirmButton.hidden = false;
        }
    }

    function GoogleMapsAdressAutocomplete() 
    {
        let map = new google.maps.Map(document.getElementById('map'), {
            //center: {lat: -33.8688, lng: 151.2195},
            //zoom: 13
        });
        
        let input = document.getElementById('searchInput');
        let autocomplete = new google.maps.places.Autocomplete(input);
        let infowindow = new google.maps.InfoWindow();

        autocomplete.addListener('place_changed', function() 
        {
            infowindow.close();
            let place = autocomplete.getPlace();
            
            if (!place.geometry) 
            {
                return window.alert("Address not found");
            }
        
            var address = '';
            
            if (place.address_components) 
            {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
        
            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                
            //location details
            for (let i = 0; i < place.address_components.length; i++) 
            {
                if(place.address_components[i].types[0] == 'country')
                {
                    if(place.address_components[i].long_name == "Sweden")
                    {
                        let userAddress = document.getElementById('userAddress')
                        let customerAdress = document.getElementById('customerAddress')

                        if(userAddress != null)
                        {
                            userAddress.value = place.formatted_address;
                        }
                        if(customerAdress != null)
                        {
                            customerAdress.value = place.formatted_address;
                        }
                    }

                    if(place.address_components[i].long_name != "Sweden")
                    {
                        alert("Location restricted to Sweden only");
                    }
                    
                }
            }
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCHDajHZ7clx29MBJQ2omXfEprzsRw5n6Y&callback=GoogleMapsAdressAutocomplete" async defer></script>

<style>
    /*** elements ***/
    body { height: 100vh; background-color: #3c41d6 }
    input 
    { 
        width: 388px;
        padding: 10px 4px 10px 8px; 
        outline: none; 
        font-weight: bold;
        font-size: 20px; 
        text-align: left;
        color: white; 
        border: 0px solid black; 
        border-bottom: 1px solid black; 
        background-color: black;  
    }


    /*** classes ***/
    .credential 
    { 
        margin: 0px; 
        padding: 0px; 
        padding-top: 5px; 
        padding-bottom: 5px; 
        border-bottom: 1px solid black; 
        background-color: #f7f9f9; 
    }
    .category { font-size: 20px; font-weight: bold; margin-top: 20px; }
    .categoryTitle 
    { 
        display: block; 
        width: 400px; 
        margin: auto; 
        margin-top: 12px; 
        padding: 0px; 
        text-align: left;
        font-weight: normal;
        font-size: 20px;
        text-shadow: 1px 1px black; 
        color: white;
    }
    .confirm-button
    { 
        width: 400px; 
        margin: auto;
        margin-top: 40px;
        padding: 12px 0px 12px 0px; 
        text-align: center; 
        font-weight: bold;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        border: 0px solid black;
        background-color: lightgreen; 
    }

    /*** ids ***/
    #profileCredentials { margin: auto; text-align: left; }
    #main-profile { height: 100vh; width: 400px; margin: auto; margin-top: 20px; padding: 0px; text-align: left; }
    #options { }
    #profileCredentials { width: 400px; }
    #editProfileCredentials { width: 400px; }
    #editProfilePassword { width: 400px; }
    #buttonUpdateCredentials { }
    #buttonUpdatePassword { }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        input { width: 96%; }

        .confirm-button { width: 100%; }
        .categoryTitle { width: 100%; }

        #main-profile { width: 90vw; }
        #editProfileCredentials { width: inherit; }
    }
</style>

<body onload="checkQueryParams()">
    <!-- admin nav menu -->
    <% if(admin != null && admin == true) { %> 
        <%- include('nav_menu_admin.ejs') %>

    <!-- user nav menu -->
    <% } else if(loggedIn == true) { %>
        <%- include('nav-menu-user.ejs') %>

    <!-- anon nav menu -->
    <% } else { %> 
        <%- include('nav-menu-anon.ejs') %>
    <% } %>
    
    <div id="main-profile">
        <!-- change credentials -->
        <!-- <p class="categoryTitle">Credentials</p> -->
        <!-- <button class="profile-buttons" onclick="editProfileCredentials()"><b>change credentials</b></button><br /> -->
        <div id="editProfileCredentials">
            <form action="/user-update-credentials" method="POST" onkeydown="return event.key != 'Enter';">
                <input hidden value="<%=email %>" name="email"></input>
                <input hidden id="userAddress" value="<%=address %>" name="address" placeholder="address"></input>
                
                <p class="categoryTitle">Name</p>
                <input value="<%=name %>" maxlength="30" name="name" placeholder="name"></input><br/>
                <p class="categoryTitle">Phone</p>
                <input value="<%=phone %>" maxlength="12" name="phone" placeholder="phone"></input><br/>
                <p class="categoryTitle">Address</p>
                <input id="searchInput" maxlength="1000" value="<%=address %>"><br />
                
                <button id="buttonUpdateCredentials" class="profile-buttons confirm-button" type="submit"><b>Confirm Changes</b></button>
            </form>
        </div>

        <!-- change password -->
        <!-- <button class="profile-buttons" onclick="editProfilePassword()"><b>change password</b></button> -->
        <!-- <p class="category">Password</p> -->
        <!-- <div id="editProfilePassword">
            <form action="/user-update-password" method="POST" onkeydown="return event.key != 'Enter';">
                <p hidden id="errorText"></p>
                <input hidden value="<%=email %>" name="email"></input>
                
                <p class="categoryTitle">Password Old</p>
                <input required name="oldPassword" type="password"></input><br/>
                <p class="categoryTitle">Password New</p>
                <input required id="newPassword" name="newPassword" type="password" onkeyup="passwordMatch()"><br />
                <p class="categoryTitle">Password New Confirm</p>
                <input required id="confirmPassword" name="confirmPassword" type="password" onkeyup="passwordMatch()"><br />
                
                <button id="buttonUpdatePassword" class="profile-buttons confirm-button" type="submit"><b>Update Password</b></button>
            </form>
        </div> -->

        <!-- google maps API -->
        <div hidden id="map"></div>
    </div>
</body>
</html>