<!-- user/orders.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/mobile.css">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <title><%= pageTitle %></title>
</head>

<script>    
    function searchBoxOrders(totalOrders)
    {
        let searchBoxInput = document.getElementById("searchBoxInput").value
        let searchString = String(searchBoxInput).toLowerCase();

        for(let c = 1; c <= totalOrders; c++)
        {
            let orderItem = document.getElementById("order-item#" + c)

            if(orderItem.innerHTML.toLowerCase().includes(searchString))
            {
                orderItem.style.display = "block";
            }

            else
            {
                orderItem.style.display = "none";
            }

        }

    }
    
    function reviewOrder(totalOrders, orderNumber, orderId)
    {
        let orderItem = document.getElementById("order-item#" + orderNumber);
        let orderReview = document.getElementById("order-review#" + orderNumber);
        
        if(orderReview.style.display == "none")
        {
            orderReview.style.display = "block";
        }

        else if(orderReview.style.display == "block")
        {
            orderReview.style.display = "none";
        }
    }

    function saveScrollPosition()
    {
        let y = window.scrollY;
        localStorage.setItem("scrollPositionY", y);
    }

    function loadSavedScrollPosition()
    {
        let positionY = localStorage.getItem("scrollPositionY");
        window.scrollTo(0, positionY)
    }
</script>

<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { width: 0px; }

    /*** elements ***/
    body { height: 100vh; background-color: #3c41d6 }
    input { color: white; background-color: black; }
    
    /*** classes ***/
    .order-item 
    { 
        margin: auto;
        margin-bottom: 30px;
        padding: 12px; 
        user-select: none; 
        border: 1px solid black;
    }
    .order-review 
    { 
        position: relative; 
        display: block;
        width: 378px; 
        margin: auto;
        margin-top: -40px;
        padding: 0px 12px 0px 12px;
        z-index: 1; 
        text-align: center;
        border-bottom: 1px solid black; 
        border-left: 1px solid black; 
        border-right: 1px solid black; 
        background-color: #f7f9f9; 
    }
    .search-orders { width: 400px; }

    /*** ids ***/
    #searchBox { margin: 0px 0px 24px 0px; text-align: center; border: 0px solid black; }
    #searchBoxInput { height: 40px; font-weight: normal; color: white; background-color: black; }
    #searchBox::-webkit-input-placeholder { color: white; }
    #orders { height: 80vh; overflow-y: scroll; overflow-x: hidden; }
    #orderReviewButtons { margin: 10px 0px 0px 0px; padding: 3px; border: 1px solid black; }
    #orderStatusUnconfirmed { font-weight: bold; font-size: 20px; color: black; }
    #orderStatusConfirmed { font-weight: bold; font-size: 20px; color: gold; }
    #orderStatusCompleted { font-weight: bold; font-size: 20px; color: lightgreen; }
    #orderStatusDeclined { font-weight: bold; font-size: 20px; color: red; }
    #orderRestaurant { margin: 0px; font-weight: bold; font-size: 20px; }
    #order-items { margin: 10px 0px 0px 0px; }
    #order-count { font-size: 20px; }
    #inputReviewComment
    {   
        display: block;
        width: 356px;
        margin: auto;
        padding: 10px;
        font-size: 16px;
    }
    #inputReviewRating { display: block; width: 356px; margin: -1px 0px 0px 0px; padding: 10px; text-align: left; font-size: 16px; }
    #inputReviewName { display: block; width: 356px; margin: -1px 0px 0px 0px; padding: 10px; text-align: left; font-size: 16px; }
    #reviewSubmitButton 
    { 
        display: block; 
        width: 380px; 
        margin: -2px 0px 16px 0px;
        padding: 10px; 
        font-size: 16px; 
        font-weight: bold; 
        border: 2px solid black;
        background-color: lightgreen;
    }
    #reviewCancelButton { display: block; width: 356px; margin: 0px; padding: 10px; border: 0px solid black; background-color: transparent; }
    #buttonAddReview 
    { 
        margin: 10px 0px 0px 0px; 
        padding: 0px; 
        font-size: 18px; 
        color: black; 
    }
    #buttonEditReview 
    { 
        margin: 10px 0px 0px 0px; 
        padding: 0px; 
        font-size: 18px; 
        color: black; 
    }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        .order-review { width: 84vw; }
        .order-item { width: 84vw; }

        #reviewCancelButton { width: auto; }
        #reviewSubmitButton { width: -webkit-fill-available; }
        #inputReviewRating { width: -webkit-fill-available; }
        #inputReviewName { width: -webkit-fill-available; }
        #inputReviewComment { min-width: -webkit-fill-available; max-width: -webkit-fill-available; }
        #searchBoxInput { width: 90vw; margin-top: 10px; }
    }
</style>

<body id="orders" onload="loadSavedScrollPosition()" onscroll="saveScrollPosition()">
    <!-- admin nav menu -->
    <% if(admin != null && admin == true) { %> 
        <%- include('nav-menu-admin.ejs') %>

    <!-- user nav menu -->
    <% } else if(loggedIn == true) { %>
        <%- include('nav-menu-user.ejs') %>

    <!-- anon nav menu -->
    <% } else { %> 
        <%- include('nav-menu-anon.ejs') %>
    <% } %>

    <!-- total orders -->
    <% if(orders == null) { %>
        <% var totalOrders = 0 %>
    <% } else { %>
        <% var totalOrders = orders.length %>
    <% } %>
    
    <!-- search bar -->
    <div id="searchBox" onkeyup="searchBoxOrders('<%=totalOrders %>')">
        <input id="searchBoxInput" class="search-orders" placeholder="Search..."></input>
    </div>

    <!-- order history -->
    <% if (orders != null) { %>
        <div id="orders">
        <% let counter = totalOrders + 1; %>
        
        <!-- orders -->
        <% for (let order of orders.reverse()) { %>
            <% counter-- %>
            <div id="order-item#<%=counter %>" class="order-item">
                <b id="order-count">#<%=counter %></b><span> · </span>
                <b id="orderRestaurant"><%=order.restaurant %></b><span> · </span>
                <% if (order.status == "unconfirmed") { %>
                    <b id="orderStatusUnconfirmed">Unconfirmed</b>
                <% } else if (order.status == "confirmed") { %>
                    <b id="orderStatusConfirmed">Confirmed</b>
                <% } else if (order.status == "completed") { %>
                    <b id="orderStatusCompleted">Completed</b>
                <% } else if (order.status == "declined") { %>
                    <b id="orderStatusDeclined">Declined</b>
                <% } %>
                        
                        
                <p id="order-items"><% for(let c = 0; c < order.products.items.length; c++) { %>
                    <p><%=order.products.items[c].quantity %> <%=order.products.items[c].name %>: $<%=order.products.items[c].quantity * order.products.items[c].price %></p>
                <% } %>

                <% if (order.customerComment != "") { %> <p id="order-comment"><%=order.customerComment.toUpperCase() %></p> <% } %>
                <p id="order-total"><%=order.totalPrice %> total amount</p>
                
                <% if(order.confirmedAt == null) { %> <p>waiting for restaurant...</p> 
                    <% } else if(order.confirmedAt != null) { %> <p><%=order.estimatedCompletionTime %> mins until complete</p> <% } %>
                    
                    <p id="order-rating"><%=order.rating %></p>
                    <p id="order-type"><%=order.type.toUpperCase() %></p>
                    <p id="order-date"><%=order.date.toString().substring(4, 21).replaceAll(" ", "-") %></p>
                    <p id="order-id"><%=order._id %></p>
                    
                    <% if(order.rating != null) { %> <p><b>rating:</b> <%=order.rating %></p> <% } %>
                    <% if(order.comment != null) { %> <p><b>comment:</b> <%=order.comment %></p> <% } %>
                    <!-- <p>placed: <%=order.placedAt.toString().substring(0, 8) %></p> -->
                    <!-- <% if(order.confirmedAt != null) { %> <p>confirmed: <%=order.confirmedAt.toString().substring(0, 8) %></p> <% } %> -->
                    <!-- <% if(order.completedAt != null) { %> <p>completed: <%=order.completedAt.toString().substring(0, 8) %></p> <% } %> -->
                    <!-- <p><%=order.user %></p> -->
                    <!-- <p><%=order.restaurantUrl %></p> -->
                    <!-- <p><%=order.customerName %></p> -->
                    <!-- <p><%=order.customerPhone %></p> -->
                    <!-- <p><%=order.customerAddress %></p> -->
                    <!-- <div id="orders-show-detail">
                    <a href='/order-details/<%=order._id %>'>
                        <p><b>show details</b></p>
                    </a>
                </div> -->

                <!-- review buttons -->
                <% if(order.review == null) { %>
                    <p id="buttonAddReview" value="<%=order._id%>" onclick="reviewOrder('<%=totalOrders %>', '<%=counter %>', this.value)"><b>Review</b></p>
                <% } else if(order.review != null) { %>
                    <p id="buttonEditReview" value="<%=order._id%>" onclick="reviewOrder('<%=totalOrders %>', '<%=counter %>', this.value)"><b>Review</b></p>
                <% } %>
            </div>

            <% var customerNameSplit = order.customerName.split("@"); %>
            <% var customerName = customerNameSplit[0]; %>
            <% var orderItems = [] %>
            
            <% for(let c = 0; c < order.products.items.length; c++) { %>
                <% orderItems.push(order.products.items[c].name + ", ") %>
            <% } %>
        
            <!-- review -->
            <div id="order-review#<%=counter %>" class="order-review" style="display: none;">
                <form action="/review-post" method="POST">
                    <input hidden name="orderId" value="<%=order._id %>"></input>
                    <input hidden name="restaurant" value="<%=order.restaurantUrl %>"></input>
                    <input hidden name="items" value="<%=orderItems.toString() %>"></input>
                    
                    <!-- <b id="reviewCancelButton" onclick="reviewOrder('<%=totalOrders %>', '<%=counter %>', this.value)">cancel</b> -->
                    
                    <% if(order.review == null) { %>
                        <input id="inputReviewRating" required name="rating" type="number" min="1" max="5" placeholder="1" value=""></input>
                        <input id="inputReviewName" required name="customerName" maxlength="50" placeholder="name" value=""></input>
                        <input id="inputReviewComment" name="comment" placeholder="comment..." maxlength="250"></input>
                    <% } else if(order.review != null) { %>                    
                        <input id="inputReviewRating" required name="rating" type="number" min="1" max="5" placeholder="1-5" value="<%=order.review.rating %>"></input>
                        <input id="inputReviewName" required name="customerName" maxlength="50" placeholder="name" value="<%=order.review.name %>"></input>
                        <input id="inputReviewComment" name="comment" placeholder="comment..." maxlength="250" value="<%=order.review.comment %>"></input>
                    <% } %>
                    
                    <button id="reviewSubmitButton" type="submit">Confirm</button>
                </form>
            </div>
        <% } %>
    
    </div>
    
    <% } else { %>
        <h1 style="text-align: center;"> No orders found</h1>
    <% } %>
</body>
</html>