<!DOCTYPE html>
<html id="html-checkout" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/mobile.css" />
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <title>Checkout</title>
</head>

<script src="https://js.stripe.com/v3/"></script>
<script src="/stripe.js" defer></script>
<script>
    function GoogleMapsAdressAutocomplete() 
    {
        var map = new google.maps.Map(document.getElementById('map'), {
            //center: {lat: -33.8688, lng: 151.2195},
            //zoom: 13
        });
        
        var input = document.getElementById('searchInput');
        var autocomplete = new google.maps.places.Autocomplete(input);
        var infowindow = new google.maps.InfoWindow();

        autocomplete.addListener('place_changed', function() 
        {
            infowindow.close();
            var place = autocomplete.getPlace();
            
            if (!place.geometry) 
            {
                return window.alert("Address not found");
            }
        
            var address = '';
            
            if (place.address_components) 
            {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
        
            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                
            //location details
            for (var i = 0; i < place.address_components.length; i++) 
            {
                if(place.address_components[i].types[0] == 'country')
                {
                    if(place.address_components[i].long_name == "Sweden")
                    {
                        var userAddress = document.getElementById('userAddress')
                        var customerAdress = document.getElementById('customerAddress')

                        if(userAddress != null)
                        {
                            userAddress.value = place.formatted_address;
                        }

                        if(customerAdress != null)
                        {
                            customerAdress.value = place.formatted_address;
                        }
                    }

                    if(place.address_components[i].long_name != "Sweden")
                    {
                        alert("Location restricted to Sweden only");
                    }
                }
            }
        
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCHDajHZ7clx29MBJQ2omXfEprzsRw5n6Y&callback=GoogleMapsAdressAutocomplete" async defer></script>
<script>
    function postOrder()
    {
        let form = document.getElementById("post-order-form");
        form.submit();
    }

    function customerDeliverySelector()
    {   
        let text = document.querySelector('input[name="customerDelivery"]:checked').value;
        let paymentSelector = document.getElementById('new-list-of-payment-options');
        
        document.getElementById("customerDelivery").value = text;
        paymentSelector.hidden = false;
    }   
    
    function selectPaymentOption(value)
    {
        let paymentOptionStripe = document.getElementById("payment-option-stripe")

        if(value == 0)
        {
            paymentOptionStripe.style.display = "none";
        }
        else if(value == 1)
        {
            paymentOptionStripe.style.display = "block";
        }
    }

    function removeBody()
    {
        let loadSpinnerGif = document.getElementById("loadSpinnerGif");
        let paymentOptionStripe = document.getElementById("payment-option-stripe");
        let checkoutCartItems = document.getElementById("checkoutCartItems");
        let orderFormDiv = document.getElementById("orderFormDiv");
        let newListOfPaymentOptions = document.getElementById("new-list-of-payment-options");
        let navBarGoBack = document.getElementById("navBarGoBack");
        let checkoutTotalAmount = document.getElementById("checkoutTotalAmount");

        paymentOptionStripe.hidden = true;
        checkoutCartItems.hidden = true;
        orderFormDiv.hidden = true;
        newListOfPaymentOptions.hidden = true;
        checkoutTotalAmount.hidden = true;

        loadSpinnerGif.hidden = false;
    }

    function displayStripeBox()
    {
        let paymentOptionStripe = document.getElementById("payment-option-stripe");
        let checkoutCartItems = document.getElementById("checkoutCartItems");
        let orderFormDiv = document.getElementById("orderFormDiv");
        let newListOfPaymentOptions = document.getElementById("new-list-of-payment-options");
        let navBarGoBack = document.getElementById("navBarGoBack");
        let checkoutTotalAmount = document.getElementById("checkoutTotalAmount");
        let checkoutCenterDiv = document.getElementById("checkoutCenterDiv");
        
        paymentOptionStripe.hidden = false;
        
        // checkoutCartItems.hidden = true;
        // orderFormDiv.hidden = true;
        // navBarGoBack.hidden = true;
        // checkoutTotalAmount.hidden = true;
        
        // checkoutCenterDiv.hidden = true;
        // checkoutCenterDiv.style.display = "none"        
    }

    function goBack()
    {
        window.history.back();
    }
</script>

<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { height: 0px; width: 0px; }

    /*** elements ***/
    body { height: 100vh; background-color: #3c41d6 }
    input 
    { 
        display: block; 
        width: calc(100% - 7px); 
        padding: 0px 0px 7px 0px; 
        font-size: 20px; 
        border: 0px solid black;
        color: black;
        background-color: white; 
    }
    p { margin: 0px; padding: 0px; }

    /*** classes ***/
    .category { margin: 12px 0px 0px 0px; font-weight: bold; }
    .buttonPaymentOption { width: 100%; padding: 7px; }
    .testCard { display: block; font-size: 16px; font-style: italic; }

    /*** ids ***/
    #checkoutCenterDiv 
    { 
        display: block; 
        width: 400px; 
        margin: auto; 
        margin-top: 30px; 
        padding: 20px; 
        font-size: 20px; 
        user-select: none;
        border: 1px solid black; 
        background-color: white; 
    }
    #checkoutCartItems { position: relative; width: 400px; margin: 0px; padding: 0px; background-color: white; }
    #checkoutSendOrder { position: relative; margin: auto; text-align: center; }
    #checkoutSendOrder button { border-radius: 0%; height: 40px; width: 300px; margin-top: 0px; padding: 0px; }
    #checkoutCommentToRestaurant { position: relative; width: 300px; margin: auto; text-align: center; background-color: green; }
    #checkoutCommentToRestaurant p { margin: 0px; padding: 0px; padding-left: 10px; padding-right: 10px; padding-bottom: 5px; }
    #loadSpinnerGif
    {
        height: 250px; 
        width: 250px; 
        margin-top: 35%; 
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;"
    }
    #cartAllItems { display: none; }
    #cartTotalPrice { display: none; }
    #choosenRestaurant { display: none; }
    #customerDelivery { display: none; }
    #customerAddress { display: none; }
    #checkoutTotalAmount { margin-bottom: 12px; font-weight: bold; text-align: center; }
    #customerDeliveryRadioButton { display: inline; width: 10px; }
    #customerPickUpRadioButton { display: inline; width: 10px; }
    #title { margin-top: 0px; }
    #new-list-of-payment-options { margin-top: 20px; }
    #card-element { padding: 10px; border: 1px solid black; background-color: white; }
    #submit 
    { 
        display: block; 
        width: 100%; 
        padding: 10px; 
        font-weight: bold; 
        font-size: 16px; 
        border-radius: 0%; 
        border: 1px solid black;
        border-top: 0px solid black;
        background-color: lightgreen;
    }
    #selected-payment-option { display: block; }
    #payment-option-stripe { display: block; margin-top: 3px; }
    #selected-payment-option { position: relative; display: block; width: auto; margin: auto; }
    #navBarGoBack { padding: 7px; font-weight: bold; text-shadow: 1px 1px black; color: white; }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        #checkoutCenterDiv { width: 86%; margin: auto; }
        #checkoutCartItems { width: auto; }
        #body-checkout { height: 90vh; width: 90vw; margin: auto; margin-top: 7px; overflow-y: scroll; }
    }
</style>

<body>
    <!-- nav menu -->
    <div id="navBarGoBack"><p onclick="goBack()">❮</p></div>
    
    <div id="body-checkout">
        <!-- checkout -->
        <div id="checkoutCenterDiv">
            <p id="checkoutTotalAmount">Total: $<%=cartTotalPrice %></p>
            <p id="title" class="category">Items</p>

            <div id="checkoutCartItems">
                <% for(var c = 0; c < cartItemsParsed.items.length; c++) { %>
                    <p><%=cartItemsParsed.items[c].quantity %> - <%=cartItemsParsed.items[c].name %> - $<%=(cartItemsParsed.items[c].price * cartItemsParsed.items[c].quantity) %></p>
                <% } %>       
            </div>
            
            <div id="orderFormDiv">
                <form id="post-order-form" action="/order-post" method="POST">
                    <input hidden id="cartAllItems" name="cartAllItems" value="<%=cartItems %>"></input>
                    <input hidden id="cartTotalPrice" name="cartTotalPrice" value="<%=cartTotalPrice %>"></input>
                    <input hidden id="choosenRestaurant" name="restaurant" value="<%=restaurant %>"></input>
                    <input hidden id="customerDelivery"></input>
                    <input hidden id="customerAddress" name="customerAddress" value='<%=customerAddress %>' placeholder="address"></input>
                    <p class="category">Name</p>
                    <input id="customerName" name="customerName" value='<%=customerName %>' placeholder="name"></input>
                    <p class="category">Address</p>
                    <input id="searchInput" value="<%=customerAddress %>">
                    <p class="category">Phone</p>
                    <input id="customerPhone" name="customerPhone" value='<%=customerPhone %>' type="tel" placeholder="phone"></input>
                    <p class="category">Comment</p>
                    <input id="customerCommentCheckout" name="customerComment" placeholder="..."><%=customerComment %></input>
                    <p class="category">Type</p>
                    <label>Delivery</label>
                    <input id="customerDeliveryRadioButton" type="radio" onclick="customerDeliverySelector()" name="customerDelivery" value="delivery"></input>
                    <label>Pick Up</label>
                    <input id="customerPickUpRadioButton" type="radio" onclick="customerDeliverySelector()" name="customerDelivery" value="pickUp"></input>
                </form>
            </div>
    
            <!-- payment -->
            <div hidden id="new-list-of-payment-options">
                <p class="category">Payment</p>
                <span class="testCard">Number: 4242 4242 4242 4242</span> 
                <span class="testCard">MM/YY: 12/34</span>
                <span class="testCard">CVC: 123</span>
                <span class="testCard">ZIP: 12345</span>

                <!-- stripe -->
                <div id="selected-payment-option">   
                    <div hidden id="payment-option-stripe">
                        <form id="payment-form">
                            <div id="card-errors" role="alert"></div>
                            <div id="card-element"></div>
                            <button id="submit" data-secret="<%=client_secret %>">
                                <div class="spinner hidden" id="spinner"></div>
                                <span id="button-text">Pay</span>
                            </button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- google maps api -->
    <div hidden id="map"></div>
</body>
</html>