<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <title>Order Process</title>
</head>

<script>
    function orderProcessOrderConfirmed(estimatedTime, type)
    {
        //elements
        document.getElementById("orderProcessImgLoadingGif").remove()
        document.getElementById("orderProcessImgCheckmarkPng").hidden = false
        document.getElementById("skipWaitingGoToStart").hidden = true
        document.getElementById("orderProcessPaymentInfoText").hidden = true
        document.getElementById("orderIdInfoText").hidden = true
        // document.getElementById("OrderProcessWhenConfirmedDetailsLink").hidden = false

        //variables
        let date = new Date()
        let hours = date.getHours()
        let minutes = date.getMinutes(); + estimatedTime
        let seconds = date.getSeconds()
        
        //set minutes
        if(minutes + estimatedTime > 60)
        {
            hours++
            minutes = parseInt(minutes) + parseInt(estimatedTime) - 60

            if(minutes < 10)
            {
                minutes = "0" + minutes
            }
        }

        //set date
        date = hours + ":" + minutes
        
        //check order type
        if(type == "delivery")
        {
            document.getElementById("orderProcessEstimatedTime").innerHTML = "Time Given " + estimatedTime + " Mins <br /> Delivery @" + date
            document.getElementById("skipWaitingGoToStart").innerHTML = "Continue"
        }
        else if(type == "pick up")
        {
            document.getElementById("orderProcessEstimatedTime").innerHTML = "Time Given " + estimatedTime + " Mins <br /> Pick Up @" + date
            document.getElementById("skipWaitingGoToStart").innerHTML = "Continue"
        }
        
        //update elements
        document.getElementById("orderProcessEstimatedTime").hidden = false
        document.getElementById("orderProcessInfoText").innerHTML = "Order Confirmed"
        // document.getElementById("OrderProcessWhenConfirmedStartLink").hidden = false
    }

    function orderProcessOrderDeclined(estimatedTime, delivery, pickUp)
    {
        //update elements
        document.getElementById("orderProcessImgLoadingGif").remove()
        document.getElementById("orderProcessImgDeclineCrossPng").hidden = false
        document.getElementById("orderProcessInfoText").innerHTML = "Order Declined"
        document.getElementById("orderProcessPaymentInfoText").hidden = true
        document.getElementById("orderIdInfoText").hidden = true
        document.getElementById("skipWaitingGoToStart").innerHTML = "Continue"
        // document.getElementById("OrderProcessWhenConfirmedStartLink").hidden = false
    }

    //websocket
    if(location.protocol.includes("https"))
    {
        socket = new WebSocket(location.origin.replace(/^https/, 'wss'))
    }
    else
    {
        socket = new WebSocket(location.origin.replace(/^http/, 'ws'))
    }

    //handle socket message
    socket.onmessage = function(message) {
        let regex = new RegExp("^order:<%=order._id %>:accepted:time=\\d\\d$")
        let str = message.data
        let regexMatch = regex.test(str)
        let substringTime = str.substring(str.length - 2, str.length)
        
        if(regexMatch == true)
        {
            orderProcessOrderConfirmed(substringTime, '<%=order.type %>')
            socket.close()
        }
        else if(message.data == "order:<%=order._id %>:declined")
        {
            orderProcessOrderDeclined()
            socket.close()
        }
    }
</script>

<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { width: 0px; }

    /*** elements ***/
    html { height: 100vh; width: 100vw; background-size: cover; background-repeat: no-repeat; }
    body { height: 100vh; margin: 0px; padding: 0px; overflow: hidden; font-family: Arial, Helvetica, sans-serif; background-color: #3c41d6 }
    p { margin: 0px; }
    img { height: 70px; width: 70px; }

    /*** ids ***/
    #order-process-content 
    { 
        width: 400px; 
        margin: auto; 
        margin-top: 100px; 
        padding: 10px 0px 0px 0px; 
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        background-color: white;
    }
    #skipWaitingGoToStart 
    { 
        display: block; 
        margin-top: 24px; 
        padding: 12px; 
        text-decoration: none;
        color: white;
        background-color: black;
    }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        #order-process-content { width: 90vw; }
    }
</style>

<body onload="">
    <div id="order-process-content">
        <!-- images -->
        <img id="orderProcessImgLoadingGif" src="/loading.gif"></img>
        <img hidden id="orderProcessImgCheckmarkPng" src="/checkmark.png"></img>
        <img hidden id="orderProcessImgDeclineCrossPng" src="/crossmark.png"></img>

        <!-- text -->
        <p id="orderProcessPaymentInfoText">Payment Successful</p>
        <p id="orderIdInfoText">Order <%=order._id %></p>
        <p id="orderProcessInfoText">Awaiting Restaurant Response...</p>
        <p hidden id="orderProcessEstimatedTime"></p>

        <!-- links -->
        <!-- <a href="/order-details/<%=order._id %>" hidden id="OrderProcessWhenConfirmedDetailsLink">Details</a> -->
        <!-- <a href="/" hidden id="OrderProcessWhenConfirmedStartLink">Start</a> -->
        <a href="/orders" id="skipWaitingGoToStart">Skip</a>
    </div>
</body>
</html>
