<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Process</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <script>
        function orderProcessOrderConfirmed(estimatedTime, type)
        {
            document.getElementById("orderProcessImgLoadingGif").remove();
            document.getElementById("orderProcessImgCheckmarkPng").hidden = false;
            document.getElementById("OrderProcessWhenConfirmedDetailsLink").hidden = false;
            document.getElementById("skipWaitingGoToStart").hidden = true;

            var date = new Date();
            var hours = date.getHours();
            var minutes = date.getMinutes(); + estimatedTime;
            var seconds = date.getSeconds();
            
            if(minutes + estimatedTime > 60)
            {
                hours++;
                minutes = parseInt(minutes) + parseInt(estimatedTime) - 60;

                if(minutes < 10)
                {
                    minutes = "0" + minutes;
                }
            }

            var date = hours + ":" + minutes;
            
            if(type == "delivery")
            {
                document.getElementById("orderProcessEstimatedTime").innerHTML = "estimated " + estimatedTime + " mins for comletion <br /> order should be delivered at " + date;
            }

            else if(type == "pick up")
            {
                document.getElementById("orderProcessEstimatedTime").innerHTML = "estimated " + estimatedTime + " mins for completion <br /> pick up should be ready at " + date;
            }
            
            document.getElementById("orderProcessEstimatedTime").hidden = false;
            document.getElementById("OrderProcessWhenConfirmedStartLink").hidden = false;
            document.getElementById("orderProcessInfoText").innerHTML = "order confirmed by restaurant";
        }

        function orderProcessOrderDeclined(estimatedTime, delivery, pickUp)
        {
            document.getElementById("orderProcessImgLoadingGif").remove();
            document.getElementById("orderProcessImgDeclineCrossPng").hidden = false;
            document.getElementById("orderProcessInfoText").innerHTML = "<p> order declined by restaurant </p> <p> money will be refunded within a week </p>";
            document.getElementById("OrderProcessWhenConfirmedStartLink").hidden = false;
        }

        //websocket
        var socket = new WebSocket("ws://localhost:65535");

        socket.onmessage = function(message) {
            var regex = new RegExp("^order:<%=order._id %>:accepted:time=\\d\\d$");
            var str = message.data;
            var regexMatch = regex.test(str);
            var substringTime = str.substring(str.length - 2, str.length);
            
            if(regexMatch == true)
            {
                orderProcessOrderConfirmed(substringTime, '<%=order.type %>');
                socket.close();
            }

            if(message.data == "order:<%=order._id %>:declined")
            {
                orderProcessOrderDeclined();
                socket.close();
            }
        };
    </script>
</head>
<body onload="" style="background-color: lightgray;"> <!-- "fillCartFormData()" -->
    <div id="order-process-content" style="background-color: white">
        <p>order id: <%=order._id %></p>
        <p id="orderProcessPaymentInfoText">payment was successful</p>
        
        <br />

        <img id="orderProcessImgLoadingGif" src="https://retchhh.files.wordpress.com/2015/03/loading2.gif"></img>
        <img hidden id="orderProcessImgCheckmarkPng" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fb%2Fbd%2FCheckmark_green.svg%2F2000px-Checkmark_green.svg.png&f=1&nofb=1"></img>
        <img hidden id="orderProcessImgDeclineCrossPng" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.pngall.com%2Fwp-content%2Fuploads%2F2016%2F04%2FRed-Cross-Mark-Free-PNG-Image.png&f=1&nofb=1"></img>
        
        <br />
        <br />
        
        <p id="orderProcessInfoText">waiting for restaurant to confirm time</p>
        <p hidden id="orderProcessEstimatedTime"></p>
        
        <a href="/order-details/<%=order._id %>" hidden id="OrderProcessWhenConfirmedDetailsLink" style="text-decoration: none; color: black;">show details</a>
        <a href="/" hidden id="OrderProcessWhenConfirmedStartLink" style="text-decoration: none; color: black;">show start</a>
        <a href="/" id="skipWaitingGoToStart" style="text-decoration: none; color: black;">skip waiting go to start</a>
        
        <br />
    </div>
</body>
</html>
