<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <script>
        function checkQueryParams()
        {
            var update = "<%=update %>";
            var errorText = document.getElementById("errorText");
            var editProfilePassword = document.getElementById("editProfilePassword");

            if(update == "oldpasswordincorrect")
            {
                errorText.style.paddingTop = "25px";
                errorText.style.color = "red";
                errorText.innerHTML = "<b>old password incorrect</b>";
                editProfilePassword.style.display = "block";
            }

            else if(update == "successful")
            {
                errorText.style.paddingTop = "25px";
                errorText.style.color = "green";
                errorText.innerHTML = "<b>password change successful</b>";
                editProfilePassword.style.display = "block";
            }
        }

        function editProfilePassword()
        {
            //var profileCredentials = document.getElementById("profileCredentials");
            var editProfilePassword = document.getElementById("editProfilePassword");

            if(editProfilePassword.style.display == "none")
            {
                editProfilePassword.style.display = "block";  
            }

            else
            {
                editProfilePassword.style.display = "none";
            }
        }

        function editProfileCredentials()
        {
            //var profileCredentials = document.getElementById("profileCredentials");
            var editProfileCredentials = document.getElementById("editProfileCredentials");

            if(editProfileCredentials.style.display == "none")
            {
                editProfileCredentials.style.display = "block";  
            }

            else
            {
                editProfileCredentials.style.display = "none";
            }
        }

        function passwordMatch()
        {
            var confirmButton = document.getElementById("confirmButton");
            var errorText = document.getElementById("errorText");
            var newPassword = document.getElementById("newPassword");
            var confirmPassword = document.getElementById("confirmPassword");
            
            if(newPassword.value != confirmPassword.value && confirmPassword.value != "")
            {
                errorText.style.paddingTop = "25px";
                errorText.innerHTML = "<b>passwords dont match</b>";
                errorText.style.color = "red";
                confirmButton.hidden = true;
            }

            else if(newPassword.value == confirmPassword.value && confirmPassword.value != "")
            {
                errorText.style.paddingTop = "25px";
                errorText.innerHTML = "<b>passwords match</b>";
                errorText.style.color = "green";
                confirmButton.hidden = false;
            }
            
        }

        function GoogleMapsAdressAutocomplete() 
        {
            var map = new google.maps.Map(document.getElementById('map'), {
                //center: {lat: -33.8688, lng: 151.2195},
                //zoom: 13
            });
            
            var input = document.getElementById('searchInput');
            var autocomplete = new google.maps.places.Autocomplete(input);
            var infowindow = new google.maps.InfoWindow();

            autocomplete.addListener('place_changed', function() 
            {
                infowindow.close();
                var place = autocomplete.getPlace();
                
                if (!place.geometry) 
                {
                    return window.alert("Address not found");
                }
            
                var address = '';
                
                if (place.address_components) 
                {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }
            
                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                    
                //location details
                for (var i = 0; i < place.address_components.length; i++) 
                {
                    if(place.address_components[i].types[0] == 'country')
                    {
                        if(place.address_components[i].long_name == "Sweden")
                        {
                            //document.getElementById('country').innerHTML = place.address_components[i].long_name;
                            //document.getElementById('location').innerHTML = place.formatted_address;
                            var userAddress = document.getElementById('userAddress')
                            var customerAdress = document.getElementById('customerAddress')

                            if(userAddress != null)
                            {
                                userAddress.value = place.formatted_address;
                            }

                            if(customerAdress != null)
                            {
                                customerAdress.value = place.formatted_address;
                            }

                            /*if(place.address_components[6] != undefined)
                            {
                                document.getElementById('postal_code').innerHTML = place.address_components[6].long_name;
                                //console.log(place.address_components[6].long_name);
                            }*/

                        }

                        if(place.address_components[i].long_name != "Sweden")
                        {
                            alert("Location restricted to Sweden only");
                        }
                        
                        //document.getElementById('country').innerHTML = place.address_components[i].long_name;
                    }
                }
            
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCHDajHZ7clx29MBJQ2omXfEprzsRw5n6Y&callback=GoogleMapsAdressAutocomplete" async defer></script>
</head>

<body onload="checkQueryParams()" style="background-color: lightgray">
    <!-- admin view -->
    <% if(admin != null && admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    
    <!-- anonmymous view -->
    <% } else { %>
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <% } %>
    
    <main id="main-profile">
        
        <!-- <h2>Account Credentials</h2> -->

        <!-- <p style="color: red;"><b>Note: email and password change requires relog</b></p> -->

        <p style="margin: 0px; padding: 0px; margin-top: 15px; margin-bottom: 5px;"><b>Credentials</b></p>
        
        <div id="profileCredentials" style="margin: auto; display: block;">
            <p style="margin: 0px; padding: 0px; padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid black; background-color: #f7f9f9;"><b>name:</b> <%=name %></p>
            <p style="margin: 0px; padding: 0px; padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid black; background-color: #f7f9f9;"><b>email:</b> <%=email %></p>
            <p style="margin: 0px; padding: 0px; padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid black;  background-color: #f7f9f9;"><b>phone:</b> <%=phone %></p>
            <p style="margin: 0px; padding: 0px; padding-top: 5px; padding-bottom: 5px; background-color: #f7f9f9;"><b>address:</b> <%=address %></p>
            <p><b></b></p>
            <p><b></b></p>
            <p><b></b></p>
        </div>

        <p style="margin: 0px; padding: 0px; margin-top:25px; margin-bottom: 5px;"><b>Options</b></p>

        <!-- <button disabled class="profile-buttons" style="width: 400px;">change email</button> -->
        <!-- <div id="profileChangeEmail" style="margin: auto; width: 399px; background-color: #f7f9f9;">
            <form action="/user-update-email" method="POST">
                <p style="margin: 0px; padding: 0px; padding-top: 2px;">Note: email change requires relog</p><br />
                <input hidden name="oldEmail" value="<%=email%>"></input>
                <b>New Email </b><input></input><br />
                <b style="margin-left: -28.5px;">Confirm Email  </b><input name="newEmail" style="margin-top: 0px;"></input><br /><br />
                <button type="submit" style="width: 125px; margin-bottom: 5px;">Submit</button>
            </form>
        </div> -->

        <button class="profile-buttons" style="height: 30px;" onclick="editProfileCredentials()"><b>change credentials</b></button><br />
        <div id="editProfileCredentials" style="margin: auto; background-color: #f7f9f9; display: none; border-top: 1px solid black;">
            <form action="/user-update-credentials" method="POST" onkeydown="return event.key != 'Enter';">
                <input hidden value="<%=email %>" name="email"></input>
                <input hidden id="userAddress" value="<%=address %>" name="address" placeholder="address"></input>
                
                <b>new name: </b><input value="<%=name %>" name="name" placeholder="name" style="margin-bottom: -1px; margin-top: 25px;"></input><br/>
                <b style="margin-left: -6px;">new phone: </b><input value="<%=phone %>" name="phone" placeholder="phone" style="margin-bottom: -1px;"></input><br/>
                <b style="margin-left: -9.5px;">new adress: </b><input id="searchInput" value="<%=address %>"><br />
                
                <button class="profile-buttons confirm-button" type="submit" style="height: 25px; margin-top: 25px; margin-bottom: 25px; border: 1px solid lightgrey;"><b>confirm</b></button>
            </form>
            
            <!-- <button class="profile-buttons"  onclick="editProfileCredentials()">decline</button> -->
        </div>
        
        <button class="profile-buttons" style="height: 30px; border-bottom: 1px solid black;" onclick="editProfilePassword()"><b>change password</b></button>
        <div id="editProfilePassword" style="margin: auto; background-color: #f7f9f9; display: none; border-top: 1px solid black;">
            <form action="/user-update-password" method="POST" onkeydown="return event.key != 'Enter';">
                <p id="errorText"></p>
                <input hidden value="<%=email %>" name="email"></input>
                
                <b>old password: </b><input required name="oldPassword" type="password" style="margin-bottom: -1px; margin-top: 25px;"></input><br/>
                <b style="margin-left: -7.5px;">new password: </b><input required id="newPassword" name="newPassword" type="password" onkeyup="passwordMatch()" style="margin-bottom: -1px;"><br />
                <b style="margin-left: -35px;">confirm password: </b><input required id="confirmPassword" name="confirmPassword" type="password" style="margin-bottom: 25px;" onkeyup="passwordMatch()"><br />
                
                <button hidden id="confirmButton" class="profile-buttons confirm-button" type="submit" style="height: 25px; margin-bottom: 25px; border: 1px solid lightgrey;"><b>confirm</b></button>
            </form>
            
            <!-- <button class="profile-buttons"  onclick="editProfileCredentials()">decline</button> -->
        </div>

        <br />
        <br />
        <br />

        <div hidden id="map"></div>
    </main>
</body>
</html>