<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <script>
        function displayRestaurantReviews(menuItemNumber)
        {
            var d = document.getElementById("restaurantsRestaurantReview#" + menuItemNumber);
            var a = document.getElementById("restaurantMenuItem#" + menuItemNumber);
            console.log(menuItemNumber);

            
            if(d.style.display == "none")
            {
                d.style = "height: 350px; overflow-y: auto; border-bottom: 3px solid black; border-left: 3px solid black; border-right: 3px solid black;"
                d.style.display = "block";
            }

            else if(d.style.display == "block")
            {
                d.style.display = "none";
                a.style.marginBottom = "0px"
            }

        }

        function setRestaurantNumberOfReviews(restaurantNumber, value)
        {
            console.log(restaurantNumber);
            console.log(value);

            var d = document.getElementById("restaurantReviewHeader#" + restaurantNumber);

            if(value == 0)
            {
                d.innerHTML = "Reviews (0)";
                d.onclick = "";
            }
            
            else
            {
                d.innerHTML = "Reviews (" + value + ")";
            }
        }

        function setRestaurantRating(restaurantNumber, rating)
        {
            //console.log(rating);
            
            var checkIfNaN = isNaN(parseFloat(rating));
            var d = document.getElementById("restaurantRating#" + restaurantNumber);

            if(checkIfNaN == false)
            {
                rating = Number(rating).toFixed(1);
                d.innerHTML = rating + " of 5";
                d.hidden = false;
            }

            else
            {
                d.innerHTML = "Rating N/A";
                d.hidden = false;
            }
        }

        function searchBoxRestaurants(totalMenuItems)
        {
            var searchBoxInput = document.getElementById("searchBoxInput").value
            var searchString = String(searchBoxInput).toLowerCase();
            var countItems = 0;

            for(var c = 1; c <= totalMenuItems; c++)
            {
                var menuItem = document.getElementById("restaurantMenuItem#" + c)
                var menuItemSearchText = document.getElementById("restaurantMenuItemSearchText#" + c)

                if(menuItemSearchText.innerHTML.toLowerCase().includes(searchString))
                {
                    //menuItem.style.opacity = "100%";
                    menuItem.style.display = "block";
                    countItems++;
                }

                else
                {
                    //menuItem.style.opacity = ".25";
                    menuItem.style.display = "none";
                }
            }
        }
    </script>
</head>
<body id="body-restaurants">
    <!-- admin view -->
    <% if(admin != null && admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    
    <% } else { %>
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <% } %>

    <% var restaurantsOpen = [] %>
    <% var restaurantsClosed = [] %>

    <% for (let restaurant of restaurants) { %>
        <% if(restaurant.menuListed == true && restaurant.open == true) { %>
            <% restaurantsOpen.push(restaurant); %>
        <% } %>
    <% } %>

    <% for (let restaurant of restaurants) { %>
        <% if(restaurant.menuListed == true && restaurant.open == false) { %>
            <% restaurantsClosed.push(restaurant); %>
        <% } %>
    <% } %>

    <!-- <h1>My restaurants</h1>
    <p> List of all the restaurants...</p> -->

    <br />
    
    <div id="searchBoxRestaurants" style="margin: 0px; padding: 0px; text-align: center;" onkeyup="searchBoxRestaurants('<%=restaurants.length - 1 %>')">
        <input id="searchBoxInput" style="height: 38px;" placeholder="Search..."></input>
    </div>

    <!-- open restaurants -->
    <div id="grid-restaurants" class="grid">
        <% counter = 0 %>
        <% if (restaurantsOpen.length > 0) { %>
            <% for (let restaurant of restaurantsOpen) { %>
            <% counter++ %>
            <div id="restaurantMenuItem#<%=counter %>" class="restaurantMenuItem">
                
                    <a style="text-decoration: none; color: black" href="/restaurant/<%= restaurant.url %>">
                        <div class="restaurantMenuItemImg">
                            <img src="<%= restaurant.imageUrl %>" alt="<%=restaurant.title %>">
                        </div>                  
                    

                    <div class="restaurantMenuItemText" style="display: inline-block;">
                        <h1 style="margin-top: 0px;"><%=restaurant.title %></h1>
                    
                        <!-- <% if(restaurant.open == true) { %>
                            <h3 style="color: rgb(30, 209, 54)">Open</h3> open or closed
                        <% } %>

                        <% if(restaurant.open == false) { %>
                            <h3 style="color: rgb(214, 14, 14)">Open</h3> open or closed
                        <% } %> -->

                        <h3><%=restaurant.city %></h3> <!-- location -->
                        <h3 hidden id="restaurantRating#<%=counter %>"></h3> <!-- rating -->
                        <h3><%=restaurant.type %></h3> <!-- type -->
                        <!-- <p><%=restaurant.description %></p> --> <!-- description -->
                        </a>
                        
                        <br />
                        
                        <h3 id="restaurantReviewHeader#<%=counter %>" onclick="displayRestaurantReviews('<%=counter %>')" style="padding-bottom: 5px;">Reviews</h3>
                    </div>
                
                    <div class="restaurantReviewModal" id="restaurantsRestaurantReview#<%=counter %>" style="display: none;">
                        
                        <% var sortArray = [] %>
                        <% var restaurantRating = null %>
                        
                        <% for(var i = 0; i < reviews.length; i++) { %>
                            <% if(reviews[i].restaurant == restaurant.url) { %>
                                <% sortArray.push(reviews[i]); %>
                                <% restaurantRating += parseInt(reviews[i].reviewObject.rating) %>
                            <% } %>
                        <% } %>

                        <% var rating = restaurantRating / parseInt(sortArray.length); %>                 

                        <script>
                            setRestaurantRating('<%=counter %>', '<%=rating %>');
                            setRestaurantNumberOfReviews('<%=counter %>', '<%=parseInt(sortArray.length) %>');
                        </script>
                                
                        <% if(sortArray.length != 0) { %>
                            <!-- <p><b>Total Comments (<%=sortArray.length %>)</b></p> -->
                            
                            <% for(var i = 0; i < sortArray.length; i++) { %>
                                <div class="restaurantReview">
                                    <!-- <p>Date: <%=sortArray[i].reviewObject.date %></p> -->
                                    <% var dateFormatted = sortArray[i].reviewObject.date %>
                                    <% var dateFormatted = dateFormatted.toString().split(" ") %>
                                    <!-- % var dateFormatted = dateFormatted[2] + " " + dateFormatted[1] + " " + dateFormatted[3] + " - " + dateFormatted[4]%> -->
                                    <% var dateFormatted = dateFormatted[2] + " " + dateFormatted[1] + " " + dateFormatted[3] %>
                                    <p style="margin: 0px; padding: 0px; padding-top: 5px; padding-bottom: 5px; text-align: center; background-color: lightgray;"><b>Rating</b> <%=sortArray[i].reviewObject.rating %></p><br />
                                    <div style="margin: auto; width: 55%;">
                                        <p style="text-align: center;"><%=sortArray[i].reviewObject.name %></p>
                                        <p style="text-align: center;"><%=dateFormatted %></p>
                                        <p style="text-align: center;"><%=sortArray[i].reviewObject.items %></p><br />
                                    </div>
                                    <p style="text-align: center;"><b>Comment</b></p>
                                    <p style="text-align: center; margin-bottom: 15px;"><%=sortArray[i].reviewObject.comment %></p>
                                </div>                                
                            <% } %> 
                        
                        <% } else { %>
                            <div class="restaurantReview" style="text-align: center;"> 
                                <h3>No reviews exist</h3>
                            </div>
                        <% } %>
                    </div>

                    <p hidden id="restaurantMenuItemSearchText#<%=counter %>">
                        <%=restaurant.title %>
                        <%=restaurant.status %>
                        <%=restaurant.rating %>
                        <%=restaurant.type %>
                        <%=restaurant.city %>
                        <%=restaurant.description %>
                    </p>
                    
                    <!--
                    <div class="card__actions">
                        <a href="/restaurants/<%= restaurant._id %>" class="btn"><button>Details</button></a>
                        <a href="/cart/<%= restaurant._id %>" class="btn"><button>Details</button></a>
                    </div>
                    -->  
            </div>
            <% } %>
        
            <% } else { %>
                
            <% } %>

            <!-- closed restaurants -->
            <% if (restaurantsClosed.length > 0) { %>
                <% for (let restaurant of restaurantsClosed) { %>

                    <% counter++ %>
                    
                    <div id="RestaurantClosed" style="display: inline-block;">
                        <p><b>Closed</b></p>
                    </div>
        
                    <div id="restaurantMenuItem#<%=counter %>" class="restaurantMenuItem" style="opacity: 25%;">
                            <a style="text-decoration: none; color: black" href="/restaurant/<%= restaurant.url %>">
                        
                                <div class="restaurantMenuItemImg">
                                    <img src="<%= restaurant.imageUrl %>" alt="<%=restaurant.title %>">
                                </div>
                            </a>
                            
                            <div class="restaurantMenuItemText" style="display: inline-block;">
                                <% if(restaurant.open == true) { %>
                                    <h3 style="color: rgb(30, 209, 54)">Closed</h3> <!-- open or closed -->
                                <% } %>
                
                                <% if(restaurant.open == false) { %>
                                    <h3 style="margin-top: 5px; margin-bottom: -2px; color: rgb(214, 14, 14)">Closed</h3> <!-- open or closed -->
                                <% } %>

                                <h1 style="margin-top: 0px;"><%=restaurant.title %></h1>
                
                                <h3 hidden id="restaurantRating#<%=counter %>"></h3> <!-- rating -->
                                <h3><%=restaurant.type %></h3> <!-- type -->
                                <h3><%=restaurant.location %></h3> <!-- location -->
                                <!-- <p><%=restaurant.description %></p> --> <!-- description -->
                                <h3 id="restaurantReviewHeader#<%=counter %>" onclick="displayRestaurantReviews('<%=counter %>')">Reviews</h3>
                            </div>

                            <div id="restaurantsRestaurantReview#<%=counter %>" style="display: none;">
                                <% var sortArray = [] %>
                                <% var restaurantRating = 0 %>
                                
                                <% for(var i = 0; i < reviews.length; i++) { %>
                                    <% if(reviews[i].restaurant == restaurant.url) { %>
                                        <% sortArray.push(reviews[i]); %>
                                        <% restaurantRating += parseInt(reviews[i].reviewObject.rating) %>
                                    <% } %>
                                <% } %>
        
                                <% var rating = restaurantRating / parseInt(sortArray.length); %>                 
        
                                <script>
                                    setRestaurantRating('<%=counter %>', '<%=rating %>');
                                    setRestaurantNumberOfReviews('<%=counter %>', '<%=parseInt(sortArray.length) %>');
                                </script>

                                <% if(sortArray.length != 0) { %>
                                    <!-- <p><b>Total Comments (<%=sortArray.length %>)</b></p> -->

                                    <% for(var i = 0; i < sortArray.length; i++) { %>
                                        <div class="restaurantReview" style="margin-top: 25px; padding-top: 0px;">
                                            <!-- <p>Date: <%=sortArray[i].reviewObject.date %></p> -->
                                            <% var dateFormatted = sortArray[i].reviewObject.date %>
                                            <% var dateFormatted = dateFormatted.toString().split(" ") %>
                                            <% var dateFormatted =  dateFormatted[2] + " " + dateFormatted[1] + " " + dateFormatted[3] + " - " + dateFormatted[4]%>
                                            <p style="margin: 0px; padding: 0px; padding-top: 5px; padding-bottom:5px; text-align: center; background-color: lightgray;"><b>Rating:</b> <%=sortArray[i].reviewObject.rating %></p><br />
                                            <div style="margin: auto; width: 55%">
                                                <p style="text-align: center;"><%=sortArray[i].reviewObject.name %></p>
                                                <p style="text-align: center;"><%=dateFormatted %></p>
                                                <p style="text-align: center;"><%=sortArray[i].reviewObject.items %></p><br />
                                            </div>
                                            <p style="text-align: center;"><b>Comment:</b></p>
                                            <p style="text-align: center; margin-bottom: 15px;"><%=sortArray[i].reviewObject.comment %></p>
                                        </div>                                
                                    <% } %> 
                                
                                <% } else { %>
                                    <h3>No reviews exist</h3>
                                <% } %>
                            </div>
                           
                            <p hidden id="restaurantMenuItemSearchText#<%=counter %>">
                                <%=restaurant.status %>
                                <%=restaurant.title %>
                                <%=restaurant.rating %>
                                <%=restaurant.type %>
                                <%=restaurant.location %>
                                <%=restaurant.description %>
                            </p>

                            <!--
                            <div class="card__actions">
                                <a href="/restaurants/<%= restaurant._id %>" class="btn"><button>Details</button></a>
                                <a href="/cart/<%= restaurant._id %>" class="btn"><button>Details</button></a>
                            </div>
                            -->
                    </div>
                <% } %>
            <% } else { %>
                
            <% } %>
        </div>

    </main>
    
</body>
</html>