<!-- user/restaurant-detail.ejs -->
<!DOCTYPE html>
<html lang="en" style="background-color: lightgray">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/restaurant.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
</head>

<script src="/js/shortcuts.js"></script>
<script>
    //modals
    function InformAnonOpen()
    {
        let modalBox = document.getElementById("informAnonModal");

        modalBox.style.display = "block";
    }

    function InformAnonClose()
    {
        let modalBox = document.getElementById("informAnonModal");

        modalBox.style.display = "none";
    }

    //cart
    function clearCart()
    {
        localStorage.removeItem("cartItems");
    }

    function cartAllItems()
    {
        let cartItems = localStorage.getItem("cartItems");
        let p = "";

        cartItems = JSON.parse(cartItems);
        
        if(cartItems != null)
        {
            for(let c = cartItems.items.length - 1; c >= 0; c--)
            {
                p = "<p>" + "(" + cartItems.items[c].quantity + ") " + cartItems.items[c].name + " - " + "$" + (cartItems.items[c].quantity * cartItems.items[c].price); + "</p>"
                let text = document.createElement("div");
                text.innerHTML = p;
                document.getElementById("checkoutCartItems").append(text);  
            }

            fillCartFormData();
        }

    }

    function fillCartFormData()
    {
        let cartItems = localStorage.getItem("cartItems");
        document.getElementById("cartAllItems").value = cartItems;

        cartItems = localStorage.getItem("cartItems");
        cartItems = JSON.parse(cartItems);

        let cartItem = cartItems.items;
        let totalPrice = null;

        for(let c = 0; c < cartItems.items.length; c++)
        {
            totalPrice += (cartItem[c].quantity * cartItem[c].price);
        }

        document.getElementById("cartTotalPrice").value = totalPrice;
    }

    function cartTotalPrice()
    {
        let cartItems = localStorage.getItem("cartItems");
        cartItems = JSON.parse(cartItems);

        let cartItem = cartItems.items;
        let totalPrice = null;

        for(let c = 0; c < cartItems.items.length; c++)
        {
            totalPrice += (cartItem[c].quantity * cartItem[c].price);
        }

        return totalPrice;
    }

    function cartItemPlus(item)
    {
        let itemsArray = [];
        cart = JSON.parse(localStorage.getItem("cartItems"));
            
        //populate itemsArray with items from cart
        for(let c = 0; c < cart.items.length; c++)
        {
            itemsArray.push(cart.items[c]);
        }
        
        //check if item already exists in cart
        for(let c = 0; c < itemsArray.length; c++)
        {
            if(itemsArray[c].id === item)
            {
                duplicateCheck = true;
                let itemQuantity = itemsArray[c].quantity;
                itemsArray[c].quantity = ++itemQuantity;
            }
        }

        if(duplicateCheck)
        {
            localStorage.setItem("cartItems", JSON.stringify({items: itemsArray}));
        }

        loadSideCart();
    }

    function cartItemMinus(item)
    {
        let itemsArray = [];
        cart = JSON.parse(localStorage.getItem("cartItems"));
            
        //populate itemsArray with items from cart
        for(let c = 0; c < cart.items.length; c++)
        {
            itemsArray.push(cart.items[c]);
        }
        
        //check if item already exists in cart
        for(let c = 0; c < itemsArray.length; c++)
        {
            if(itemsArray[c].id === item)
            {
                duplicateCheck = true;
                let itemQuantity = itemsArray[c].quantity;
                itemsArray[c].quantity = --itemQuantity;
            }
            if(itemsArray[c].quantity == 0)
            {
                document.getElementById("cart-item-" + itemsArray[c].id).remove();
                itemsArray.splice(c, 1);
            }
        }

        if(duplicateCheck)
        {
            localStorage.setItem("cartItems", JSON.stringify({items: itemsArray}));
        }

        loadSideCart();
    }

    function loadSideCart()
    {
        let cartItems = localStorage.getItem("cartItems");
        cartItems = JSON.parse(cartItems);
        
        if(cartItems == null || cartItems.items.length == 0)
        {
            var d = document.getElementById("side-cart");

            if(d != undefined ||d != null)
            {
                d.style.visibility = "hidden";
                d.style.display = "none";
            }
        }
        else
        {
            cartItems = localStorage.getItem("cartItems");
            cartItems = JSON.parse(cartItems);

            let cartItem = cartItems.items;
            let cartItemsDiv = document.getElementById("cart-items").innerHTML = "";
        
            for(let c = 0; c < cartItems.items.length; c++)
            {
                //divs
                let cartItemHolderDiv = document.createElement("div");
                cartItemHolderDiv.id ="cart-item-" + cartItem[c].id;
                cartItemHolderDiv.className = "cart-item";
                
                let cartItemX = document.createElement("div");
                cartItemX.id = "cart-item";
                cartItemX.innerHTML = "(" + cartItem[c].quantity + ") " + cartItem[c].name + " - " + "$" + (cartItem[c].quantity * cartItem[c].price);
                
                //buttons
                let buttonAdd = document.createElement("button");
                buttonAdd.className = "cart-item-add-one-button";
                buttonAdd.value = cartItem[c].id;
                buttonAdd.onclick = function(){cartItemPlus(cartItem[c].id)};
                buttonAdd.innerHTML = " + ";
                
                let buttonRemove = document.createElement("button");
                buttonRemove.className = "cart-item-remove-one-button";
                buttonRemove.value = cartItem[c].id;
                buttonRemove.onclick = function(){cartItemMinus(cartItem[c].id)};
                buttonRemove.innerHTML = " - ";
                
                //prepends
                document.getElementById("cart-items").prepend(cartItemHolderDiv);
                document.getElementById("cart-item-" + cartItem[c].id).prepend(buttonAdd);
                document.getElementById("cart-item-" + cartItem[c].id).prepend(cartItemX);
                document.getElementById("cart-item-" + cartItem[c].id).prepend(buttonRemove);
            }
            
            //side cart
            let totalPrice = document.getElementById("total-price").innerHTML = "Total: " + "$" + cartTotalPrice();
            let totalPriceMobile = document.getElementById("total-price-mobile").innerHTML = "Total: " + "$" + cartTotalPrice();
            let sideCartVisibility = document.getElementById("side-cart").style.visibility = "visible";
            let sideCartDisplay = document.getElementById("side-cart").style.display = "inline-block";

            fillCartFormData();
        }
    }

    function updateCart(buttonNumber, itemName, itemPrice)
    {
        let itemsArray = [];
        let duplicateCheck = false;
        let cart = localStorage.getItem("cartItems");
                
        if(cart == null)
        {
            itemsArray.push({id: buttonNumber, name: itemName, price: itemPrice, quantity: 1});
            localStorage.setItem("cartItems", JSON.stringify({items: itemsArray}));
        }

        else
        {
            cart = JSON.parse(localStorage.getItem("cartItems"));
            
            //populate itemsArray with items from cart
            for(let c = 0; c < cart.items.length; c++)
            {
                itemsArray.push(cart.items[c]);
            }
            
            //check if item already exists in cart
            for(let c = 0; c < itemsArray.length; c++)
            {
                if(itemsArray[c].id === buttonNumber)
                {
                    duplicateCheck = true;
                    let itemQuantity = itemsArray[c].quantity;
                    itemsArray[c].quantity = ++itemQuantity;
                }
            }

            if(duplicateCheck)
            {
                localStorage.setItem("cartItems", JSON.stringify({items: itemsArray}));
            }

            else
            {
                itemsArray.push({id: buttonNumber, name: itemName, price: itemPrice, quantity: 1});
                localStorage.setItem("cartItems", JSON.stringify({items: itemsArray}));
            }
            
        }

        loadSideCart();
    }

    function setRestaurantLocalStorage(restaurant)
    {
        let r = localStorage.getItem("restaurant");
        
        //clears cart if select new restaurant
        if(r != restaurant)
        {
            clearCart();
        }

        localStorage.setItem("restaurant", restaurant);
    }

    function searchBoxRestaurantMenu(totalMenuItems)
    {
        let searchBoxInput = document.getElementById("searchBoxInput").value
        let searchString = String(searchBoxInput).toLowerCase();
        let menuItemCategories = [];

        for(let c = 1; c <= totalMenuItems; c++)
        {
            let menuItem = document.getElementById("menu-item#" + c)
            let menuItemCategory = document.getElementById("menu-item#" + c + "-category")
            
            if(menuItem.innerHTML.toLowerCase().includes(searchString))
            {
                menuItemCategories.push(menuItemCategory.innerHTML.toLowerCase());
                menuItem.style.opacity = "100%";
                menuItem.style.display = "block";
                menuItem.parentNode.style.display = "block";
            }
            else
            {
                menuItem.style.opacity = "25%";
                menuItem.style.display = "none";
                menuItem.parentNode.style.display = "none";
            }

        }

        for(let c = 0; c < menuItemCategories.length; c++)
        {
            let menuCategory = menuItemCategories[c];
            let category = document.getElementById("menu-category-" + menuCategory)

            category.style.display = "block";      
        }
    }

    shortcut.add("escape", function() {document.getElementById("modalButton").click()});
</script>

<style>
    ::-webkit-scrollbar { width: 0px; }

    body { height: 100vh; background-color: #3c41d6 }

    .menu-category { border-top: 0px solid black; }
    .menu-item
    {
        /* display: inline-block; */  
        max-width: 520px;
        padding: 10px 0px 0px 0px;
        margin: auto;
        border: 0px solid black;
        box-shadow: 2px 1px black;
        color: black;
        border-bottom: 1px solid black;
        background-color: white; /* #f7f9f9 */
    }
    .restaurantInfoText { max-width: 250px; margin: auto; font-weight: bold; user-select: none; color: black; }
    .menuCategoryTitle 
    { 
        max-width: 520px; 
        margin: auto; 
        margin-top: 20px; 
        margin-bottom: 2px; 
        user-select: none; 
        /* text-shadow: 1px 0px white;  */
        text-align: left;
        color: black; 
    }
    .menu-item-texts { user-select: none; }

    #menu 
    {
        display: inline-block;
        /* height: 100%; */
        /* height: 86vh; */
        /* width: 730px; */
        padding: 0px;
        margin: 0px;
        color: #f7f9f9;
        background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.rubicon.com%2Fwp-content%2Fuploads%2F2021%2F06%2Fcardboard-box.jpg&f=1&nofb=1&ipt=4a3a147a73a2368ca907d049fe15a253364146f73296375f425a56a605b31190&ipo=images');
        background-color: #3c41d6;
        border-right: 2px solid black;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }
    #main-menu { margin: 0px; padding: 0px; height: 96vh; overflow-y: scroll; }
    #side-cart
    {
        display: inline-block;
        position: fixed;
        width: 350px;
        padding: 0px;
        margin: 0px;
        visibility: hidden;
        vertical-align: top;
        border-right: 2px solid black;
        border-left: 2px solid black;
    }
    #restaurantTitle { margin: auto; margin-top: 12px; margin-bottom: 11px; }
    #restaurantDetailRestaurantIsClosed { margin: 0px; margin: auto; padding: 20px 0px 0px 0px; color: red; }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        .menuCategoryTitle { text-align: center; }
        .menu-item p 
        {
            text-align: left;
            margin-left: -10px;
        }

        #main-menu { height: 94vh; }
        #side-cart
        {
            display: none;
            position: relative;
            margin-bottom: -2px;
            margin-left: 1px;
            padding-bottom: 4px;
            width: 98vw;
        }
    }
</style>


<body onload="loadSideCart()">
    <script> setRestaurantLocalStorage('<%=restaurant.title %>'); </script>

    <!-- nav menu -->
    <% if(admin != null && admin == true) { %> <!-- admin view -->
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    <% } else if(loggedIn == true) { %> <!-- logged in user view -->
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    <% } else { %> <!-- anonmymous view -->
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <% } %> 

    <!-- modal -->
    <modal>
        <div hidden id="informAnonModal">
            <button id="modalButton" onclick="InformAnonClose()" style="margin-top: -1px;">X</button>

            <br />
            <br />
            
            <p><b>You need to register or login to order</b></p>
            
            <br />

            <button style="height: 30px; width: 100px; opacity: 100%;"><a href="/login"><b>Login</b></a></button>     
            <button style="margin-left: -6px; height: 30px; width: 100px; opacity: 100%;"><a href="/register"><b>Register</b></a></button>
            
            <p></p>

            <br />
            <br />
        </div>
    </modal>

    <!-- menu -->
    <main id="main-menu" class="centered">
        <div id="menu"> <!-- style="background-image: url('/pics/moroccan-flower-dark.png');" -->
            <% var date = new Date().getDay() %>
                
            <% if (date == 0) { %>
                <% date = 7; %>
            <% } %>
            
            <% if(restaurant.open == false) { %>
                <h1 class="restaurantInfoText" id="restaurantDetailRestaurantIsClosed">Closed</h1>
            <% } %>

            <h1 class="restaurantInfoText" id="restaurantTitle"><%=restaurant.title %></h1>
            
            <!-- <div class="card__image"> -->
                <!-- <img src="/<%=restaurant.image %>"> //hosted on server -->
                <!-- <img src="<%=restaurant.imageUrl %>"> //link to another site -->
            <!-- </div> -->
            
            
            <p class="restaurantInfoText"><b>Type</b> · <%=restaurant.type %></p>
            <p class="restaurantInfoText"><b>Phone</b> · <%=restaurant.phone %></p>
            <p class="restaurantInfoText"><b>Address</b> · <%=restaurant.address %></p>
            
            <br />
            
            <!-- hours -->
            <div class="restaurantInfoText">
                <!-- <b>Hours</b> -->
                <% for(let c = 0; c < restaurant.hours.length; c++) { %>
                    <% if(restaurant.hours[c].time == "Closed") { %>
                        <p style="color: red;"><%=restaurant.hours[c].day %> <%=restaurant.hours[c].time %></p>
                    <% } else if(date == c + 1) { %>
                        <p style="color: green;"><b><%=restaurant.hours[c].day %> <%=restaurant.hours[c].time %></b></p>
                    <% } else { %>
                    <p><%=restaurant.hours[c].day %> <%=restaurant.hours[c].time %></p>
                    <% } %>
                <% } %>
            </div>

            
            <br />

            <!-- description -->
            <div>
                <!-- <b>About</b> -->
                <p  class="restaurantInfoText"><%= restaurant.description %></p>
            </div>
            
            <br />
            <br />
            
            <% var restaurantMenuItemsLength = null %>

            <% if(restaurant.menuItems == null) { %>
                <% restaurantMenuItemsLength = 0; %>
            <% } else { %>
                <% restaurantMenuItemsLength = restaurant.menuItems.length %>
            <% } %>

            <!-- search -->
            <% if(restaurantMenuItemsLength != 0) { %>
                <div id="searchBox" onkeyup="searchBoxRestaurantMenu('<%=restaurantMenuItemsLength %>')">
                    <input class="search-restaurant-detail" id="searchBoxInput" placeholder="Search..." style="margin: 0px; padding: 0px; height: 50px; border-top: 0px solid black; border-bottom: 0px solid black; background-color: #f7f9f9;"></input>
                </div>
            <% } %>
            
            <!-- populate menu -->
            <% for(let c = 0; c < restaurant.menuCategories.length; c++) { %>
                <% let restaurantCategory = restaurant.menuCategories[c].categoryName %>
                <div id="menu-category-<%=restaurantCategory.charAt(0).toLowerCase() + restaurantCategory.slice(1) %>" class="menu-category">

                    <% if(c == 0) { %>
                        <br />
                    <% } %>
                
                    <% if(c != 0) { %>
                        <!-- <hr> -->
                    <% } %>


                    <h2 class="menuCategoryTitle"><%=restaurantCategory.charAt(0).toUpperCase() + restaurantCategory.slice(1) %></h2>
                    
                    <% for(let c = 0; c < restaurantMenuItemsLength; c++) { %>
                        
                        <% if(restaurant.menuItems[c].category == restaurantCategory) { %>
                            <div id="menu-item#<%=c + 1 %>" class="menu-item">
                                <div class="menu-item-texts">
                                    <p><b><%=restaurant.menuItems[c].title %></b></p>
                                    <p><%=restaurant.menuItems[c].description %></p>
                                    <p>$<%=restaurant.menuItems[c].price %></p>
                                </div>

                                <p hidden id="menu-item#<%=c + 1 %>-category"><%=restaurantCategory.charAt(0).toUpperCase() + restaurantCategory.slice(1) %></p>

                                <% if(loggedIn == true && restaurant.open == true) { %>
                                    <div class="menu-item-add-to-cart-button">
                                        <% let buttonNumber = c %>
                                        <button id="buttonAddToCart" onclick="updateCart('<%=buttonNumber %>', '<%=restaurant.menuItems[c].title %>', '<%=restaurant.menuItems[c].price %>')" class="cart-add-to-cart-button">+</button></a>
                                    </div>
                                <% } else if(loggedIn != true && restaurant.open == true) { %>
                                    <div class="menu-item-add-to-cart-button">
                                        <% let buttonNumber = c %>
                                        <button onclick="InformAnonOpen()" class="cart-add-to-cart-button" style="border: 1px solid black;">+</button></a>
                                    </div>
                                <% } else if(restaurant.open != true) { %>
                                    <div class="menu-item-add-to-cart-button">
                                        <% let buttonNumber = c %>
                                        <button onclick="" class="cart-add-to-cart-button" style="border: 1px solid black;">+</button></a>
                                    </div>
                                <% } %>                          
                            </div>        
                        <% } %>
                    <% } %>
                    
                    <br />
                    <br />

                </div>
            <% } %>
        </div>
        </div>
 
        <!-- side cart -->
        <% if(loggedIn == true && restaurant.open == true) { %>
        <div id="side-cart">
            <form action="/checkout" method="POST" style="background-color: black;">
                <h3 id="total-price" style="background-color: #f7f9f9;"></h3>
                <h3 id="total-price-mobile" style="margin-bottom: 2px; background-color: #f7f9f9;"></h3>
                
                <div id="cart-items"></div> 
                
                <textarea id="customerComment" name="customerComment" value="" maxlength="255" placeholder="Comment to Restaurant" onfocus="this.placeholder=''" onblur="this.placeholder='Comment to Restaurant'"></textarea>
                
                <button id="order-button-mobile" type="submit" style="margin-top: -2px;"><b>Checkout</b></button>
                
                <input hidden id="cartAllItems" name="cartAllItems"></input>
                <input hidden id="cartTotalPrice" name="cartTotalPrice"></input>
                <input hidden name="restaurant" value='<%=restaurantUrl %>'></input>
                <button id="order-button" type="submit"><b>Checkout</b></button>
            </form>
        </div>
        <% } %>
    </main>
</body>
</html>