<!DOCTYPE html>
<html lang="en" style="background-color: lightgray">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/restaurant.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <script src="/js/shortcuts.js"></script>
    <script>
        //modals
        function InformAnonOpen()
        {
            var modalBox = document.getElementById("informAnonModal");

            modalBox.style.display = "block";
        }

        function InformAnonClose()
        {
            var modalBox = document.getElementById("informAnonModal");

            modalBox.style.display = "none";
        }

        //cart
        function clearCart()
        {
            localStorage.removeItem("cartItems");
        }

        function cartAllItems()
        {
            var cartItems = localStorage.getItem("cartItems");
            cartItems = JSON.parse(cartItems);
            var p = "";
            
            if(cartItems != null)
            {
                for(let c = cartItems.items.length - 1; c >= 0; c--)
                {
                    p = "<p>" + "(" + cartItems.items[c].quantity + ") " + cartItems.items[c].name + " - " + "$" + (cartItems.items[c].quantity * cartItems.items[c].price); + "</p>"
                    var text = document.createElement("div");
                    text.innerHTML = p;
                    document.getElementById("checkoutCartItems").append(text);  
                }

                fillCartFormData();
            }
 
        }

        function fillCartFormData()
        {
            var cartItems = localStorage.getItem("cartItems");
            document.getElementById("cartAllItems").value = cartItems;

            var cartItems = localStorage.getItem("cartItems");
            cartItems = JSON.parse(cartItems);
            var cartItem = cartItems.items;
            var totalPrice = null;

            for(let c = 0; c < cartItems.items.length; c++)
            {
                totalPrice += (cartItem[c].quantity * cartItem[c].price);
            }

            document.getElementById("cartTotalPrice").value = totalPrice;
        }

        function cartTotalPrice()
        {
            var cartItems = localStorage.getItem("cartItems");
            cartItems = JSON.parse(cartItems);
            var cartItem = cartItems.items;
            var totalPrice = null;

            for(let c = 0; c < cartItems.items.length; c++)
            {
                totalPrice += (cartItem[c].quantity * cartItem[c].price);
            }

            return totalPrice;
        }

        function cartItemPlus(item)
        {
            let itemsArray = [];
            cart = JSON.parse(localStorage.getItem("cartItems"));
                
            //populate itemsArray with items from cart
            for(let c = 0; c < cart.items.length; c++)
            {
                itemsArray.push(cart.items[c]);
            }
            
            //check if item already exists in cart
            for(let c = 0; c < itemsArray.length; c++)
            {
                if(itemsArray[c].id === item)
                {
                    duplicateCheck = true;
                    let itemQuantity = itemsArray[c].quantity;
                    itemsArray[c].quantity = ++itemQuantity;
                }
            }

            if(duplicateCheck)
            {
                localStorage.setItem("cartItems", JSON.stringify({items: itemsArray}));
            }

            loadSideCart();
        }

        function cartItemMinus(item)
        {
            let itemsArray = [];
            cart = JSON.parse(localStorage.getItem("cartItems"));
                
            //populate itemsArray with items from cart
            for(let c = 0; c < cart.items.length; c++)
            {
                itemsArray.push(cart.items[c]);
            }
            
            //check if item already exists in cart
            for(let c = 0; c < itemsArray.length; c++)
            {
                if(itemsArray[c].id === item)
                {
                    duplicateCheck = true;
                    let itemQuantity = itemsArray[c].quantity;
                    itemsArray[c].quantity = --itemQuantity;
                }

                if(itemsArray[c].quantity == 0)
                {
                    document.getElementById("cart-item-" + itemsArray[c].id).remove();
                    itemsArray.splice(c, 1);
                }
            }

            if(duplicateCheck)
            {
                localStorage.setItem("cartItems", JSON.stringify({items: itemsArray}));
            }

            loadSideCart();
        }

        function loadSideCart()
        {
            var cartItems = localStorage.getItem("cartItems");
            cartItems = JSON.parse(cartItems);
            
            if(cartItems == null || cartItems.items.length == 0)
            {
                var d = document.getElementById("side-cart");

                if(d != undefined ||d != null)
                {
                    d.style.visibility = "hidden";
                    d.style.display = "none";
                }
            }

            else
            {
                var cartItems = localStorage.getItem("cartItems");
                cartItems = JSON.parse(cartItems);
                var cartItem = cartItems.items;
                var cartItemsDiv = document.getElementById("cart-items").innerHTML = "";
            
                for(let c = 0; c < cartItems.items.length; c++)
                {
                    //divs
                    var cartItemHolderDiv = document.createElement("div");
                    cartItemHolderDiv.id ="cart-item-" + cartItem[c].id;
                    cartItemHolderDiv.className = "cart-item";
                    
                    var cartItemX = document.createElement("div");
                    cartItemX.id = "cart-item";
                    cartItemX.innerHTML = "(" + cartItem[c].quantity + ") " + cartItem[c].name + " - " + "$" + (cartItem[c].quantity * cartItem[c].price);
                    
                    //buttons
                    var buttonAdd = document.createElement("button");
                    buttonAdd.className = "cart-item-add-one-button";
                    buttonAdd.value = cartItem[c].id;
                    buttonAdd.onclick = function(){cartItemPlus(cartItem[c].id)};
                    buttonAdd.innerHTML = " + ";
                    
                    var buttonRemove = document.createElement("button");
                    buttonRemove.className = "cart-item-remove-one-button";
                    buttonRemove.value = cartItem[c].id;
                    buttonRemove.onclick = function(){cartItemMinus(cartItem[c].id)};
                    buttonRemove.innerHTML = " - ";
                    
                    //prepends
                    document.getElementById("cart-items").prepend(cartItemHolderDiv);
                    document.getElementById("cart-item-" + cartItem[c].id).prepend(buttonAdd);
                    document.getElementById("cart-item-" + cartItem[c].id).prepend(cartItemX);
                    document.getElementById("cart-item-" + cartItem[c].id).prepend(buttonRemove);
                }
                
                //side cart
                var totalPrice = document.getElementById("total-price").innerHTML = "Total: " + "$" + cartTotalPrice();
                var totalPriceMobile = document.getElementById("total-price-mobile").innerHTML = "Total: " + "$" + cartTotalPrice();
                var sideCartVisibility = document.getElementById("side-cart").style.visibility = "visible";
                var sideCartDisplay = document.getElementById("side-cart").style.display = "inline-block";

                fillCartFormData();
            }
        }

        function updateCart(buttonNumber, itemName, itemPrice)
        {
            let itemsArray = [];
            let duplicateCheck = false;
            let cart = localStorage.getItem("cartItems");
                    
            if(cart == null)
            {
                itemsArray.push({id: buttonNumber, name: itemName, price: itemPrice, quantity: 1});
                localStorage.setItem("cartItems", JSON.stringify({items: itemsArray}));
            }

            else
            {
                cart = JSON.parse(localStorage.getItem("cartItems"));
                
                //populate itemsArray with items from cart
                for(let c = 0; c < cart.items.length; c++)
                {
                    itemsArray.push(cart.items[c]);
                }
                
                //check if item already exists in cart
                for(let c = 0; c < itemsArray.length; c++)
                {
                    if(itemsArray[c].id === buttonNumber)
                    {
                        duplicateCheck = true;
                        let itemQuantity = itemsArray[c].quantity;
                        itemsArray[c].quantity = ++itemQuantity;
                    }
                }

                if(duplicateCheck)
                {
                    localStorage.setItem("cartItems", JSON.stringify({items: itemsArray}));
                }

                else
                {
                    itemsArray.push({id: buttonNumber, name: itemName, price: itemPrice, quantity: 1});
                    localStorage.setItem("cartItems", JSON.stringify({items: itemsArray}));
                }
                
            }

            loadSideCart();
        }

        function setRestaurantLocalStorage(restaurant)
        {
            let r = localStorage.getItem("restaurant");
            
            //clears cart if select new restaurant
            if(r != restaurant)
            {
                clearCart();
            }

            localStorage.setItem("restaurant", restaurant);
        }

        function searchBoxRestaurantMenu(totalMenuItems)
        {
            var searchBoxInput = document.getElementById("searchBoxInput").value
            var searchString = String(searchBoxInput).toLowerCase();
            var menuItemCategories = [];

            for(var c = 1; c <= totalMenuItems; c++)
            {
                var menuItem = document.getElementById("menu-item#" + c)
                var menuItemCategory = document.getElementById("menu-item#" + c + "-category")
                
                if(menuItem.innerHTML.toLowerCase().includes(searchString))
                {
                    menuItemCategories.push(menuItemCategory.innerHTML.toLowerCase());
                    menuItem.style.opacity = "100%";
                    menuItem.style.display = "block";
                    menuItem.parentNode.style.display = "block";
                }

                else
                {
                    menuItem.style.opacity = "25%";
                    menuItem.style.display = "none";
                    menuItem.parentNode.style.display = "none";
                }

            }

            for(var c = 0; c < menuItemCategories.length; c++)
            {
                var menuCategory = menuItemCategories[c];
                var category = document.getElementById("menu-category-" + menuCategory)
                category.style.display = "block";      
            }
        }

        shortcut.add("escape", function() {document.getElementById("modalButton").click()});
    </script>
</head>
<nav>
    <!-- admin view -->
    <% if(admin != null && admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    
    <!-- anonmymous view -->
    <% } else { %>
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <% } %> 
</nav>
<body onload="loadSideCart()">
    <script> setRestaurantLocalStorage('<%=restaurant.title %>'); </script>

    <!-- modal -->
    <modal>
        <div hidden id="informAnonModal">
            <button id="modalButton" onclick="InformAnonClose()" style="margin-top: -1px;">X</button>

            <br />
            <br />
            
            <p><b>You need to register or login to order</b></p>
            
            <br />

            <button style="height: 30px; width: 100px; opacity: 100%;"><a href="/login"><b>Login</b></a></button>     
            <button style="margin-left: -6px; height: 30px; width: 100px; opacity: 100%;"><a href="/register"><b>Register</b></a></button>
            
            <p></p>

            <br />
            <br />
        </div>
    </modal>

    <!-- menu -->
    <main id="main-menu" class="centered">
        <div id="menu" style="background-image: url('/pics/moroccan-flower-dark.png');">
            <div id="testBackground" style="background-color: #0000009c">
            <% var date = new Date().getDay() %>
                
            <% if (date == 0) { %>
                <% date = 7; %>
            <% } %>
            
            <div style="background-color: #f7f9f9;">
                <h1 style="margin: 0px; padding: 0px; padding-top: 6px; padding-bottom: 7px; height: 37px; border-bottom: 0px solid black; color: black;"><%=restaurant.title %></h1>
            </div>
            
            <% if(restaurant.open == false) { %>
                <div id="restaurantDetailRestaurantIsClosed">
                    <h1>Closed</h1>
                </div>
            <% } %>

            <br />

            <div class="card__image">
                <!-- <img src="/<%=restaurant.image %>"> //hosted on server -->
                <img src="<%=restaurant.imageUrl %>"> <!-- //link to another site -->
            </div>

            <br />
            
            <!-- hours -->
            <div>
                <b>Hours</b>
                <% for(let c = 0; c < restaurant.hours.length; c++) { %>
                    <% if(date == c + 1) { %>
                        <p style="color: green;"><%=restaurant.hours[c].day %> <%=restaurant.hours[c].time %></p>
                    <% } else { %>
                    <p><%=restaurant.hours[c].day %> <%=restaurant.hours[c].time %></p>
                    <% } %>
                <% } %>
            </div>

            <br />

            <!-- phone -->
            <b>Phone</b>
            <p><%=restaurant.phone %></p>

            <br />

            <!-- address -->
            <b>Address</b>
            <p><%=restaurant.address %></p>
                            
            <br />

            <!-- type -->
            <b>Type</b>
            <p><%=restaurant.type %></p>

            <br />
            
            <!-- description -->
            <div>
                <b>About</b>
                <p style="margin: auto; margin-bottom: 7px; max-width: 250px;"><%= restaurant.description %></p>
            </div>
            
            <br />
            
            <% var restaurantMenuItemsLength = null %>

            <% if(restaurant.menuItems == null) { %>
                <% restaurantMenuItemsLength = 0; %>
            <% } else { %>
                <% restaurantMenuItemsLength = restaurant.menuItems.length %>
            <% } %>

            <!-- search -->
            <% if(restaurantMenuItemsLength != 0) { %>
                <div id="searchBox" onkeyup="searchBoxRestaurantMenu('<%=restaurantMenuItemsLength %>')">
                    <input class="search-restaurant-detail" id="searchBoxInput" placeholder="Search..." style="margin: 0px; padding: 0px; height: 50px; border-top: 0px solid black; border-bottom: 0px solid black; background-color: #f7f9f9;"></input>
                </div>
            <% } %>
            
            <!-- populate menu -->
            <% for(let c = 0; c < restaurant.menuCategories.length; c++) { %>
                <% let restaurantCategory = restaurant.menuCategories[c].categoryName %>
                <div id="menu-category-<%=restaurantCategory.charAt(0).toLowerCase() + restaurantCategory.slice(1) %>" class="menu-category">

                    <% if(c == 0) { %>
                        <br />
                    <% } %>
                
                    <% if(c != 0) { %>
                        <hr>
                    <% } %>


                    <h2><%=restaurantCategory.charAt(0).toUpperCase() + restaurantCategory.slice(1) %></h2>
                    
                    <% for(let c = 0; c < restaurantMenuItemsLength; c++) { %>
                        
                        <% if(restaurant.menuItems[c].category == restaurantCategory) { %>
                            <div id="menu-item#<%=c + 1 %>" class="menu-item">
                                <div class="menu-item-texts">
                                    <p><b><%=restaurant.menuItems[c].title %></b></p>
                                    <p><%=restaurant.menuItems[c].description %></p>
                                    <p>$<%=restaurant.menuItems[c].price %></p>
                                </div>

                                <p hidden id="menu-item#<%=c + 1 %>-category"><%=restaurantCategory.charAt(0).toUpperCase() + restaurantCategory.slice(1) %></p>

                                <% if(loggedIn == true && restaurant.open == true) { %>
                                    <div class="menu-item-add-to-cart-button">
                                        <% let buttonNumber = c %>
                                        <button id="buttonAddToCart" onclick="updateCart('<%=buttonNumber %>', '<%=restaurant.menuItems[c].title %>', '<%=restaurant.menuItems[c].price %>')" class="cart-add-to-cart-button">+</button></a>
                                    </div>
                                <% } else if(loggedIn != true && restaurant.open == true) { %>
                                    <div class="menu-item-add-to-cart-button">
                                        <% let buttonNumber = c %>
                                        <button onclick="InformAnonOpen()" class="cart-add-to-cart-button" style="border: 1px solid black;">+</button></a>
                                    </div>
                                <% } else if(restaurant.open != true) { %>
                                    <div class="menu-item-add-to-cart-button">
                                        <% let buttonNumber = c %>
                                        <button onclick="" class="cart-add-to-cart-button" style="border: 1px solid black;">+</button></a>
                                    </div>
                                <% } %>                          
                            </div>        
                        <% } %>
                    <% } %>
                    
                    <br />
                    <br />

                </div>
            <% } %>
        </div>
        </div>
 
        <!-- side cart -->
        <% if(loggedIn == true && restaurant.open == true) { %>
        <div id="side-cart">
            <form action="/checkout" method="POST" style="background-color: black;">
                <button id="order-button" type="submit"><b>Checkout</b></button>
                <h3 id="total-price-mobile" style="margin-bottom: 2px; background-color: #f7f9f9;"></h3>
                
                <div id="cart-items"></div> 
                
                <textarea id="customerComment" name="customerComment" value="" maxlength="255" placeholder="Comment to Restaurant" onfocus="this.placeholder=''" onblur="this.placeholder='Comment to Restaurant'"></textarea>
                
                <button id="order-button-mobile" type="submit" style="margin-top: -2px;"><b>Checkout</b></button>
                <h3 id="total-price" style="margin-top: -2px;" style="background-color: #f7f9f9;"></h3>
                                
                <input hidden id="cartAllItems" name="cartAllItems"></input>
                <input hidden id="cartTotalPrice" name="cartTotalPrice"></input>
                <input hidden name="restaurant" value='<%=restaurantUrl %>'></input>
            </form>
        </div>
        <% } %>
    </main>
</body>
</html>