<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temp Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/functionality.js"></script>
    <script>

        function saveScrollPosition()
        {
            var y = window.scrollY;
            localStorage.setItem("scrollPositionY", y);
        }

        function loadSavedScrollPosition()
        {
            var positionY = localStorage.getItem("scrollPositionY");
            window.scrollTo(0, positionY)
        }

        function refreshPage()
        {
            location.reload()
        }
        
        setInterval(refreshPage, 60000);
        
    </script>
</head>
<body onload="loadSavedScrollPosition()" onscroll="saveScrollPosition()">
    <header id="confirmOrderHeader">
        <br />
        <h2 id="confirmOrderTitle">total confirmed orders: <%=orders.length %></h2>
        <!-- <p id="confirmOrderPendingOrderInfo">total pending orders: <%=orders.length %></p> -->
    </header>
    <br />
    <% for(var c = orders.length - 1; c >= 0; c--) { %>
    <div id="customerOrder#<%=c %>" class="customerOrder" data-value="<%=c %>">
        <p>id: <%=orders[c]._id %></p>
        <p>date: <%=orders[c].date %></p>
        <p>estimated time: <%=orders[c].estimatedTime %></p>

        <br />
        <p>name: <%=orders[c].name %></p>
        <p>address: <%=orders[c].name %></p>
        <p>phone: <%=orders[c].phone %></p>
        <p>total price: <%=orders[c].totalPrice %></p>
        <p>comment: <%=orders[c].comment %></p>
        <p>delivery: <%=orders[c].delivery %></p>
        <p>pickup: <%=orders[c].pickup %></p>
        
        <br />
        <p>food items:</p>
        <% for(var x = 0; x < orders[c].products.items.length; x++) { %>
            <p><%= orders[c].products.items[x].name %> (<%= orders[c].products.items[x].quantity %>)</p>
        <% } %>

        <br />
        
        <form id="updateOrderCompletionTime#<%=c %>" action="/order-update" method="POST">
            <input hidden id="inputOrderId#<%=c %>" name="orderId" value='<%=orders[c]._id %>'></input>
            <input hidden id="inputOrderStatus#<%=c %>" name="status" value="completed"></input>
            <button id="completeCustomerOrder#<%=c %>" class="completeCustomerOrder" type="button" onclick="orderCompleted('<%=c %>', '<%= orders[c]._id %>', value)">&#10003; mark as completed</button> <!-- onclick = ws data to client, update db, ws data to restaurant -->
        </form>

    </div>
    
    <br />
    <% } %>
</body>
</html>

