<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="js/functionality.js"></script>
</head>
<body>
    <!-- admin view -->
    <% if(admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    
    <!-- anonmymous view -->
    <% } else { %>
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <% } %>

    <br />

    <div id="searchBox" style="text-align: center"  onkeyup="searchBoxOrders('<%=orders.length %>')">
        <input id="searchBoxInput" style="width: 250px;" placeholder="Search..."></input>
    </div>

    <main id="main-orders">
        <% if (orders != null) { %>
        <div id="grid-orders">
            <% let counter = orders.length + 1; %>
            <% for (let order of orders.reverse()) { counter-- %>
                <br/>

                <div id="order-item#<%=counter %>" class="order-item">
                    <p><b>#<%=counter %></b></p>
                    <p><b>placed at:</b> <%=order.placedAt %></p>
                    <p><b>restaurant:</b> <%=order.restaurant %></p>
                    <p><b>status:</b> <%=order.status %></p>
                    <p><b>estimated time:</b> <%=order.estimatedCompletionTime %></p>
                    <p><b>type:</b> <%=order.type %></p>
                    <p><b>total amount:</b> <%=order.totalPrice %></p>
                    <!-- <p><a href="/reciepts/<%= order._id %>">order reciept PDF</a></p> -->
                    <p><a href='/order-details/<%=order._id %>'>details</a></p>
                </div>

            <% } %>
        </div>
        <% } else { %>
            <h1> No orders found</h1>
        <% } %>
    </main>

</body>
</html>