<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
</head>
<body>

    <p><b>id:</b> <%=order._id %></p>
    <p><b>date:</b> <%=order.date %></p>
    <p><b>total:</b> <%=order.totalPrice %></p>
    <b>items</b>
    <% for(var c = 0; c < order.products.items.length; c++) { %>
        <p>&emsp;<%=order.products.items[c].name %> - <%=order.products.items[c].quantity %> - ($<%=order.products.items[c].quantity * order.products.items[c].price %>)</p>
        <% } %>
    
</body>
</html>