<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="js/functionality.js"></script> -->
    <title>Order Process</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/functionality.js"></script>
    <script>
        var socket = new WebSocket("ws://localhost:65535");

        function x(orderId) 
        {
            //console.log("orderId: " + orderId);
            socket.send(orderId);
        }  

        function t(orderId)
        {
            socket.send(orderId);
        }

        socket.onopen = function(event) {
            //alert("socket is connected");
            //socket.send("socket is connected");
        };

        socket.onmessage = function(message) {
            //console.log(message.data);

            var regex = new RegExp("^order:<%=orderId %>:accepted:time=\\d\\d$");
            var str = message.data;
            //console.log(str);
            var regexMatch = regex.test(str);
            var substringTime = str.substring(str.length - 2, str.length);
            //console.log(result);
            
            if(regexMatch == true)
            {
                //console.log(":)");
                orderProcessOrderConfirmed(substringTime, '<%=order.delivery %>', '<%=order.pickUp %>');
                socket.close();
            }

            if(message.data == "order:<%=orderId %>:declined")
            {
                //console.log(":(");
                orderProcessOrderDeclined();
                socket.close();
            }
            
            //console.log(message);
            //console.log("confirm order");
        };
        
        /*
        socket.onopen = function(event) {
            alert("socket is connected");
            socket.send("websocket test message");
            console.log("socket is open");
            socket.close();
        };
        */

        /*
        socket.onclose = function(event) {
            console.log("socket is closed");
        }
        */
    </script>
</head>
<body onload=""> <!-- "fillCartFormData()" -->

    <!--
    <form action="/order-post" method="POST">
        <button type="submit" onclick="clearCart()">Pay</button>
        <input id="commentToRestaurant" name="commentToRestaurant" value="" maxlength="255" placeholder="Comment to Restaurant" onfocus="this.placeholder=''" onblur="this.placeholder='Comment to Restaurant'"></input>          
        <input id="cartAllItems" name="cartAllItems"></input>
        <input id="cartTotalPrice" name="cartTotalPrice"></input>
    </form>
    -->
    <div id="order-process-content">
        <p>order id: <%=order._id %></p>
        <p id="orderProcessPaymentInfoText">payment was successful</p>
        
        <img id="orderProcessImgLoadingGif" src="https://retchhh.files.wordpress.com/2015/03/loading2.gif"></img>
        <img hidden id="orderProcessImgCheckmarkPng" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fb%2Fbd%2FCheckmark_green.svg%2F2000px-Checkmark_green.svg.png&f=1&nofb=1"></img>
        <img hidden id="orderProcessImgDeclineCrossPng" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.pngall.com%2Fwp-content%2Fuploads%2F2016%2F04%2FRed-Cross-Mark-Free-PNG-Image.png&f=1&nofb=1"></img>
        
        <p id="orderProcessInfoText">waiting for restaurant to confirm time</p>
        <a href="/" style="text-decoration: none; color: black;">skip waiting go to start</a>
        <p hidden id="orderProcessEstimatedTime"></p>
        
        <a href="/order-details/<%=orderId %>" hidden id="OrderProcessWhenConfirmedDetailsLink" onclick="">show details</button>
        
        <br />
        
        <a href="/" hidden id="OrderProcessWhenConfirmedStartLink" onclick="">show start</button>
        
        <br />
        <!-- <a href="/orders" hidden id="OrderProcessWhenConfirmedAllOrdersLink" onclick="">show all orders</button> -->
    </div>
</body>
</html>
