

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- admin view -->
    <% if(admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    
    <!-- anonmymous view -->
    <% } else { %>
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <% } %>

    <main id="main-orders">
        <% if (orders != null) { %>
        <div id="grid-orders">
            <% let counter = orders.length + 1; %>
            <% for (let order of orders.reverse()) { counter-- %>
                <br/>

                <div id="order-item">
                    <p><b>#<%= counter %></b></p>
                    <p> <%= order.date %></p>
                    <p><%= order._id %></p>
                    <p><a href="/reciepts/<%= order._id %>">Order Reciept PDF</a></p>
                    <p>Total Items: <%= order.products.length %></p>
                    <p>Total Amount: <%= order.totalPrice %></p>
                </div>

            <% } %>
        </div>
        <% } else { %>
            <h1> No orders found</h1>
        <% } %>
    </main>

</body>
</html>