<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
</head>
<nav>
    <!-- admin view -->
    <% if(admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    
    <!-- anonmymous view -->
    <% } else { %>
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <% } %>
</nav>
<body id="body-order-details" style="background-color: lightgray;">
    <div id="main-order-details" style="border: 1px solid black;">
        <!-- title -->
        <h3 style="text-align: center; margin-left: -10px; margin-right: -10px; padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid black;"><%=order.restaurant %></h3>

        <br />

        <!-- meta -->
        <p><b>id:</b> <%=order._id %></p>
        <!-- <p><b>rating:</b> <%=order.rating %></p> -->
        <p><b>status:</b> <%=order.status %></p>    

        <!-- date info -->
        <p><b>placed at:</b> <%=order.placedAt %></p>
        <p><b>confirmed at:</b> <%=order.confirmedAt %></p>
        <p><b>completed at:</b> <%=order.completedAt %></p>
        
        <br />
        
        <!-- customer info -->
        <p><b>email:</b> <%=order.user %></p>
        <p><b>name:</b> <%=order.customerName %></p>
        <p><b>address:</b> <%=order.customerAddress %></p>
        <p><b>phone:</b> <%=order.customerPhone %></p>
        
        <br />
        
        <!-- order info -->
        <p><b>type:</b> <%=order.type %></p>
        <% if(order.status == "confirmed") { %>
            <p><b>estimated time:</b> <%=order.estimatedCompletionTime %> min</p>
        <% } %>
        <% if(order.comment != null) { %>
            <p><b>comment:</b> <%=order.customerComment %></p>
        <% } %>
        <p><b>items:</b></p>
        <% for(var c = 0; c < order.products.items.length; c++) { %>
            <p>(<%=order.products.items[c].quantity %>) <%=order.products.items[c].name %> - $<%=order.products.items[c].quantity * order.products.items[c].price %></p>
            <% } %>
        <br />
        <p><b>total:</b> <%=order.totalPrice %></p>
        <br />

        <% if(order.review != null) { %>
        <p><b>review:</b></p>
        <p>name: <%=order.review.name %></p>
        <p>rating: <%=order.review.rating %></p>
        <p>comment: <%=order.review.comment %></p>
        <% } %>
        <br />
    </div>
</body>
</html>