<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- admin view -->
    <% if(admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    
    <!-- anonmymous view -->
    <% } else { %>
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <% } %>

    <main id="main-orders">
        <% if (orders != null) { %>
        <div id="grid-orders">
            <% let counter = orders.length + 1; %>
            <% for (let order of orders.reverse()) { counter-- %>
                <br/>

                <div id="order-item">
                    <p><b>#<%=counter %></b></p>
                    <p>placed at: <%=order.placedAt %></p>
                    <p>restaurant: <%=order.restaurant %></p>
                    <p>status: <%=order.status %></p>
                    <p>etc: <%=order.estimatedCompletionTime %></p>
                    <p>delivery: <%=order.delivery %></p>
                    <p>total amount: <%=order.totalPrice %></p>
                    <!-- <p><a href="/reciepts/<%= order._id %>">order reciept PDF</a></p> -->
                    <p><a href='/order-details/<%=order._id %>'>details</a></p>
                </div>

            <% } %>
        </div>
        <% } else { %>
            <h1> No orders found</h1>
        <% } %>
    </main>

</body>
</html>