<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    <script src="/js/functionality.js"></script>
</head>

<body onload="loadSideCart()">
    <!-- admin view -->
    <% if(admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    
    <!-- anonmymous view -->
    <% } else { %>
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <% } %>

    <main id="main-menu" class="centered">
        <div id="menu">            
            <div>
                <h1><%= product.title %></h1>
            </div>
            <!-- <h1><%= product.title %></h1> -->
            <hr>
            
            <br />
            
            <div class="card__image">
                <img src="/<%= product.imageUrl %>">
            </div>

            <br />

            <div>
            <!-- <p><%= product._id %></p> -->
            <% for(let c = 0; c < product.hours.length; c++) { %>
                <p><%= product.hours[c] %></p>
            <% } %>
            <!-- <h2><%= product.price %></h2> -->
            </div>
            
            <br />
            
            <div>
            <p><%= product.description %></p>
            <!-- <p><%= product.description %></p> -->
            </div>
            
            <br />
            
            <hr>
            <% for(let c = 0; c < product.menuCategories.length; c++) { %>
                <% let productCategory = product.menuCategories[c] %>
                <div>
                <h2 id="menu-restaurant-title"><%= productCategory.charAt(0).toUpperCase() + productCategory.slice(1) %></h2>
                </div>
                
                <div>
                <% for(let c = 0; c < product.menu.length; c++) { %>
                
                    <% if(product.menu[c].category == productCategory) { %>
                    <div id="menu-item">
                        <!-- <p><%= product.menu[c].productId %></p> -->
                        <div id="menu-item-texts">
                            <p><b><%= product.menu[c].title %></b></p>
                            <p>$<%= product.menu[c].price %></p>
                            <p>Ingredients: <%= product.menu[c].description %></p>
                        </div>
                        <div id="menu-item-add-to-cart-button">
                            <% let buttonNumber = c %>
                            <button onclick="updateCart(<%=buttonNumber %>, '<%=product.menu[c].title %>', '<%=product.menu[c].price %>')" class="cart-add-to-cart-button">+</button></a>
                            <!-- <a href="/addToCart/<%= product._id %>&<%= product.menu[c].productId %>" class="btn"><button id="cart-add-to-cart-button">+</button></a> -->
                        </div>
                    </div>
                    <% } else { %>
                    <% } %>
                
                <% } %>
                </div>
                <br />
                
                <hr>
            <% } %>
        </div>
 
        <div id="side-cart">
            <form action="/checkout" method="POST">
                <button id="order-button" type="submit">Checkout</button>
                
                <input id="commentToRestaurant" name="commentToRestaurant" value="" maxlength="255" placeholder="Comment to Restaurant" onfocus="this.placeholder=''" onblur="this.placeholder='Comment to Restaurant'"></input>
                
                <div id="cart-items"></div> 
                                
                <div class="">
                    <h2 id="total-price"></h2>
                </div>
                
                <input hidden id="cartAllItems" name="cartAllItems"></input>
                <input hidden id="cartTotalPrice" name="cartTotalPrice"></input>
            </form>
        </div>
    </main>
</body>
</html>