<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>

    <!-- admin view -->
    <% if(admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    
    <!-- anonmymous view -->
    <% } else { %>
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <% } %>

    <main id="main-menu" class="centered">
        <div id="menu">
            <h1><%= product.title %></h1>
            <hr>
            <p><%= product._id %></p>
            <div class="card__image">
                <img src="/<%= product.imageUrl %>">
            </div>
            <h2><%= product.price %></h2>
            <p><%= product.description %></p>
            
            <form action="/cart" method="POST">
                <button class="btn" type="submit">Add to cart</button>
                <input type="hidden" name="productId" value="<%= product.id %>">
            </form>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        
        <div id="side-cart">
            <div>
                <button id="order-button">Submit</button>
            </div>

            <div class="cart-item">
                <p> asdasdsx </p>
            </div>
            
            <div class="cart-item">
                <p> asdasdsx </p>
            </div>

            <div class="cart-item">
                <p> asdasdsx </p>
            </div>

            <div class="cart-item">
                <p> asdasdsx </p>
            </div>

            <div class="cart-item">
                <p> asdasdsx </p>
            </div>
            
        </div>
    </main>
</body>
</html>