<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/functionality.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDBORRveWwr4pmBRwYBHvrcySfqndTVOUg&callback=GoogleMapsAdressAutocomplete" async defer></script>
</head>

<body>
    <!-- admin view -->
    <% if(admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    
    <!-- anonmymous view -->
    <% } else { %>
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <% } %>
    
    <main id="main-profile">
        <h2>Account Credentials</h2>

        <p style="color: red;"><b>Note: email and password change requires relog</b></p>

        <br />
        
        <button disabled class="profile-buttons">change email</button>

        <br />

        <button disabled class="profile-buttons">change password</button>

        <br />

        <button class="profile-buttons" onclick="editProfileCredentials()">change credentials</button>
        
        <br />
        <br />
        
        <div id="profileCredentials" style="display: block;">
            <p><b>email:</b> <%=email %></p>
            <p style="margin-right: 87px;"><b>name:</b> <%=name %></p>
            <p style="margin-right: 19px;"><b>phone:</b> <%=phone %></p>
            <p style="margin-left: 203px;"><b>address:</b> <%=address %></p>
            <p><b></b></p>
            <p><b></b></p>
            <p><b></b></p>
        </div>
    
        <br />
        
        <div id="editProfileCredentials" style="display: none">
            <form action="/user-update-credentials" method="POST" onkeydown="return event.key != 'Enter';">
                <input hidden value="<%=email %>" name="oldEmail"></input>
                <input hidden value="<%=email %>" name="newEmail" placeholder="email"></input>
                <b>name: </b><input value="<%=name %>" name="name" placeholder="name"></input>
                <br/>
                <b>phone: </b><input value="<%=phone %>" name="phone" placeholder="phone"></input>
                <br/>
                <!-- Search input -->
                <b>adress: </b><input id="searchInput" value="<%=address %>" style="width: 350px;">
                <input hidden id="userAddress" value="<%=address %>" name="address" placeholder="address"></input>
                <br/>
                <br/>
                <button class="profile-buttons" type="submit" onclick="">confirm</button>
            </form>
            
            <button class="profile-buttons"  onclick="editProfileCredentials()">decline</button>
        </div>

        <div hidden id="map"></div>
    </main>
</body>
</html>