<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- admin view -->
    <% if(admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    
    <!-- anonmymous view -->
    <% } else { %>
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <% } %>

    <main id="main-restaurants">
        <!-- <h1>My restaurants</h1>
        <p> List of all the restaurants...</p> -->
        <% if (restaurants.length > 0) { %>
            <div id="grid-restaurants" class="grid">
                <% for (let restaurant of restaurants) { %>
                    <a style="text-decoration: none; color: black" href="/restaurant/<%= restaurant.url %>">
            <article id="restaurant" class="card restaurant-item">
                <div class="card__image">
                    <img src="<%= restaurant.imageUrl %>" alt="<%= restaurant.title %>">
                </div>
                
                <div>
                    <header class="card__header">
                        <h1 class="restaurant">Restaurant</h1>
                    </header>
                </div>  

                <div class="card__content">
                    <h3 class="restaurant">Open</h3>
                    <h3 class="restaurant">Type</h3>
                    <h3 class="restaurant">Location</h3>
                    <h3 class="restaurant">Hours</h3>
                </div>
                
                <!--
                <div class="card__actions">
                    <a href="/restaurants/<%= restaurant._id %>" class="btn"><button>Details</button></a>
                    <a href="/cart/<%= restaurant._id %>" class="btn"><button>Details</button></a>
                </div>
                -->
            </article>
        </a>
       <% } %>
    </div>
    <% } else { %>
        <h1> No restaurants found</h1>
    <% } %>
    </main>
</body>
</html>