<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unconfirmed Orders</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <script>
        var socket = new WebSocket("ws://localhost:65535");

        /*
        function removeOrderDiv(buttonValue)
        {
            document.getElementById("updateOrderWithTime#" + buttonValue).submit();
            //document.getElementById("customerOrder#" + buttonValue).remove();
        }
        */
        
        function orderAccepted(buttonValue, orderId, time)
        {
            socket.send("order:" + orderId + ":accepted:" + "time=" + time);
            //socket.close();
            console.log(buttonValue);
            //document.getElementById("customerOrder#" + buttonValue).remove();
            //setTimeout(removeOrderDiv(buttonValue), 3000);
            document.getElementById("updateOrderWithTime#" + buttonValue).submit();
        }
        

        function orderDeclined(buttonValue, orderId)
        {
            
            socket.send("order:" + orderId + ":declined");
            //socket.close();

            console.log(buttonValue);
            document.getElementById("customerOrder#" + buttonValue).remove();
            
        }

        function orderTime(orderNumber, time)
        {
            document.getElementById("acceptCustomerOrder#" + orderNumber).value = time;
            document.getElementById("inputOrderTime#" + orderNumber).value = time;
        }

        function saveScrollPosition()
        {
            var y = window.scrollY;
            localStorage.setItem("scrollPositionY", y);
        }

        function loadSavedScrollPosition()
        {
            var positionY = localStorage.getItem("scrollPositionY");
            window.scrollTo(0, positionY)
        }

        function refreshPage()
        {
            location.reload()
        }
        
        setInterval(refreshPage, 60000);

        /*
        socket.onopen = function(event) {
        //alert("socket is connected");
        console.log("socket is open");
        socket.close();
        };

        socket.onclose = function(event) {
            console.log("socket is closed");
        }
        */
        
    </script>
</head>
<body onload="loadSavedScrollPosition()" onscroll="saveScrollPosition()">
    <% var sortedOrders = [] %>

    <% for(var c = orders.length - 1; c >= 0; c--) { %>
            <% if(orders[c].restaurant == "monza-pizzeria") { %>
               <% sortedOrders.push(orders[c]) %>
            <% } %>
    <% } %>
    <header id="confirmOrderHeader">
        <br />
        <h2 id="confirmOrderTitle">total unconfirmed orders: <%=sortedOrders.length %></h2>
        <!-- <p id="confirmOrderPendingOrderInfo">total pending orders: <%=orders.length %></p> -->
    </header>
    
    <br />

    <% for(var c = sortedOrders.length - 1; c >= 0; c--) { %>
    <div id="customerOrder#<%=c %>" class="customerOrder" data-value="<%=c %>">
        <!-- <p>#<%=c %></p> -->
        <p>id: <%=sortedOrders[c]._id %></p>
        <p>date: <%=sortedOrders[c].date %></p>

        <br />
        <p>restaurant: <%=sortedOrders[c].restaurant %></p>
        <p>name: <%=sortedOrders[c].name %></p>
        <p>address: <%=sortedOrders[c].name %></p>
        <p>phone: <%=sortedOrders[c].phone %></p>
        <p>total price: <%=sortedOrders[c].totalPrice %></p>
        <p>comment: <%=sortedOrders[c].comment %></p>
        <p>delivery: <%=sortedOrders[c].delivery %></p>
        <p>pickup: <%=sortedOrders[c].pickUp %></p>
        
        <br />
        <p>food items:</p>
        <% for(var x = 0; x < sortedOrders[c].products.items.length; x++) { %>
            <p><%= sortedOrders[c].products.items[x].name %> (<%= sortedOrders[c].products.items[x].quantity %>)</p>
        <% } %>
        
        <br />
        
        <form id="updateOrderWithTime#<%=c %>" action="/restaurantPortal/order-update" method="POST">
            <input hidden id="inputOrderId#<%=c %>" name="orderId" value='<%=orders[c]._id %>'></input>
            <input hidden id="inputOrderTime#<%=c %>" name="estimatedTime" value="60"></input>
            <input hidden id="inputOrderStatus#<%=c %>" name="status" value="confirmed"></input>
            <button id="acceptCustomerOrder#<%=c %>" class="acceptCustomerOrder" type="button" value="60" onclick="orderAccepted('<%=c %>', '<%= orders[c]._id %>', value)">&#10003; accept</button> <!-- onclick = ws data to client, update db, ws data to restaurant -->
            <button id="declineCustomerOrder#<%=c %>" class="declineCustomerOrder" type="button" onclick="orderDeclined('<%=c %>', '<%= orders[c]._id %>')" type="submit">X decline</button>
        </form>
        
        <b style="font-weight: normal;">set time:</b>
        <select id="customerOrderSetTime" onchange="orderTime('<%=c %>', this.value)">
            <option value="60">60 min</option>
            <option value="55">55 min</option>
            <option value="50">50 min</option>
            <option value="45">45 min</option>
            <option value="40">40 min</option>
            <option value="35">35 min</option>
            <option value="30">30 min</option>
            <option value="25">25 min</option>
            <option value="20">20 min</option>
            <option value="15">15 min</option>
        </select>
    </div>

    <br />
    
    <% } %>

</body>
</html>

